<section id="toolbar" class="toolbar-profile">
  <div class="user">
    <%= render partial: 'toolbar/logo',
               locals: { subject: subject } %>
    <% if current_subject.present? && subject != current_subject %>
    
    <% end %>
    <div class="contact-button">
      <%= contact_to subject %>

      <%= javascript_tag do %>
        $(function() {
          SocialStream.Contact.show();
        });
      <% end %>
    </div>

    <%= content_for :toolbar_menu do %>
    
  </div>
  <ul class="buttons">
    <li>
      <%= link_to [ subject, :profile ] do  %>
        <i class='icon_tool16-info'></i> <%= t 'menu.information' %>
      <% end %>
    </li>
    <li>
      <%= link_to [ subject, :profile ] do  %>
        <i class='icon_navbar-contacts'></i> <%= t 'menu.contacts' %>
      <% end %>
    </li>

    <% if SocialStream.repository_models.present? %>
      <li>
        <%= link_to [ subject, :repository ] do %>
          <%= image_tag 'icons/resources.png' %> <%= t 'repository.title' %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to new_message_path(:receiver => subject.slug) do %>
        <%= t 'send message' %>
      <% end %>
    </li>

    <div class="base_items"/>
  </ul>
<% end %>

<%= render partial: 'toolbar/menu' %>

<%= render partial: 'toolbar/contacts', locals: { subject: subject } %>
</section>
