<section id="toolbar" class="toolbar-profile">
  <%= render partial: 'toolbar/logo',
             locals: { subject: subject } %>

  <div class="contact-button">
    <%= contact_to subject %>

    <%= javascript_tag do %>
      $(function() {
        SocialStream.Contact.show();
      });
    <% end %>
  </div>

  <%= content_for :toolbar_menu do %>
    <div class= "hidden-desktop">
      <%= subject.name %>
    </div>

    <li>
      <%= link_to [ subject, :profile ], class: "btn-blue" do  %>
        <i class='icon_tool16-info'></i> <%= t 'menu.information' %>
      <% end %>
    </li>

    <li>
      <%= render partial: 'toolbar/groups' %>
    </li>

    <% if current_subject.present? && subject != current_subject %>
      <li>
        <%= link_to new_message_path(:receiver => subject.slug), class: "btn-blue" do %>
          <i class='icon_navbar-message-blue'></i> <%= t 'send' %>
        <% end %>
      </li>
    <% end %>
    <div class="base_items"/>
  <% end %>

  <%= render partial: 'toolbar/menu' %>

  <%= render partial: 'toolbar/contacts', locals: { subject: subject } %>
</section>
