<% content_for :headers do %>
        <%= stylesheet_link_tag "documents" %>
<% end %>

<%= div_for document, :class => 'content_size' do %>

  <div class="attachment_thumb">
    <%= link_to thumb_for(document, 16),
        {:controller => "documents", :action => "download", :id => document}, 
        :class => "" %>
  </div>

  <div class="attachment_text">
  	<%= t('document.msg') %><%= link_to "\""+document.file_file_name+"\"", 
    {:controller => "documents", :action => "download", :id => document},  
    :class => "attachment_text_link" %>
  </div>

<% end %>
