<%= div_for document, :class => 'content_size' do %>

  <div class="attachment_thumb">
    <%= link_to thumb_for(document, 16),
        document, 
        :class => "" %>
  </div>

  <div class="attachment_text">
   <div class="title">
    <%= document.title %>
   </div>

   <%= simple_format auto_link(document.description) %>

   <%= link_to t('details.msg'),
       document_path(document),
       :alt => t('details.msg'),
       :type => document.type,
       :path => document_path(document),
       :class => "attachment_text_link document_link" %>
  </div>

<% end %>

<div class="clearfloat"></div>
