<section id="explore">
  <div class="left">
    <article class="article">
      <header>
        <%= t 'explore.explore.most_popular' %>
      </header>
      <% ActivityObject.not_actor.popular.first(3).each do |ao| %>
        <%= render partial: 'explore/trending', locals: { object: ao } %>
      <% end %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        <%= t 'explore.explore.most_followed' %>
      </header>
      <%= render partial: 'explore/last' %>
      <%= render partial: 'explore/last' %>
      <%= render partial: 'explore/last' %>
    </article>
  </div>
</section>
