<section id="explore">
  <div class="left">
    <article class="article">
      <header>
        Trending files
      </header>
      <%= render partial: 'explore/trending' %>
      <%= render partial: 'explore/trending' %>
      <%= render partial: 'explore/trending' %>
    </article>
    <article>
      <header>
        Last users & groups
      </header>
      <%= render partial: 'explore/last' %>
      <%= render partial: 'explore/last' %>
      <%= render partial: 'explore/last' %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        What like more?
      </header>
      <%= render partial: 'explore/likes' %>
      <%= render partial: 'explore/likes' %>
      <%= render partial: 'explore/likes' %>
    </article>
  </div>
</section>