<section id="files">
  <div class="left">
    <article class="article">
      <header>
        More downloaded
      </header>
      <%= render partial: 'explore/files-more_download' %>
      <%= render partial: 'explore/files-more_download' %>
      <%= render partial: 'explore/files-more_download' %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        last upploaded
      </header>
      <%= render partial: 'explore/files-last_uploads' %>
      <%= render partial: 'explore/files-last_uploads' %>
      <%= render partial: 'explore/files-last_uploads' %>
    </article>
  </div>
</section>


