<section id="files">
  <div class="left">
    <article class="article">
      <header>
        <%= t 'explore.resources.most_visited' %>
      </header>

      <% ActivityObject.not_actor.visited.first(3).each do |ao| %>
        <%= render partial: 'explore/resources_most_visited', locals: { object: ao } %>
      <% end %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        last upploaded
      </header>
      <%= render partial: 'explore/files-last_uploads' %>
      <%= render partial: 'explore/files-last_uploads' %>
      <%= render partial: 'explore/files-last_uploads' %>
    </article>
  </div>
</section>


