<div class="btn-group" data-toggle="buttons-radio">
  <button class="btn <%= explore_button_class 'explore' %>" data-target="#explore" data-toggle="tab"><%= t 'explore.index' %></button>
  <button class="btn <%= explore_button_class 'participants' %>" data-target="#participants" data-toggle="tab"><%= t 'explore.participants' %></button>
  <button class="btn <%= explore_button_class 'files' %>" data-target="#files" data-toggle="tab"><%= t 'explore.files' %></button>
  <button class="btn <%= explore_button_class 'timeline' %>" data-target="#timeline" data-toggle="tab"><%= t 'explore.timeline' %></button>
  <button class="btn <%= explore_button_class 'tags' %>" data-target="#tags" data-toggle="tab"><%= t 'explore.tags' %></button>
  <button class="btn <%= explore_button_class 'search' %>" data-target="#search" data-toggle="tab"><%= t 'explore.search' %></button>
</div>
