<section id="participants">
  <div class="left">
    <article class="article">
      <header>
        <%= t 'explore.participants.last_active' %>
      </header>
      <% User.last_active.first(5).each do |u| %>
        <%= render partial: 'explore/last_active', locals: { object: u } %>
      <% end %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        <%= t 'explore.participants.more_members' %>
      </header>
      <%= render partial: 'explore/members' %>
      <%= render partial: 'explore/members' %>
      <%= render partial: 'explore/members' %>
    </article>
    <article>
      <header>
        <%= t 'explore.participants.last_registered' %>
      </header>
      <%= render partial: 'explore/last-register' %>
      <%= render partial: 'explore/last-register' %>
      <%= render partial: 'explore/last-register' %>
    </article>
  </div>
</section>


