<section id="participants">
  <div class="left">
    <article class="article">
      <header>
        Last activity
      </header>
      <%= render partial: 'explore/last-activity' %>
      <%= render partial: 'explore/last-activity' %>
      <%= render partial: 'explore/last-activity' %>
    </article>
  </div>

  <div class="right">
    <article>
      <header>
        Groups members
      </header>
      <%= render partial: 'explore/members' %>
      <%= render partial: 'explore/members' %>
      <%= render partial: 'explore/members' %>
    </article>
    <article>
      <header>
        Latest register
      </header>
      <%= render partial: 'explore/last-register' %>
      <%= render partial: 'explore/last-register' %>
      <%= render partial: 'explore/last-register' %>
    </article>
  </div>
</section>


