<section id="repository">
  <% if profile_subject? %>
    <%= render partial: 'toolbar/profile', locals: { subject: profile_subject } %>
  <% else %>
    <%= render partial: 'toolbar/home' %>
  <% end %>

  <h1><%= t 'repository.title' %></h1>

  <%= render partial: 'filter' %>

  <%= render partial: 'common_documents/new_button',
             locals: { owner: profile_or_current_subject } %>

  <section class="repository">
    <%= render partial: 'layouts/loading' %>

    <section class="repository-list">
      <%= render @collection %>
    </section>
  </section>

  <%= javascript_tag do %>
    SocialStream.Repository.show();
  <% end %>
</section>
