<%= div_for(conversation, :class => active) do %>
<div class="actor_photo">
	<%= link_to image_tag(conversation.last_sender.logo.url(:actor),
	:title => conversation.last_sender.name, :alt => conversation.last_sender.name),
	conversation.last_sender.subject %>
</div>
<div class="content_left">
	<div class="actor_name">
	<%= link_to conversation.last_sender.name, conversation.last_sender.subject %>
	</div>
	<div class="date">
	<%= conversation.updated_at %>
	</div>
</div>
<div class="content_right">
	<div class="subject">
	<%= link_to(conversation.subject, message_path(conversation.id,:box => @box)) %>
	</div>
	<div class="briefing">
	<%= truncate(conversation.last_message.body, :length => 50) %>
	</div>
<div class="clearfloat"></div>
</div>

	<% unless @box.eql?'trash' %>
		<div class="action">
			<%= link_to(image_tag('btn/btn_delete.png', :atl => "Delete", :title => "Delete"),
			message_path(conversation, :location => @box, :box => @box),
			:confirm => 'Do you want to move "' + conversation.subject + '" to trash?',
			:method => :delete, :remote => true) %>
		</div>
	<% end %>
<div class="clearfloat"></div>
<% end %>
