<% content_for :headers do %>
<%= javascript_include_tag 'ckeditor/ckeditor.js','ckeditor/adapters/jquery.js','jquery.scrollTo.min.jsjquery.scrollTo.min.js', 'jquery.validate' %>
<% end %>

<% content_for :javascript do %>
	$('.cont_conversation').validate();
	<% unless @box.eql?'trash' %>
		$('#body').ckeditor(
			function(){$('#cke_top_body').click( updateTextArea);},
			function() {$.scrollTo('#message_<%= conversation.last_message.id %>');},
	 		{ width:493 }	
		);
		var editor = $('#body').ckeditorGet();
		editor.on("instanceReady", function(){	   
			this.document.on("keyup", updateTextArea);
			this.document.on("paste", updateTextArea);
			this.document.on("mousedown", updateTextArea);
		});

  		var updateTextArea = function (){ 
			editor.updateElement();	
			$("#body").trigger('keyup');       
  		}
	<% else %>
		$.scrollTo('#message_<%= conversation.last_message.id %>');
	<% end %>
<% end %>

<%= div_for (conversation) do %>
  <%= conversation.subject %>
  <br>
  Actions: <% unless @box.eql?'trash' %><%= link_to ( image_tag('btn/btn_delete.png', :atl => "Delete", :title => "Delete"), 
			message_path(conversation, :location => 'conversation', :box => @box), 
			:confirm => 'Do you want to move "' + conversation.subject + '" to trash?', 
			:method => :delete, :remote => true) %><% end %>
  <br>
  <% conversation.get_recipients.each do |recp| %>
 	 <%= link_to image_tag(recp.logo.url(:tie), :title=>recp.name, :alt => recp.name), recp.subject %>
  <% end %><br>
	
  <% @receipts.each do |receipt| %>  	
	<% message= receipt.message %>
	<%= div_for (message) do%>
		<%= link_to image_tag(message.sender.logo.url(:tie),:alt => message.sender.name,:title =>message.sender.name), message.sender.subject %><br>
		<%= message.sender.name %> on <%= message.created_at %> said:<br>
		<%= raw (message.body) %>
  	<% end %>
  <% end %>
  <% unless @box.eql?'trash' %>
	  Write your answer:<br>
	  <% form_tag message_path(conversation.id), :method => :put, :class => "cont_conversation" do %>
		<div class="block">
			<div class="form_row">
				<%= label_tag :body %>
			</div>
			<div class="form_row">
				<%= text_area_tag :body, nil,:rows =>6, :cols=> 53, :class => "required form_tag" %>
			</div>
			<div class="actions center">
				<%= submit_tag "Reply", :name => :reply_all,:class => "button" %>
			</div>
		</div>
	  <% end %>
  <%end %>
<% end %>