<%= div_for (message) do %>
  <div class="actor_logo">
    <%= link_to image_tag(message.text,
                          :alt => message.text),
                 message %>
  </div>
  <div class="activity_content_message">
    <div class="actor_name_message">
      <%= link_to(message.text, message) %>
    </div>
    <div class="option_msg">
      <div class="edit_message"><%= link_to ( image_tag('btn/btn_edit.png', :class=>"btn_config"), edit_message_path(message)) %></div>
      <div class="detele_message"><%= link_to ( image_tag('btn/btn_delete.png', :class=>"btn_config"), message, :confirm => 'Are you sure?', :method => :delete) %></div>
    </div>
  </div>

<% end %>
