<div id="login">
  <h2><%= t('devise.passwords.update') %></h2>
  <div class="space_height">
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <div class="line">
      <div class="label"><%= f.label :password %></div>
      <div class="field"><%= f.password_field :password, :class =>"field_x" %></div>
    </div>
    <div class="line">
      <div class="label"><%= f.label :password_confirmation %></div>
      <div class="field"><%= f.password_field :password_confirmation, :class =>"field_x" %></div>
    </div>
    <div class="space_height"></div>
    <div class="btn_login">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>
</div>
