<section id="login">
  <section class="change">
    <header>
      <h3>
        <%= t('devise.passwords.update') %>
      </h3>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
    </header>

    <div class="password">
      <%= f.label :password %>

      <%= f.password_field :password, :class =>"field_x" %>

      <%= f.label :password_confirmation %>

      <%= f.password_field :password_confirmation, :class =>"field_x" %>

      <%= f.submit "Change my password", :class =>"btn" %>
    </div>
    <% end %>
  </section>
</section>  

