<section id="forgot-pass">
  <section class="forgot">
    <header>
      <h3>
        <%= t('devise.passwords.forgot') %>
      </h3>
      <p>
        Write down the email address you associated to your account and you will receive an email with instructions about how to reset your password in a few minutes
      </p>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

      <h4>
        <%= t('devise.passwords.instructions') %>
      </h4>
    </header>

    <section class="password">
      <%= f.label :email %>

      <%= f.text_field :email, :class => "form_tag" %>
        
      <%= f.submit t('action.send') %>
      
      <hr class="soften">

      <%= render :partial => "devise/shared/links" %>
    </section>
    <% end %>
  </section>
</section>
