<div class="space_center"></div>
<h2><%=t('menu.information')%></h2>
<div class="space_center"></div>

<% if (!is_personal_empty?) or(is_owner?)%>
  <%= render :partial=> "personal"%>
<%end%>

<div class="space_center"></div>
<div class="block" id="contact_info">
  <div class="header">
    <div class="header_text">
      <%=t('profile.contact')%>
    </div>
    <% if is_owner? %>
      <div class="header_icon_right">
        <%= link_to (image_tag('/images/btn/edit.png')), :controller => :profiles , :action => :edit, :section => "contact_info"%>
      </div>
    <%end%>
  </div>
  <div class="content">
    <div class="sub-block"  >
      <% if @profile.phone? %>
        <div class="row">
          <div class="label">
            <%=t('profile.phone')%>
          </div>
          <div class="field">
            <%=h @profile.phone %>
          </div>
        </div>
      <%end%>
      <% if @profile.mobile? %>
        <div class="row">
          <div class="label">
            <%=t('profile.mobile')%>
          </div>
          <div class="field">
            <%=h @profile.mobile %>
          </div>
        </div>
      <%end%>
      <% if @profile.fax? %>
        <div class="row">
          <div class="label">
            <%=t('profile.fax')%>
          </div>
          <div class="field">
            <%=h @profile.fax %>
          </div>
        </div>
      <%end%>
      <% if @profile.address? %>
        <div class="row">
          <div class="label">
            <%=t('profile.address')%>
          </div>
          <div class="field">
            <%=h @profile.address %>
          </div>
        </div>
      <%end%>
      <% if @profile.website? %>
        <div class="row">
          <div class="label">
            <%=t('profile.website')%>
          </div>
          <div class="field">
            <a href="<%=h @profile.website %>"><%=h @profile.website %></a>
          </div>
        </div>
      <%end%>

      <div class="row">
        <div class="label">
          <%=t('profile.email')%>:
        </div>
        <div class="field">
          <%=h @profile.subject.email %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @profile.experience?%>
<div class="space_center"></div>
<div class="block" id="experience_info">
  <div class="header">
    <div class="header_text">
      <%=t('profile.' + @profile.subject.class.to_s.downcase + '.experience')%>
    </div>
    <% if is_owner? %>
      <div class="header_icon_right">
        <%= link_to (image_tag('/images/btn/edit.png')),  :controller => :profiles , :action => :edit, :section => "my_experience"%>
      </div>
    <%end%>
  </div>
  <div class="content">
    <div class="row">
      <%=h @profile.experience %>
    </div>
  </div>
</div>
<%elsif is_owner?%>
<div class="space_center"></div>
<div class="block" id="experience_info">
  <div class="header">
    <div class="header_text">
      <%=t('profile.' + @profile.subject.class.to_s.downcase + '.experience')%>
    </div>
      <div class="header_icon_right">
        <%= link_to (image_tag('/images/btn/edit.png')),  :controller => :profiles , :action => :edit, :section => "my_experience"%>
      </div>
  </div>
  <div class="content">
    <div class="row">
      <%=t('profile.empty')%>
    </div>
  </div>
</div>
<%end%>
<% if is_owner? %>
  <div class="space_center"></div>
  <div class="block" id="avatar_info">
    <div class="header">
      <div class="header_text">
        <%= t('avatar.profile_change')%>
      </div>
      <div class="header_icon_right">
        <%= link_to (image_tag('/images/btn/edit.png')),  :controller => "avatars" , :action => "index" %>
      </div>
    </div>
    <div class="content">
      <div class="row">
      </div>
    </div>
  </div>
<% end %>
<div class="space_center"></div>
<% if (@profile.to_param==current_user.to_param and @profile.authentication_token) %>
	<div class="block" id="developer_info">
	  <div class="header">
	    <div class="header_text">
	      ApiKey: <%= @profile.authentication_token %>
	    </div>
	    <div class="header_icon_right">
	      <%= link_to (image_tag('/images/btn/edit.png')), :controller => :api,
	                           :action => :create_key %>
	    </div>
	  </div>
	</div>
<% end %>
<div class="space_center"></div>
<% if (@profile.subject.tag_list.count > 0) or (is_owner?) %>
  <%= render :partial=>"tags"%>
<% end %>

