<%= location(
  link_to(image_tag("btn/btn_edit.png", :class => "menu_icon")+t('menu.information'), [current_subject, :profile])
) %>
<div class="space_center"></div>
<h2><%=t('menu.information')%></h2>
<div class="space_center"></div>
<div class="block" id="personal_info" >
  <div class="header">
    <div class="header_text">
      <%=t('profile.' + @profile.subject.class.to_s.downcase + '.info')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')),  :controller => :profiles , :action => :edit, :section => "about_me"%>
    </div>
  </div>
  <div class="content">
    <div class="sub-block"  >
      <% if @profile.organization? %>
        <div class="row">
          <div class="label">
            <%=t('profile.organization')%>:
          </div>
          <div class="field">
            <%=h @profile.organization %>
          </div>
        </div>
      <%end%>
      <% if @profile.birthday? %>
        <div class="row">
          <div class="label">
            <%=t('profile.' + current_subject.class.to_s.downcase + '.birthday')%>:
          </div>
          <div class="field">
            <%=h I18n.l @profile.birthday, :format => :long %>
          </div>
        </div>
				<% if current_subject.class.eql?(User) %>
	        <div class="row">
	          <div class="label">
	              <%=t('profile.age')%>:
	          </div>
	          <div class="field">
	              <%=h @profile.age %>
	          </div>
	        </div>
				<%end%>
      <%end%>
      <% if @profile.city? %>
        <div class="row">
          <div class="label">
            <%=t('profile.actualcity')%>:
          </div>
          <div class="field">
            <%=h @profile.city %>
            <% if @profile.country? %>
              , <%=@profile.country%>
            <%end%>
          </div>
        </div>
      <%end%>
      <% if @profile.description? %>
        <div class="row">
          <div class="label">
            <%=t('profile.' + current_subject.class.to_s.downcase + '.about')%>:
          </div>
          <div class="row">
              <%=h @profile.description %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>


<div class="space_center"></div>
<div class="block" id="contact_info">
  <div class="header">
    <div class="header_text">
      <%=t('profile.contact')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')), :controller => :profiles , :action => :edit, :section => "contact_info"%>
    </div>
  </div>
  <div class="content">
    <div class="sub-block"  >
      <% if @profile.phone? %>
        <div class="row">
          <div class="label">
            <%=t('profile.phone')%>
          </div>
          <div class="field">
            <%=h @profile.phone %>
          </div>
        </div>
      <%end%>
      <% if @profile.mobile? %>
        <div class="row">
          <div class="label">
            <%=t('profile.mobile')%>
          </div>
          <div class="field">
            <%=h @profile.mobile %>
          </div>
        </div>
      <%end%>
      <% if @profile.fax? %>
        <div class="row">
          <div class="label">
            <%=t('profile.fax')%>
          </div>
          <div class="field">
            <%=h @profile.fax %>
          </div>
        </div>
      <%end%>
      <% if @profile.address? %>
        <div class="row">
          <div class="label">
            <%=t('profile.address')%>
          </div>
          <div class="field">
            <%=h @profile.address %>
          </div>
        </div>
      <%end%>
      <% if @profile.website? %>
        <div class="row">
          <div class="label">
            <%=t('profile.website')%>
          </div>
          <div class="field">
            <a href="<%=h @profile.website %>"><%=h @profile.website %></a>
          </div>
        </div>
      <%end%>

      <div class="row">
        <div class="label">
          <%=t('profile.email')%>:
        </div>
        <div class="field">
          <%=h @profile.subject.email %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space_center"></div>
<div class="block" id="experience_info">
  <div class="header">
    <div class="header_text">
      <%=t('profile.' + @profile.subject.class.to_s.downcase + '.experience')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')),  :controller => :profiles , :action => :edit, :section => "my_experience"%>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <%=h @profile.experience %>
    </div>
  </div>
</div>
<% if (!@profile.blank?) && (!current_subject.blank?)%>
  <% if (@profile.actor == current_subject.actor) %>
  <div class="space_center"></div>
  <div class="block" id="avatar_info">
    <div class="header">
      <div class="header_text">
        <%= t('avatar.profile_change')%>
      </div>
      <div class="header_icon_right">
        <%= link_to (image_tag('/images/btn/edit.png')),  :controller => "avatars" , :action => "index" %>
      </div>
    </div>
    <div class="content">
      <div class="row">
      </div>
    </div>
  </div>
  <% end %>
<% end %>
<div class="space_center"></div>
<% if (@profile.to_param==current_user.to_param and @profile.authentication_token) %>
	<div class="block" id="developer_info">
	  <div class="header">
	    <div class="header_text">
	      ApiKey: <%= @profile.authentication_token %>
	    </div>
	    <div class="header_icon_right">
	      <%= link_to (image_tag('/images/btn/edit.png')), :controller => :api,
	                           :action => :create_key %>
	    </div>
	  </div>
	</div>
<% end %>
<div class="space_center"></div>
<% if @profile.subject.tag_list.count > 0 %>
<div class="block" id="tags_info">
<div class="header">
    <div class="header_text">
      Tags:
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')), :controller => :profiles , 
			:action => :edit, :section => "tags"%>
    </div>
  </div>
  <div class="content">
  	<div class="field">
 		<%= @profile.subject.tag_list %>
	</div>
  </div>
</div>
<% end %>

