<%= link_to @profile.subject.name, @profile.subject %>

<% content_for :sidebar do %>
  <%= render :partial => 'users/sidebar_show' %>
<% end %>

<% content_for :toolbar do %>
  <%= render :partial => 'users/toolbar_show', :locals => { :subject => @profile.subject } %>
<% end %>


<div class="space_center"></div>
<div class="block" id="personal_info" >
  <div class="header">
    <div class="header_text">
      <%=t('edit.personal_info')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')), '#' %>
    </div>
  </div>
  <div class="content">
    <div class="sub-block"  >
      <% if @profile.organization? %>
        <div class="row">
          <div class="label">
            <%=t('edit.organization')%>:
          </div>
          <div class="field">
              <%=h @profile.organization %>
          </div>
        </div>
      <%end%>
      <% if @profile.birthday? %>
        <div class="row">
          <div class="label">
            <%=t('edit.birthday')%>:
          </div>
          <div class="field">
            <%=h I18n.l @profile.profile.birthday, :format => :long %>
          </div>
        </div>
        <div class="row">
          <div class="label">
              Age:
          </div>
          <div class="field">
              <%=h @profile.age %>
          </div>
        </div>
      <%end%>
      <% if @profile.city? %>
        <div class="row">
          <div class="label">
            <%=t('edit.actualcity')%>:
          </div>
          <div class="field">
            <%=h @profile.city %>
            <% if @profile.country? %>
              , <%=@profile.country%>
            <%end%>
          </div>
        </div>
      <%end%>
      <% if @profile.description? %>
        <div class="row">
          <div class="label">
            <%=t('edit.aboutme')%>:
          </div>
          <div class="row">
              <%=h @profile.description %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>


<div class="space_center"></div>
<div class="block" id="contact_info">
  <div class="header">
    <div class="header_text">
      <%=t('edit.contact')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')), '#' %>
    </div>
  </div>
  <div class="content">
    <% if @profile.phone? %>
      <div class="row">
        <div class="label">
          <%=t('edit.phone')%>
        </div>
        <div class="field">
          <%=h @profile.phone %>
        </div>
      </div>
    <%end%>
    <% if @profile.mobile? %>
      <div class="row">
        <div class="label">
          <%=t('edit.mobile')%>
        </div>
        <div class="field">
          <%=h @profile.mobile %>
        </div>
      </div>
    <%end%>
    <% if @profile.fax? %>
      <div class="row">
        <div class="label">
          <%=t('edit.fax')%>
        </div>
        <div class="field">
          <%=h @profile.fax %>
        </div>
      </div>
    <%end%>
    <% if @profile.address? %>
      <div class="row">
        <div class="label">
          <%=t('edit.address')%>
        </div>
        <div class="field">
          <%=h @profile.address %>
        </div>
      </div>
    <%end%>
    <% if @profile.website? %>
      <div class="row">
        <div class="label">
          <%=t('edit.website')%>
        </div>
        <div class="field">
          <a href="<%=h @profile.website %>"><%=h @profile.website %></a>
        </div>
      </div>
    <%end%>

    <div class="row">
      <div class="label">
        <%=t('edit.email')%>:
      </div>
      <div class="row">
        <%=h @profile.subject.email %>
      </div>
    </div>
  </div>
</div>

<div class="space_center"></div>
<div class="block" id="experience_info">
  <div class="header">
    <div class="header_text">
      <%=t('edit.experience')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('/images/btn/edit.png')), '#' %>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <%=h @profile.experience %>
    </div>
  </div>
</div>

<div class="space_center"></div>
<% if (@profile.to_param==current_user.to_param and @profile.authentication_token) %>
<div class="block" id="developer_info">
  <div class="header">
    <div class="header_text">
      ApiKey: <%= @profile.authentication_token %>
    </div>
    <div class="header_icon_right">
  <%= link_to (image_tag('/images/btn/edit.png')), :controller => :api,
                           :action => :create_key %>
    </div>
  </div>
</div>
<% end %>