<h2><%=t('invitation.other')%></h2>

<%= form_tag invitations_path, :method=> :post, :class => "invitation_form", :remote => true  do %> 
  <h3>
    <%=t('invitation.join', :site => t('site.name'))%>
  </h3>
  
  <%= label_tag t('invitation.e-mails')%>
  
  <span class= "form_comment">(Separated by commas)</span>
  
  <%= text_field_tag 'mails', nil, :class => "required emails form_tag" %>
 
  <%=t('invitation.text')%>

  <%= text_area_tag 'message', nil, :class => "form_tag", :maxlength => 500, :rows => 10 %>

  <%= submit_tag t('action.send'), :class => "btn" %>

<%end%>
