<% content_for :headers do %>
  <%= stylesheet_link_tag "menu", :media => "screen, projection" %>
  <%= javascript_include_tag 'menu' %>
<% end %>

<%= render :partial => 'toolbar/logo', :locals => { :subject => subject } %>

<div class="block space_center">
</div>

<div id="menu_lateral" class="toolbar_menu">
  <ul>
    <% unless subject == current_subject %>
      <%= render :partial => "toolbar/profile_menu_tie_options", :locals => { :subject => subject } %>
    <% end %>

    <%= render :partial => "toolbar/profile_menu_basic_options", :locals => { :subject => subject } %>
  </ul>
  <hr>
  Testing SimpleNavigation
  <br>
  Please move along
  <hr>
  <%= yield(:toolbar_menu).empty? ? profile_toolbar_menu(subject) : yield(:toolbar_menu) %>
</div>

<div class="block space_center">
</div>

<%= render :partial => 'subjects/contacts', :locals => { :subject => subject } %>

<div class="block space_center">
</div>

