<%= menu_options[:like] || capture do %>
  <li>
    <div class="verb_like" id="like_<%= dom_id(subject) %>">
      <%= link_like(subject)%>
    </div>
  </li>
<% end %>

<%= menu_options[:contacts] || capture do %>
  <!-- TODO: create helper -->
  <% if user_signed_in? %>
    <% if current_subject.ties_to(subject).present? %>
      <li >
      <%= link_to image_tag("btn/btn_friend.png", :class => "menu_icon") +
                  current_subject.ties_to(subject).map(&:relation_name).join(", "),
                  edit_contact_path(subject.actor_id) %>
     </li>
    <% else %>
      <li >
      <%= link_to image_tag("btn/btn_friend.png", :class => "menu_icon") +
                  t('contact.new.title'),
                  edit_contact_path(subject.actor_id),
                  :id => 'contacts_menu' %>
      </li>
    <% end %>
  <% end %>
<% end %>

<%= menu_options[:messages] || capture do %>
  <% if user_signed_in? %>
    <li >
    <%= link_to(image_tag("btn/btn_send.png", :class => "menu_icon")+t('message.send'), new_message_path(:receiver => subject.slug)) %>
    </li>
  <% end %>
<% end %>
