<div id="welcome">
  <div id="login" class="block">
  <h2><%= t('sign_up').capitalize %></h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form_row">
      <div class="form_label"><%= f.label :name %></div>
      <div class="form_field"><%= f.text_field :name, :class =>"field_x"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label"><%= f.label :email %></div>
      <div class="form_field"><%= f.text_field :email, :class =>"field_x"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label"><%= f.label :password %></div>
      <div class="form_field"><%= f.password_field :password, :class =>"field_x", :id => "password"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label"><%= f.label :password_confirmation %></div>
      <div class="form_field"><%= f.password_field :password_confirmation, :class =>"field_x"  %></div>
    </div>
    <div class="form_row center">
      <div id="btn_login"><%= f.submit t('action.accept').capitalize,:class=>"myButton"  %></div>
    </div>
  <% end %>
  <div class="form_row center">
    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %><br />
    <% end -%>
  </div>
    <div class="form_row center">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>


