<%= form_for @room || Room.new(:actor => current_subject.actor), :remote => true do |f| %>
  <%= f.hidden_field :actor_id %>

  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(f.object.errors.count, "error") %> evitaron que se guardara este espacio:
      </h2>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%= javascript_tag do %>
  $(function(){
    $('#room_name').watermark("<%= escape_javascript t('room.watermark.name') %>");
  });
<% end %>