<div class="block" id="room_settings">
  <header>
    <h4>
      <%= t 'room.settings.title' %>
    </h4>
    <%= link_to image_tag('btn/edit.png'),  "javascript:showSettings(\"room_settings\");" %>
  </header>
  <div id="room_settings_briefing" class="settings_briefing content">
    <%= t 'room.settings.description' %>
  </div>
  <div class="content settings_content" id="room_settings_content" style="display:none;">
    <%= render :partial => 'rooms/index' %>
  
    <%= render :partial => 'rooms/form' %>
  </div>
</div>
