<% if activity.receiver.activity_ties_for?(current_subject) %>
  <div class="activity_new_comment">
 <%= form_for Comment.new(:text => t('comment.input'),
                          :_activity_tie_id =>
                            activity.receiver.activity_ties_for(current_subject).first.id,
                          :_activity_parent_id => activity.id),
              :remote => true do |f| %>
   <%= f.hidden_field :_activity_tie_id %>
   <%= f.hidden_field :_activity_parent_id %>
   <%= f.text_field :text,   :class =>"input_new_comments" %>
   <div class="activities_comment_btn">
     <div class="activities_security"></div>
     <%= f.submit t('share'), :class =>"myButtonBlue" %>
   </div>
 <% end %>
    </div>
<% end %>

