<%remote_form_for @event, :url => {:action => :update} , :before => "$('#updating_events').show();", :complete => "$('#updating_events').hide();" do |f| %>
<p>
  <%=f.label :title, "Titulo" %>
  <br/>
  <%=f.text_field :title %>
</p>
<p>
  <%=f.label :description, "Descripcion" %>
  <br/>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p>
  <%=f.label :starttime, 'Inicio' %>
  <br/>
  <%=f.datetime_select :starttime, :minute_step => 30 %>
</p>
<p>
  <%=f.label :endtime, 'Fin' %>
  <br/>
  <%=f.datetime_select :endtime, :minute_step => 30 %>
</p>
<p>
  <%=f.label :all_day, "Todo el día" %>
  <%=f.check_box :all_day %>
</p>
<% #if @event.calendar_event_series
 %>
<%period = (@event.calendar_event_series)?@event.calendar_event_series.period : nil -%>
<p>
  <%=f.label :period, "Repetir" %>
  <%=f.select :period, CalendarEvent::REPEATS,{:selected => period}, :onchange => "showPeriodAndFrequency(this.value);" %>
</p>
<%frequency = (@event.calendar_event_series)?@event.calendar_event_series.frequency : nil -%>
<p id = "frequency" style = "display:<%(period)? '' : 'none'%>;">
  <%=f.label :frequency, "Repetir cada" %>
  <%=f.select :frequency, (1..30).to_a, {:selected => frequency} %> <span id = "period"></span>
</p>
<p>
  <%=f.label :starttime, 'Repetir hasta' %>
  <br/>
  <%= select_date Date.current, :prefix => :repeat_until, :order => [:year, :month, :day] %>
</p>
<% #end
%>
<%=f.hidden_field :id, :value => @event.id%>
<%=f.hidden_field :commit_button, :value => ""%>
<p>
  <%if @event.calendar_event_series -%>
  <%=f.submit 'Actualizar solo esta instancia', :onclick => "document.getElementById('calendar_event_commit_button').value = this.value"%>
  <%=f.submit 'Actualizar todas las instancias', :onclick => "document.getElementById('calendar_event_commit_button').value = this.value"%>
  <%=f.submit 'Actualizar todas las instancias siguientes', :onclick => "document.getElementById('calendar_event_commit_button').value = this.value"%>
  <%else-%>
  <%=f.submit 'Guardar', :onclick => "document.getElementById('calendar_event_commit_button').value = this.value"%>
  <%end-%>
  
  <span id = "updating_events" style = "display:none;">Updating, Please wait...</span>
</p>
<%end %>
