<% content_for :headers do  -%>
  <%= javascript_include_tag :defaults, 'jquery', 'jquery-ui', 'fullcalendar' %>
  <%= stylesheet_link_tag 'jquery-ui', 'fullcalendar' %>
<% end -%>

<% content_for :javascript do %>
      $(document).ready(function(){
		$('#calendar').fullCalendar({
		    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 
			             'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 
			                  'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
			dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
			buttonText: {
			    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
			    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
			    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
			    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
			    today:    'Hoy',
			    month:    'Mes',
			    week:     'Semana',
			    day:      'Dia'
			},
			firstDay: 1,
			allDayText: 'Todo el dia',
			axisFormat: 'HH:mm G\'M\'\'T\' <%= escape_javascript(Time.zone.formatted_offset) %>',
			ignoreTimezone: true,
			allowCalEventOverlap: false,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultView: 'agendaWeek',
			height: 500,
			columnFormat: {
                            month: 'ddd',
                            week: 'ddd d/M',
                            day: 'dddd d/M'
                     },
			slotMinutes: 30,
			loading: function(bool){
				if (bool) 
					//$('#loading').show();
					$('#loading').hide();
				else 
					$('#loading').hide();
			},

			//events: "/calendar_events/get_events",
			events: "/calendar_events/get_room_events?room_id=<%=@room.id%>&calendar_events=<%=params[:calendar_events]%>",
			timeFormat: 'HH:mm t{ - HH:mm t} ',
			dragOpacity: "0.5",
			eventClick: function(event, jsEvent, view){
			    if (event.editable) {
					showEventDetails(event);
				} else {
				    showEventDescription(event);
				}
			}
		});
	});
	
<% end %>

<div><div id='calendar'></div></div>

<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc"></div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
