<%= div_for custom do %>
  <%= radio_button_tag :relation_custom,
    custom.id,
    false,
    :id => "input_#{ dom_id custom }" %>
  <%= label_tag "input_#{ dom_id custom }", custom.name %>

  <div class="actions">
    <%= link_to '#', class: "edit" do %>
      <i class="icon_tool16-edit"></i>
    <% end %>

    <%= link_to custom, class: "delete", method: :delete, confirm: t('relation_custom.confirm_delete'), remote: true do %>
      <i class="icon_tool16-trash"></i>
    <% end %>
  </div>

  <div class="edit_name">
    <%= form_for custom, url: polymorphic_path(custom, section: 'name'), :remote => true do |f| %>
      <%= f.text_field :name %>

      <%= link_to '#', class: "submit" do %>
        <i class="icon_tool16-ok"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
