<section class="relation_list">
  <% list.each do |r| %>
    <%= div_for r  do %>
      <%= radio_button_tag :relation_custom, r.id, {}, id: "input_#{ dom_id r }" %>
      <%= label_tag "input_#{ dom_id r }", r.name %>

      <div class="actions">
        <%= link_to '#', class: "edit" do %>
          <i class="icon_tool16-edit"></i>
        <% end %>

        <%= link_to r, class: "delete", method: :delete, confirm: t('relation_custom.confirm_delete') do %>
          <i class="icon_tool16-trash"></i>
        <% end %>
      </div>

      <div class="edit_name">
        <%= form_for r, :remote => true do |f| %>
          <%= f.text_field :name %>

          <%= f.submit nil, :class => "btn" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
    
  <div id="new_relation">
    <%= link_to t('relation_custom.new'), '#', class: 'new' %>

    <%= render :partial => 'relation/customs/form' %>
  </div> 
</section>

<%= javascript_tag do %>
  $(function(){
    $('#relation_customs_list :radio').change(function(){
      $("#new_relation_custom_title_block").show();
      $("#new_relation_custom_input_block").hide();
      selectRelation(this);
    });
    
    $('.relation_custom_edit_link').click(function() {
      $(this).parent().hide();
      $(this).parent().siblings('label').hide();
      $(this).parent().siblings('.relation_custom_name_form').show();
    });

    $(".cancel_edit_relation_custom").click(function() {   
      $(this).parent().parent().hide();
      $(this).parent().parent().siblings('label, .options').show();

      return false;
    });

    $("#new_relation_custom_title").click(function() {
      $("#permissions_list").hide();
      $("#privacy_rules").hide();
      $("#new_relation_custom_title_block").hide();
      $("#new_relation_custom_input_block").show();
    });
  })
<% end %>
