<section class="relation_list" data-permissions_path="<%= permissions_path %>">
  <h4>
    <%= t 'relation_custom.list.title' %>
  </h4>

  <%= render partial: 'relations/relation',
             collection: subject.relations_list %>
   
  <div id="new_relation">
    <%= link_to t('relation_custom.new'), 'javascript:void(0);', class: 'new' %>

    <%= render partial: 'relation/customs/form',
               locals:  { subject: subject }%>
  </div> 
</section>
