<% toolbar :profile, :subject => current_subject, :option => 'contacts' %>

<div id="privacity">   
  <h2><%= t 'relation_custom.title' %></h2>

  <div id="relation_customs">
    <h5><%= t 'relation_custom.choose' %></h5>


    <%= javascript_tag do %>
      $(function() {
        $("#loading").hide();

        $("#loading").ajaxStart(function(){
           $(this).show();
        });

        $("#loading").ajaxStop(function(){
           $(this).hide();
        });

      })
    <% end %>

    <div id="list">
      <%= render :partial => 'relation/customs/list', :object => @customs %>
    </div>

</div>


  <div id="permissions">
  </div>

  <div id="loading"></div>

  <%= javascript_tag do %>
    $(function() {
      $("#permissions").hide();
    })
  <% end %>
</div> 
