<% toolbar :profile, :subject => current_subject, :option => 'contacts' %>

<div id="group-manage">   
  <h2><%= t 'relation_custom.title' %></h2>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
      <a data-toggle="tab" href="#members"><%= t 'members' %></a>
      </li>
      <li class="">
      <a data-toggle="tab" href="#users"><%= t 'users' %></a>
      </li>
    </ul>
    <div class="filter">
      <input type="text" placeholder="filtrar" name="q" id="q" autocomplete="off">
    </div>
    <div id="myTabContent" class="tab-content">

    <div id="members" class="tab-pane">
      <h4>Define Rol</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>

              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tool">
                <%= link_to(raw("<i class='icon_tool16-edit'></i> ")) %>
             
                <%= link_to(raw("<i class='icon_tool16-private'></i> ")) %>
            
                <%= link_to(raw("<i class='icon_tool16-public'></i> ")) %>
              </div>
            </td>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>

              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tool">
                <%= link_to(raw("<i class='icon_tool16-edit'></i> ")) %>
             
                <%= link_to(raw("<i class='icon_tool16-private'></i> ")) %>
            
                <%= link_to(raw("<i class='icon_tool16-public'></i> ")) %>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>

              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tool">
                <%= link_to(raw("<i class='icon_tool16-edit'></i> ")) %>
             
                <%= link_to(raw("<i class='icon_tool16-private'></i> ")) %>
            
                <%= link_to(raw("<i class='icon_tool16-public'></i> ")) %>
              </div>
            </td>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>

              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tool">
                <%= link_to(raw("<i class='icon_tool16-edit'></i> ")) %>
             
                <%= link_to(raw("<i class='icon_tool16-private'></i> ")) %>
            
                <%= link_to(raw("<i class='icon_tool16-public'></i> ")) %>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="users" class="tab-pane">
      <h4>Add users</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>

            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>


            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>


            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>


            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>

            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>

            <td>
              <div class="profile">
                <%= link_to current_subject do %>
                  <%= image_tag current_subject.logo.url(:small) %>
                  <span class="name">
                    <%= truncate_name(current_subject.name, length: 15) %>
                  </span>
                <% end %>
              </div>
              <div class="rol"> 
                <div class="btn-group">
                  <button data-toggle="dropdown" class="dropdown-toggle btn btn-small" style="width:auto">Tus contactos <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                        <input type="checkbox" value="2"> 
                          friend
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="3"> 
                            acquaintance
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="4"> 
                          colleague
                        </label>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <label class="checkbox" style="cursor: pointer;">
                          <input type="checkbox" value="1"> 
                          Público
                        </label>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


    <%= javascript_tag do %>
      $(function() {
        $("#loading").hide();

        $("#loading").ajaxStart(function(){
           $(this).show();
        });

        $("#loading").ajaxStop(function(){
           $(this).hide();
        });

      })
    <% end %>

    <div id="list">
      <%= render :partial => 'relation/customs/list', :object => @customs %>
    </div>

</div>


  <div id="permissions">
  </div>

  <div id="loading"></div>

  <%= javascript_tag do %>
    $(function() {
      $("#permissions").hide();
    })
  <% end %>
</div> 
  </div>