<section id="relation_customs">   
  <%= render partial: 'toolbar/profile', locals: { :subject => current_subject } %>

  <section class="relation_customs">
    <h2><%= t 'relation_custom.title' %></h2>

      <%= render :partial => 'relation/customs/list', :object => @customs %>

      <div id="permissions">
        <div class="postit rotate">
          <span class="rotate-int">
            <%= t 'permission.postit' %>
          </span>
        </div>
        <%= render partial: 'layouts/loading' %>
      </div>

      <%= javascript_tag do %>
        $(function() {
          SocialStream.RelationCustom.index();
        })
      <% end %>
  </section> 
</section> 
