<section class="comunication-info">
  <header>
    <%= render partial: 'edit_icon' %>
    <h4>
      <%= t('profile.contact') %>
    </h4>
  </header>
  <div class="briefing">
    <% if @profile.contact_present? %>
      <% if @profile.phone? %>
        <h5>
          <%= t('profile.phone') %>
        </h5>
        <p>
        <%= h @profile.phone %>
        </p>
      <% end %>

      <% if @profile.mobile? %>
        <h5>
          <%= t('profile.mobile') %>
        </h5>
        <p>
        <%= h @profile.mobile %>
        </p>
      <% end %>

      <% if @profile.fax? %>
        <h5>
          <%= t('profile.fax') %>
        </h5>
        <p>
        <%= h @profile.fax %>
        </p>
      <% end %>

      <% if @profile.address? %>
        <h5>
          <%= t('profile.address') %>
        </h5>
        <p>
        <%= h @profile.address %>
        </p>
      <% end %>

      <% if @profile.website? %>
        <h5>
          <%= t('profile.website') %>
        </h5>
        <p>
        <%= link_to @profile.website, @profile.website %>
        </p>
      <% end %>
    <% else %>
      <%= render partial: 'empty' %>
    <% end %>
  </div>
 
  <% if can? :update, @profile %>
  <div class="update">

    <%= form_for(@profile, :url => [current_subject, :profile]) do |f| %>
      <h6>
        <%= f.label :phone, t('profile.phone') %>
      </h6>
      <%= f.phone_field :phone %>

      <h6>
        <%= f.label :mobile, t('profile.mobile') %>
      </h6>
      <%= f.phone_field :mobile %>

      <h6>
        <%= f.label :fax, t('profile.fax') %>
      </h6>
      <%= f.phone_field :fax %>

      <h6>
        <%= f.label :address, t('profile.address') %>
      </h6>
      <%= f.text_field :address %>

      <h6>
        <%= f.label :email, t('profile.email') %>
      </h6>

      <%= f.email_field :email, :class => "email" %>

      <h6>
        <%= f.label :website, t('profile.website') %>
      </h6>
      <%= f.text_field :website, :class => "url" %>

      <%= f.submit :class => "btn" %>
    <% end %>
  <% end %>
  </div>
</section>
