<div class="experience section">
  <header>
    <h4>
      <%= t("profile.#{ @profile.subject.class.to_s.downcase }.experience") %>

      <%= render partial: 'edit_icon' %>
    </h4>
  </header>

  <div class="briefing">
    <% if @profile.experience? %>
    <p>
      <%= simple_format @profile.experience %>
    <p>
    <% else %>
      <%= render partial: 'empty' %>
    <% end %>
  </div>

  <% if can? :update, @profile %>
    <div class="update">
      <%= form_for(@profile, :url => [current_subject, :profile]) do |f| %>

        <%= f.text_area :experience, :maxlength => 246, :rows => 5 %>

        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
