<section class="personal">
  <header>
    <%= render partial: 'edit_icon' %>
    <h4>
      <%= t("profile.#{ @profile.subject.class.to_s.downcase }.info") %>
    </h4>
  </header>
  <div class="briefing">
    <% if @profile.personal_present? %>
      <% if @profile.description? %>
        <h5>
          <%= t("profile.#{ @profile.subject.class.to_s.downcase }.about") %>:
        </h5>

        <%= simple_format @profile.description %>
      <% end %>


      <% if @profile.organization? %>
        <h5>
          <%= t('profile.organization') %>
        </h5>

        <p>
        <%= h @profile.organization %>
        </p>
      <% end %>

      <% if @profile.birthday? %>
        <h5>
          <%= t("profile.#{ @profile.subject.class.to_s.downcase }.birthday") %>:
        </h5>

        <p>
        <%= h l(@profile.birthday, :format => :long) %>
        </p>

        <% if @profile.subject.is_a?(User) %>
          <h5>
            <%= t('profile.age') %>:
          </h5>

          <p>
          <%= h @profile.age %>
          </p>
        <% end %>
      <% end %>

      <% if @profile.city? %>
        <h5>
          <%= t('profile.actualcity') %>:
        </h5>

        <p>
        <%= h @profile.city %>
        <% if @profile.country? %>
          , <%= @profile.country %>
        <% end %>
        </p>       
      <% end %>

      

    <% else %>
      <%= render partial: 'empty' %>
    <% end %>
  </div>

  <div class="update">
    <% if can? :update, @profile %>
      <%= render partial: 'personal_edit' %>
    <% end %>
  </div>
</section>
