<%= form_for(@profile, :url => [@profile.subject, :profile]) do |f| %>
  
  <%= f.label :name, :class => "name-required" %> <span class="required">*</span>

  <%= f.text_field :name, :class => "required" %>

  <%= f.label :description, t("profile.#{ f.object.subject.class.to_s.downcase }.about") %>

  <%= f.text_area :description, :maxlength => 200, :rows => 10 %>

  <%= f.label :organization, t('profile.organization') %>

  <%= f.text_field :organization %>

  <%= f.label :birthday, t('profile.' + f.object.subject.class.to_s.downcase + '.birthday') %>

  <%= date_select "profile", "birthday", :order => [:day, :month, :year], :end_year => Date.today.year, :start_year => (Date.today.year - 100), :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} %>

  <%= f.label :city, t('profile.actualcity') %>

  <%= f.text_field :city %>

  <%= f.label :country, t('profile.country') %>

  <%= f.text_field :country %>

  <p>
    <%= t('required') %>
  </p>
  <%= f.submit %>
<% end %>
