<div id="profile-info">
  <h2 class="colorfont">
    <%= t('profile.one') %>
  </h2>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <% if can?(:update, @profile) || @profile.tags_present? %>
        <%= render partial: "tags" %>
      <% end %>
    </div>
    <div class="accordion-group">
      <% if can?(:update, @profile) || @profile.personal_present? %>
        <%= render partial: "personal" %>
      <% end %>
    </div>
    <div class="accordion-group">
      <% if can?(:update, @profile) || @profile.contact_present? %>
        <%= render :partial => "comunication-info" %>
      <% end %>
    </div>
    <div class="accordion-group">
      <% if can?(:update, @profile) || @profile.experience? %>
        <%= render :partial => "experience" %>
      <% end %>
    </div>
    <div class="accordion-group">
      <% if can?(:update, @profile) || @profile.personal_present? %>
        <%= render :partial => "avatar" %>
      <% end %>
    </div>

    <%= javascript_tag do %>
      $(function() {
        SocialStream.Profile.show({
          section: "<%= params[:section ] %>"
        });
      });
    <% end %>
  </div>
</div>
