<div>
<p class="devise_title2"><%= t('profile.one') %></p>
<div class="space_center"></div>

<% if (@profile.subject.tag_list.count > 0) or (is_owner?) %>
  <%= render :partial => "tags" %>
<% end %>

<% if (!is_personal_empty?) or(is_owner?) %>
  <%= render :partial => "personal" %>
<% end %>

<% if (!is_contact_empty?) or(is_owner?) %>
  <%= render :partial => "contact" %>
<% end %>

<% if (@profile.experience?) or(is_owner?) %>
  <%= render :partial => "experience" %>
<% end %>

<% if is_owner? %>


<div class="row" id="avatar_info">
  <div class="header_text2">
    <%= t('avatar.profile_change') %>
    <div class="header_icon_right">
      <%= link_to (image_tag('edit_icon.png', :class=>"unborder")), :controller => "avatars", :action => "index" %>
    </div>
  </div>
  <div class="space_center"></div>
</div>


<div class="content">
  <div class="row">
  </div>
</div>
<% end %>
</div>

