
<h2><%=t('menu.information')%></h2>


<% if (!is_personal_empty?) or(is_owner?)%>
  <%= render :partial=> "personal"%>
<%end%>

<%  if  @profile.subject.subject_type == 'Event' %>
  <%= render :partial=> "outline", :locals => {:profile => @profile} %>
<% end %>

<% if (!is_contact_empty?) or(is_owner?)%>
  <%= render :partial=> "contact"%>
<%end%>
<% if (@profile.experience?) or(is_owner?)%>
  <%= render :partial=> "experience"%>
<%end%>
<% if is_owner? %>

<% if (@profile.subject.tag_list.count > 0) or (is_owner?) %>
  <%= render :partial=>"tags"%>
<% end %>

<article id="avatar_info">
    <header>
      <h5>
        <%= link_to ("avatars"),  :controller => "avatars" , :action => "index" %>
      </h5>
    </header>
  </article>
<% end %>

