<% content_for :title do%>
  <%= @profile.subject.name %>
<% end %>

<% if @profile.description? %>
  <% content_for :description do %>
    <%= @profile.description %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @profile.subject.tag_list%>
<% end %>

<section id="profile">

  <%= render partial: 'toolbar/profile', locals: { :subject => @profile.subject } %>

  <%= render :partial => "profile" %>

  <%= render partial: 'sidebar/show' %>
</section>
