<div class="details">
  <div class="text">
    <h6>
    <%= link_to event.title, event %>
    </h6>

    <div class="frequency">
      <%= event.frequency_description %>
    </div>

    <%= render partial: 'objects/timeline_description',
               object: event,
               as: :obj %>

    <div class="follow">
      <div class="follow_sentence">
      <%= render :partial => 'activity_actions/follow_sentence',
                   :locals  => { :activity_object => event.activity_object } %>
      </div>
      <div class="follow_form">
        <%= render :partial => 'activity_actions/follow_form',
                   :locals => { :activity_object => event.activity_object } %>
      </div>
    </div>
  </div>
</div>
