<% cont=0; %>
<%=@events.count%>
<% @events.each do |event| %>
	<% if (cont%2) == 0 %>
	  <% cont+=1; %>
 	  <div class="row">
	<% end %>
    <div class="label">
      <div class="logo">
        <%= link_to (image_tag(event.logo.url , :size => "50x50", :alt => event.name )), event  %>
      </div>
      <div class="sub-block">
        <div class="name black" >
          <%= link_to truncate_name(event.name), event %>
        </div>
        <div class="brief">
          <%= t 'follower.n', :count => event.follower_count %>,
          <%= t 'like.n',     :count => event.like_count %>
        </div>
        <div class="link">
          <%= contact_to(event) %>
        </div>
      </div>
    </div>
	<% if ((cont%2) == 0) 	%>
  	</div>
	<% end %>
<% end %>
<% if ((cont%2) != 0) 	%>
  <div class="label"></div>
	</div>
<% end %>
<div class="row">
  <%= paginate @events %>
</div>
