<div class="space_center"></div>

<div class="block">
  <div class="content">

    <%= render :partial => 'events/calendar_month',
               :locals  => {
                 :position => :top,
                 :date => Date.today.beginning_of_week 
                } %>

  <table id="sidebar_calendar">
    <% bow = Time.now.beginning_of_week %>

    <% 28.times do |i| %>
      <% day = bow + i.days %>

      <%= raw cycle(*(Array.wrap("<tr>") + 6.times.map{""}) + Array.wrap(:name => "tr_start")) %>
      <td class="<%= event_class(day.to_date) %>">
        <%= link_to day.day, polymorphic_path([profile_or_current_subject, Event.new], :date => day.to_i, :view => "agendaDay") %>
      </td>

      <%= raw cycle(*(6.times.map{""} + Array.wrap('</tr>') + Array.wrap(:name => "tr_end"))) %>
    <% end %>
  </table>

    <%= render :partial => 'events/calendar_month',
               :locals  => {
                 :position => :bottom,
                 :date => Date.today.beginning_of_week + 28
                } %>

  </div>
</div>
