<% content_for :title do %>
  <%= @event.name%>
<% end %>

<% if @event.profile.description? %>
  <% content_for :description do %>
    <%= @event.profile.description%>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @event.profile.subject.tag_list%>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar_show' %>
<% end %>

<%= location(link_to(image_tag("btn/event.png", :class => "btn_config")+t('event.title')+": "+
                      content_tag(:span, ( truncate_name sanitize @event.name), :class=>"name_group")))%>

<% toolbar :profile => @event %>
<div class="space_center"></div>

<%  if  @event.subject.subject_type == 'Event' and @event.has_date? %>
  <%= render :partial=> "agendas/schedule", :locals => {:event => @event} %>
<% else %>
  <br class="clearfloat" />
  <div class="space_center"></div>
  <div class="space_center"></div>
<%end%>

<%= render :partial => "activities/index",
           :locals  => { :activities => @event.wall(:profile, :for => current_subject).
                                               page(params[:page]),
                         :owner => @event } %>


