<table class="tableCheckBoxOptions">  

  <tr><td rowspan="<%= list.size + 3 %>">
      <div class="sliderDiv">
        <p>
        <input type="text" id="relation" class="sliderTitle" />
        <div id="slider-range"></div>
        </p>
      </div>
      </td><td>
      &nbsp;
  </td></tr>
  <tr><td>
      <div class="checkboxOptionLeft"><label><%= t 'relation.me.name' %></label></div>
  </td></tr>

  <% i = 0 %>
  <% list.reverse.each do |r| %>
    <tr><td>
        <div contain=<%= dom_id r %> class="checkboxOptionLeft"><input id=<%= dom_id r %> optionOf="relation" type="checkbox"/> <label for="<%= dom_id r %>" order="<%= i %>"><%= r.name %></label></div>
    </td></tr>
    <% i += 1 %>
  <% end %>

  <tr><td>
      <div class="checkboxOptionLeft"><label><%= t 'relation.public.name' %></label></div>
  </td></tr>
  </table>
