<div id="chat_settings">
  <header>
    <h5>      
      -&#32<%= link_to t('chat.title'),  "javascript:showSettings(\"chat_settings\");" %>&#32-
    </h5>
  </header>

  <div class="content settings_content" id="chat_settings_content" style="display:none;">
	  <%= form_tag(:controller => "Xmpp", :action => "updateSettings", :method => "get") do %>
    <ul  class="settings_block">
      <li>  
        <% checked = current_user.chat_enabled %>
        <%= check_box_tag 'enable_chat', true, checked %>
        <%= label_tag(:enable_chat, t('chat.settings.checkbox')) %> 
        <div class="actions center">
          <%= hidden_field_tag :settings_section, :chat %>
          <%= submit_tag t('chat.settings.update'), :class => "btn" %>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
</div>
