<% if current_user and current_user.chat_enabled and current_subject.subject_type=="User" %>
	

	<script type="text/javascript">

    //Global variables
		var cookie = "AuthenticationByCookie>>" + "<%=cookies[Rails.application.config.session_options[:key]]%>";
		var user_name = '<%=current_user.name%>';
		var user_slug = '<%=current_user.slug%>';
		var user_jid = '<%=current_user.slug%>'+"@"+domain;


		$(document).ready(function () {
			
			  if(getRestoreUserChatStatus()!="offline"){
					connectToChat(user_jid,cookie,null);
					//connectToChat(user_jid,null,null); //To use auth by password.
					
					initialTimer = setTimeout("updateChatWindow()", 15000);
				} else {
					initialTimer = setTimeout("updateChatWindow()", 1);
				}
				
	      initAudio();
				initFocusListeners();
		});
		
	</script>
			

	<div id="chat_partial">		
	  <%= render :partial => 'chat/connecting' %>
	</div>
	
<% end %>