<div class="block" id="chat_settings">
    <div class="header">
        <div class="header_text">
             <%=t('chat.title')%>
        </div>
        <div class="header_icon_right">
          <%= link_to (image_tag('btn/edit.png')),  "javascript:showSettings(\"chat_settings\");" %>
        </div>
    </div>
    <div id="chat_settings_briefing" class="settings_briefing content">        
        <div class="form_row">
            <%=t('chat.settings.title')%>
        </div>
    </div>
    <div class="content settings_content" id="chat_settings_content" style="display:none;">
				<%= form_tag(:controller => "Xmpp", :action => "updateSettings", :method => "get") do %>
        <ul>
        <div class="settings_block">
        	<div class="form_row">
          </div>
          <div class="form_sub_row">
            <% checked = current_user.chat_enabled %>
            <%= check_box_tag 'enable_chat', true, checked %>
            <%= label_tag(:enable_chat, t('chat.settings.checkbox')) %> 
          </div>
          <div class="actions center">
              <%= hidden_field_tag :settings_section, :chat %>
              <%= submit_tag t('chat.settings.update'), :class => "button" %>
          </div>
        </div>
        </ul>
        <% end %>
    </div>
</div>
