  <% variable=current_subject.ties_to(contact).to_a %>
  <% temporal='' %>
  <% variable.each do |temp| %>
    <% temporal=temp.relation_id %>
  <% end %>

  <div class="label" id="contact<%=contact.actor_id.to_s%>">
    <div class="logo">
      <%= link_to image_tag(contact.logo.url , :size => "50x50", :alt => contact.name), contact %>
    </div>
    <div class="sub-block">
      <div class="name black" >
        <%=link_to(truncate_name(contact.name), contact)%>
      </div>
      <div class="link">
        <%= form_tag "/settings/update_relation/"+contact.actor_id.to_s, :method => :post ,:id=> 'form_'+contact.actor_id.to_s, :class => "tie_form",:remote=> true do %>
            <%= select "manage","contacts",current_subject.relation_customs.collect{|r| [r.name, r.id]},	{:selected=>temporal},{:onchange=>'$(\'#form_'+contact.actor_id.to_s+'\').submit();'} %>
        <% end %>
      </div>
    </div>
    <div class="link">
         <%= link_to t('actor.delete'),{:controller => :settings , :action => :delete_relation,:id=>contact.actor_id.to_s}, :confirm => t('actor.confirm_delete'),  :remote => true %>
         <%= link_to image_tag("btn/trash.png" , :alt => contact.name),{:controller => :settings , :action => :delete_relation,:id=>contact.actor_id.to_s}, :confirm => t('actor.confirm_delete'),  :remote => true%>
    </div>
