<div class="title">
	<h2><%= conversation.subject %></h2>
</div>
<div class="action">
	<% unless @box.eql?'trash' %><%= link_to ( image_tag('btn/btn_delete.png', :atl => "Delete", :title => "Delete"),
	conversation_path(conversation, :location => 'conversation', :box => @box),
	:confirm => 'Do you want to move "' + conversation.subject + '" to trash?',
	:method => :delete, :remote => true) %><% end %>
</div>
<div class="clearfloat">
</div>
<div class="participants">
	<h3><%= t("message.participants") %>:</h3>
	<% conversation.recipients.each do |recp| %>
	<%= link_to image_tag(recp.logo.url(:tie), :title=>recp.name, :alt => recp.name), recp.subject %>
	<% end %>
</div>
<div class="messages">
	<% @receipts.each do |receipt| %>
	<% message = receipt.message %>
	<% read_class = message.is_unread?(@actor) ? 'unread' : '' %>
	<%= render :partial => "messages/message",:object => message, :locals => {:read_class => read_class} %>
	<% end %>

	<% unless @box.eql?'trash' %>
	<br>
	<%= form_tag conversation_path(conversation.id), :method => :put, :class => "cont_conversation" do %>
	<% if @receipt and @receipt.errors.any? %>
		<div class="error">
			<h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this message from being sent:</h2>
			<ul>
				<% @receipt.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>
		<div class="block">
		<div class="form_row">
			<%= t("message.answer") %>
		</div>
		<div class="form_row">
			<%= text_area_tag :body, nil,:rows =>6, :cols=> 53, :class => "required form_tag" %>
		</div>
		<div class="actions center">
			<%= submit_tag "Reply", :name => :reply_all,:class => "button" %>
		</div>
	</div>
	<% end %>
	<%end %>
</div>
