<div id="caracteristics">
  <ul>
    <li class="participants">
        <%= t('frontpage.elements.participants') %>
    </li>
    <li class="organizers">
        <%= t('frontpage.elements.organizers') %>
    </li>
    <li class="spaces">
        <%= t('frontpage.elements.groups') %>
    </li>
    <li class="comments">
        <%= t('frontpage.elements.comments') %>
    </li>
    <li class="tags">
        <%= t('frontpage.elements.tags') %>
    </li>
    <li class="networks">
        <%= t('frontpage.elements.networks') %>
    </li>
  </ul>
</div>

