<div id="caracteristics">
  <ul class="list">
    <li class="list participants">
        <%= t('frontpage.elements.participants') %>
    </li>
    <li class="list organizers">
        <%= t('frontpage.elements.organizers') %>
    </li>
    <li class="list groups">
        <%= t('frontpage.elements.groups') %>
    </li>
    <li class="list comments">
        <%= t('frontpage.elements.comments') %>
    </li>
    <li class="list tags">
        <%= t('frontpage.elements.tags') %>
    </li>
    <li class="list networks">
        <%= t('frontpage.elements.networks') %>
    </li>
  </ul>
</div>

