<div id="headerFront">
  <div class="banner_top">
    <div id="logo"><%= link_to(image_tag('logo.png', :alt => t('site.name')), '/'); %></div>
    <div class="div_login">
      <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
        <div id="login_data">
          <div class="login_data_block">
            <span><%= f.label :email %></span>
            <%= f.email_field :email, :class => "input_username" %>
          </div>
          <div class="login_data_block">
            <span><%= f.label :password %></span>
            <%= f.password_field :password, :class => "input_username" %>
          </div>
        </div>
        <div>
        <%= f.submit t(:sign_in), :class => 'other_blue'%>
        </div>
      <% end -%>
      <div class="subtexto">
        <%= link_to t('sign_up'), new_user_registration_path, :class => "register_link" %>
        <span>|</span>
        <%= link_to t('forgot_password'), new_user_password_path, :class => "register_link" %>

        <%= render :partial => 'frontpage/social_networks' %>
      </div>
    </div>
  <br class="clearfloat" />
  </div>
</div>
