<section class="caracteristics">
  <img src="assets/caracteristic/modular.png">
  <header>
    <%= t 'frontpage.presentation.modular.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.modular.p') %>
  </p>
</section>
<section class="caracteristics">
  <img src="assets/caracteristic/flexible.png">
  <header>
    <%= t 'frontpage.presentation.flexible.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.flexible.p') %>
  </p>
</section>
<section class="caracteristics">
  <img src="assets/caracteristic/github.png">
  <header>
    <%= t 'frontpage.presentation.community.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.community.p') %>
  </p>
</section>
