<section class="characteristics">
  <%= link_to image_tag('characteristic/modular.png'), 'https://github.com/ging/social_stream#social-stream-components' %>
  <header>
    <%= t 'frontpage.presentation.modular.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.modular.p') %>
  </p>
</section>
<section class="characteristics">
  <%= link_to image_tag('characteristic/flexible.png'), 'https://github.com/ging/social_stream/wiki/How-to-change-controllers%2C-models%2C-views%2C-assets-and-locales' %>
  <header>
    <%= t 'frontpage.presentation.flexible.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.flexible.p') %>
  </p>
</section>
<section class="characteristics">
  <%= link_to image_tag('characteristic/github.png'), 'https://github.com/ging/social_stream' %>
  <header>
    <%= t 'frontpage.presentation.community.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.community.p') %>
  </p>
</section>
