<section class="modular">
  <header>
    <%= t 'frontpage.presentation.modular.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.modular.p') %>
  </p>
</section>
<section class="flexible">
  <header>
    <%= t 'frontpage.presentation.flexible.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.flexible.p') %>
  </p>
</section>
<section class="community">
  <header>
    <%= t 'frontpage.presentation.community.header' %>
  </header>
  <p>
    <%= raw t('frontpage.presentation.community.p') %>
  </p>
</section>
