<% if current_subject.subject_type=="User" %>
	
	<% content_for :headers do %>
	  <%= stylesheet_link_tag "chat.css", :media => "screen, projection" %>
	  <%= javascript_include_tag 'jquery-ui-1.8.14.custom.min'%>
	  <%= javascript_include_tag 'jquery.ui.chatbox'%>
	  <%= javascript_include_tag 'jquery.tools.min'%>
	  <%= javascript_include_tag 'strophe'%>
	  <%= javascript_include_tag 'xmpp_client'%>
		<%= javascript_include_tag 'store'%>
  <% end %>
	
		
	<script type="text/javascript">
			
		//Global variables
		var BOSH_SERVICE = '<%= SocialStream::Presence.bosh_service || root_url + "http-bind/" %>';
		var domain = '<%=SocialStream::Presence.domain%>';
    var user_name = '<%=current_user.name%>';
		var user_slug = '<%=current_user.slug%>';
    var user_jid = '<%=current_user.slug%>'+"@"+domain;
		var sound_path = "/assets/audio/chat/onMessage"

    function connectToServer(chatPassword){
		  <%unless current_user.nil? %>
				
				//Get Password
				if ((chatPassword!=null)&&(chatPassword!="")){
					var password = chatPassword;
				} else if ((window.sessionStorage)&&(sessionStorage.getItem("ss_user_pass") != null)) {
          var password = sessionStorage.getItem("ss_user_pass");
        } else {
					return false;
				}
				
				try {
            //Connect actual user to the chat
            connection = new Strophe.Connection(BOSH_SERVICE);
            connection.connect(user_jid, password, onConnect);
        } catch (err) {
            //"Handle errors"
						return false;
        }

				return true;
      <%end%>
		}

		$(document).ready(function () {	
			if (connectToServer(null)==false){
				refreshChatWindow();
			}
			initialTimer = setTimeout("updateChatWindow()", 15000);
      initAudio();
		});
		
	</script>
			
	<div id="chat_partial">		
	  <%= render :partial => 'xmpp/chat_connecting' %>
	</div>
	
<% end %>