<%= div_for (conversation) do %>
  <div class="activity_content_message">
    <div class="actor_name_message">
      <h2><%= conversation.subject %></h2>
    </div>

  </div>
  <% @mails.each do |mail| %>
  	<hr><br>
	<% message= mail.mailboxer_message %>
	<%= image_tag(message.sender.logo.url(:tie)) %><br>
	<b><%= message.sender.name %></b> on <%= message.created_at %> said:<br>
	<%= message.body %><br><br>
	Debug:<br>	
	<blockquote>
		Message.Id: <%= message.id %><br>
		Mail.Id: <%= mail.id %><br>
		Mail.MailboxType: <%= mail.mailbox_type%>
	</blockquote>
	<br><br>
	
  <% end %>

<% end %>