<%= div_for (conversation) do %>
  <h2><%= conversation.subject %></h2>
  <hr>
  <% conversation.get_recipients.each do |recp| %>
 	 <%= link_to image_tag(recp.logo.url(:tie), :title=>recp.name, :alt => recp.name), recp.subject %>
  <% end %><br>
	
  <% @mails.each do |mail| %>
  	<hr><br>
	<% message= mail.mailboxer_message %>
	<%= link_to image_tag(message.sender.logo.url(:tie),:alt => message.sender.name,:title =>message.sender.name), message.sender.subject %><br>
	<b><%= message.sender.name %></b> on <%= message.created_at %> said:<br>
	<b><i><%= message.body %></i></b><br><br>
	Debug:<br>
	Message.Id: <%= message.id %><br>
	Mail.Id: <%= mail.id %><br>
	Mail.Type: <%= mail.mailbox_type %><br>
	Message.Sender: <%= message.sender.class.to_s %>/<%= message.sender.id.to_s %><br><br>
  <% end %>
  <hr><br>
  Write your answer:<br>
  <% form_tag mailbox_conversation_path(conversation.id), :method => :put do %>
	<p>
	    <%= text_area_tag :body, nil,:cols => "90" %>
	</p>
	<p>
	    <%= submit_tag "Reply all", :name => :reply_all %>
	</p>
  <% end %>
<% end %>