<% content_for :sidebar do %>
<%#= render :partial => 'home/sidebar' %>
<% end %>
<% content_for :toolbar do %>
<%= render :partial => "home/toolbar" %>
<% end %>
<%= render :partial => 'location' %>
<br class="clearfloat" />
<div class="space_center">
</div>
<div id="new_message">
	<% if session[:mailbox_id].present? %>
    <%= link_to 'Back', mailbox_path(:id => session[:mailbox_id]) %>
	<% else %>
    <%= link_to 'Back', mailbox_index_path %>
	<% end %>
</div>
<div class="space_center">
</div>
<div class="space_center">
</div>
<div id="conversation">
    <% content_for :headers, stylesheet_link_tag("message", :media => "screen, projection") %>
    <%= render :partial => 'conversation', :locals =>{:conversation => @conversation} %>
</div>
