		<div id="follower">
				<div id="title_follower">
                                  <%=image_tag("buttons/btn_follower.png", :alt => "Follower")%><%=@group.followers.count%> <%=t('follower', :count => @group.followers.count)%>
				</div>
				<div class="follower_line">
          <% @group.followers.all.each do |follower| %>
					    <%=link_to((image_tag(follower.logo.url, :alt => follower.name , :size => "40x40")) , follower)%>
          <%end%>
				</div>
				<div class="future_footer">
					<%=link_to((image_tag("buttons/btn_next.png", :alt => "next")) , group_path)%>
				</div>
		</div>

