<% cont=0; %>
<% @groups.each do |group| %>
	<% if (cont%2) == 0 %>
	  <% cont+=1; %>
 	  <div class="row">
	<% end %>
    <div class="label">
      <div class="logo">
        <%= link_to (image_tag(group.logo.url , :size => "50x50", :alt => group.name )), group  %>
      </div>
      <div class="sub-block">
        <div class="name black" >
          <%= link_to group.name, group %>
        </div>
        <div class="brief">
          <%= t 'follower.n', :count => group.follower_count %>,
          <%= t 'like.n',     :count => group.like_count %>
        </div>
        <div class="link">
          <%= ties_to(group) %>
        </div>
      </div>
    </div>
	<% if ((cont%2) == 0) 	%>
  	</div>
	<% end %>
<% end %>
<% if ((cont%2) != 0) 	%>
  <div class="label">
  </div>
		</div>
<% end %>
<div class="row">
  <%= will_paginate @groups %>
</div>
