<% content_for :head do %>
  <%= stylesheet_link_tag "fcbkComplete.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "edit_user", :media => "screen, projection" %>          
	<%= javascript_include_tag 'jquery.validate' %>
<% end %>   

<% content_for :javascript do %>
	$(function() {         
		$(".new_group").validate();              
	}); 
	 $("#group__participants").fcbkcomplete({
    json_url: "../contacts/index.json",
    cache: true,
    filter_case: true,
    filter_hide: true,
    newel: false,
    height: 6
  });
<% end %> 
				
<%= form_for @group do |f| %>
  <% f.object._founder = current_subject.permalink %>
  <%= f.hidden_field :_founder %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit_field">
  	<div class="edit_label">
      <%= f.label t('group.new.name') %>
		</div>
    <%= f.text_field :name, :size=> 71, :class => "required edit_text" %>
  </div>

  <div class="edit_field">
  	<div class="edit_label">
      <%= f.label t('group.new.participants') %>
		</div>
    <%= f.select :_participants, "", :class => "edit_text" %>
  </div>
	<div class="edit_field">

		<%= f.fields_for :profile do |profile_form| %>
		  <div class="edit_label">
			   <%= profile_form.label "Description" %>				 
			</div>
	    <%= profile_form.text_area :description, :rows =>6, :cols=> 53, :class => "edit_text" %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>


