<%= form_for @group do |f| %>
  <% f.object._founder = current_subject.permalink %>
  <%= f.hidden_field :_founder %>

  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('group.new.name') %><br />
    <%= f.text_field :name, :size=> 71 %>
  </div>
  <div class="field">
    <%= f.label t('group.new.description') %><br />
    <%= f.text_area :description, :rows =>6, :cols=> 53 %>
  </div>
  <div class="field">
    <%= f.label t('group.new.participants') %><br />
    <%= f.select :_participants, "" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
<% content_for :javascript do %>
	$("#group__participants").fcbkcomplete({
		json_url: "../contacts/index.json",
		cache: true,
		filter_case: true,
		filter_hide: true,
		newel: false,
		height: 6
	});
<% end %>
