<% content_for :headers, stylesheet_link_tag("jqcloud") %>

<div class="space_center"></div>

<div class="block">
  <div class="header">
    <%= image_tag('btn/btn_tag.png', :class => "icon", :size => "15x15") %>
    <div class="header_text">
      <%= t 'group.cloud' %>
    </div>
  </div>
  <div id="wordcloud" class="content"></div>
</div>

<% if user_signed_in? %>
<div class="space_center"></div>
<%= render :partial => "ties/suggestions" %>
<div class="space_center"></div>
<%= render :partial => 'ties/pendings' %>


<%= javascript_include_tag "jqcloud-0.1.3.min.js" %>
<% end %>


<% tags = ActivityObject.tag_counts %>

<script type="text/javascript">
  var word_list = new Array(
	<% tag_cloud(tags, %w(5 7 9 11 13 15)) do |tag, weight| %>
		{text: "<%= tag.name %>", weight: <%= weight %>, url: "?tag=<%= tag.name %>"},    
	<% end %>
	{text: "", weight:0, url:""}
  );
  $(document).ready(function() {
    $("#wordcloud").jQCloud(word_list);
  });
</script>