<% content_for :title do %>
  <%= @group.name%>
<% end %>
<% content_for :description do %>
  <%= @group.profile.description%>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar_show' %>
<% end %>

<% content_for :location do %>
  <%= render :partial => 'location' %>
<% end %>

<% toolbar :profile => @group %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div class="space_center">
</div>

<%= render :partial => 'activities/walls', :locals => { :owner => @group } %>
