		<div class="future_conference">
				<div class="future_header">
						<div class="future_text_header">
							<%= image_tag("buttons/btn_follower.png", :alt =>"follower") %>2.520 Contacts
						</div>
						<div class="title_righ">
								<a href="#">Ver Todas</a>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content_center">
							<%=link_to ( (image_tag ( "albums/1.png", :alt => @user.name , :size => "40x40")) , @user) %>
							<%=link_to ( (image_tag ( "albums/2.png", :alt => @user.name , :size => "40x40")) , @user) %>
							<%=link_to ( (image_tag ( "albums/3.png", :alt => @user.name , :size => "40x40")) , @user) %>
							<%=link_to ( (image_tag ( "albums/4.png", :alt => @user.name , :size => "40x40")) , @user) %>
						</div>
				</div>
		</div>

