<div class="contacts_header">
    <%=image_tag("btn/btn_friend.png", :class => "contacts_icon")%>
    <div class="contacts_text_header">
      <%= @user.friends.count %> <%= t('friend', :count => @user.friends.count) %>
    </div>
</div>
<div class ="contacts">
    <div class="contact">
      <%@user.friends.all.each do |friend|%>
          <%=link_to((image_tag (friend.logo.url, :alt => friend.name , :size => "40x40")) , friend)%>
      <%end%>
    </div>
</div>
<div class="contacts_footer">
  <%=link_to((image_tag("btn/btn_next.png", :alt => "next")) , users_path) %>
</div>

