<% if user.recent_groups.any? %>
  <div id="groups_title" class="content_size">
      <%=t('group.one', :count => user.recent_groups.count) %> (<span id="group_count"><%=user.recent_groups.count%></span>)
  </div>
  <div id="groups_list" class="content_size">
  <% if (user.recent_groups.count) > 10 %>
    <% content_for :headers, stylesheet_link_tag("carousel") %>
    <div id='carousel_container'>
      <div id='left_scroll'><%=image_tag("btn/group_left.png")%></div>
      <div id='carousel_inner'>
    <% else %>
     <div class="space_center"></div>
    <%end%>
      <ul id='carousel_ul' class="menu_list">
        <%= render user.recent_groups %>
      </ul>
    <% if (user.recent_groups.count) > 10 %>
     </div>
     <div id='right_scroll'><%=image_tag("btn/group_right.png")%></div>
    </div>
    <% end %>
  </div>
<% end %>
