 
		

		  <div class="future_conference" id="personal_info" >
				<div class="future_header">
						<div class="title_section">
								Personal Information
						</div>
						<div class="title_righ">
								
								<%= link_to "Edit", :controller => :users, :action => :edit, :section => :about_me %>
								
						</div>
				</div>
				<div class="post_future_conference"  >
					<% if @user.profile.organization? %>
						<div class="info_post">
								<div class="info_left">
										Organization:
								</div>
								<div class="info_right">
										<%=h @user.profile.organization %>
								</div>
						</div>
					<%end%>
					<% if @user.profile.birthday? %>
						<div class="info_post">
								<div class="info_left">
										BirthDay:
								</div>
								<div class="info_right">
									<%=h I18n.l @user.profile.birthday, :format => :long %>
								</div>
						</div>
						<div class="info_post">
								<div class="info_left">
										Age:
								</div>
								<div class="info_right">
										<%=h @user.age %>
								</div>
						</div>
					<%end%>
					<% if @user.profile.city? %>
						<div class="info_post">
								<div class="info_left">
										Actual City:
								</div>
								<div class="info_right">
										<%=h @user.profile.city %>
										<% if @user.profile.country? %>
										  , <%=@user.profile.country%>
										<%end%>
								</div>
						</div>
					<%end%>
					<% if @user.profile.description? %>
						<div class="info_post">
                <div class="info_left">
                    About me:
                </div>
                <div class="info_right">
                    <%=h @user.profile.description %>
                </div>
            </div>
					<%end%>
				</div>
		  </div>

		  <div class="future_conference" id="contact_info">
				<div class="future_header">
						<div class="title_section">
								Contact Information
						</div>
						<div class="title_righ">
								<%= link_to "Edit", :controller => :users, :action => :edit, :section => :contact_info %>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
							<% if @user.profile.phone? %>
							   <div class="info_post">
                    <div class="info_left">
                        Phone
                    </div>
                    <div class="info_right">
                        <%=h @user.profile.phone %>
                    </div>
                </div>
							<%end%>
							<% if @user.profile.mobile? %>
								<div class="info_post">
                    <div class="info_left">
                        Mobile
                    </div>
                    <div class="info_right">
                        <%=h @user.profile.mobile %>
                    </div>
                </div>
							<%end%>
							<% if @user.profile.fax? %>
								<div class="info_post">
                    <div class="info_left">
                        Fax
                    </div>
                    <div class="info_right">
                        <%=h @user.profile.fax %>
                    </div>
                </div>
							<%end%>
							<% if @user.profile.address? %>
								<div class="info_post">
                    <div class="info_left">
                        Address
                    </div>
                    <div class="info_right">
                        <%=h @user.profile.address %>
                    </div>
                </div>
							<%end%>
							<% if @user.profile.website? %>
								<div class="info_post">
										<div class="info_left">
												Website
										</div>
										<div class="contact_link">
												<a href="<%=h @user.profile.website %>"><%=h @user.profile.website %></a>
										</div>
								</div>
							<%end%>
							
								<div class="info_post">
                    <div class="info_left">
                        E-mail
                    </div>
                    <div class="info_right">
                        <%=h @user.email %>
                    </div>
                </div>
						</div>
				</div>
		  </div>

		  <div class="future_conference" id="experience_info">
				<div class="future_header">
						<div class="title_section">
								Experience
						</div>
						<div class="title_righ">
								<%= link_to "Edit", :controller => :users, :action => :edit, :section => :my_experience %>
						</div>
				</div>
				<div class="post_future_conference">
						<div class="future_content">
								<div class="info_post">
										
										<div class="info_right">
												<%=h @user.profile.experience %>
										</div>
								</div>
								
						</div>
				</div>
		 </div>



