        <% content_for :right do %>
        <%= render :partial => 'right_show' %>
        <% end %>
				
				<% content_for :middle do %>
        <%= render :partial => 'middle_show' %>
        <% end %>
				
       
				
        <%= form_for(@user, :remote => true) do |f| %>
        <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
				<script type="text/javascript">
              $(function() {
                  $("#content").css('border-right', 'none');
									$("#content").css('border-bottom', 'none');
									$("#contact_info").addClass('section_normal');
                  $("#experience_info").addClass('section_normal');
									$("#personal_info").addClass('section_normal');
									
									
                  $("#edit_user_1").validate();
                
              }); 
        </script>
        <div class="field">
            <% if !params[:section].present? or params[:section].eql?("about_me") %>
            <div class="sectionEdit">
                Personal information
            </div>
            <br/>
            <%= f.label :name %>
            <br/>

            <%= f.text_field :name, :class => "required" %>

            <br/>

						<script type="text/javascript">

							$(function () {
                  $( "#user_profile_attributes_birthday" ).datepicker({ yearRange: '1900:<%= Time.now.utc.to_date.year%>', 
								                                    changeYear: true, maxDate: '+0d', defaultDate: '-30y'});
									
									$("#personal_info").removeClass('section_normal');
									$("#personal_info").addClass('section_highlight');
									
							});

					  </script>
						<%= f.fields_for :profile do |profile_form| %>
						
						<div class="editField">
              <%= profile_form.label :organization %>
              <br/>
            </div>
            <%= profile_form.text_field :organization %>
            <br/>
						<div class="editField">
              <%= profile_form.label :birthday %>
              <br/>
						</div>
            <%= profile_form.text_field( :birthday , :class => "date") %>
            <br/>
						
            
						
						<div class="editField">
              <%= profile_form.label :city %>
              <br/>
						</div>
            <%= profile_form.text_field :city %>
            <br/>
						<div class="editField">
              <%= profile_form.label :country %>
              <br/>
						</div>
            <%= profile_form.text_field :country %>
            <br/>
						<div class="editField">
              <%= profile_form.label "About me" %>
              <br/>
						</div>
            <%= profile_form.text_area :description, :rows =>6, :maxlength => 400 %>
            <br/>
            <br/>
            <% end %>
						<% end %>
            <% if !params[:section].present? or params[:section].eql?("contact_info") %>
						<script type="text/javascript">

              $(function() {

                  $("#contact_info").removeClass('section_normal');
                  $("#contact_info").addClass('section_highlight');
              });

            </script>
            <div class="sectionEdit">
                My contact information
            </div>
						<%= f.fields_for :profile do |profile_form| %>
            <br/>
						<div class="editField">
              <%= profile_form.label :phone %>
              <br/>
						</div>
            <%= profile_form.text_field :phone, :class => "phone" %>
            <br/>
						<div class="editField">
              <%= profile_form.label :mobile %>
              <br/>
						</div>
            <%= profile_form.text_field :mobile, :class => "phone" %>
            <br/>
						<div class="editField">
              <%= profile_form.label :fax %>
              <br/>
						</div>
            <%= profile_form.text_field :fax, :class => "phone" %>
            <br/>
						<div class="editField">
              <%= profile_form.label :address %>
              <br/>
						</div>
            <%= profile_form.text_field :address %>
            <br/>
						<div class="editField">
              <%= profile_form.label :website %>
              <br/>
						</div>
            <%= profile_form.text_field :website, :class => "url" %>
            <br/>
            <br/>
            <% end %>
						<% end %>
            <% if !params[:section].present? or params[:section].eql?("my_experience") %>
						<script type="text/javascript">

              $(function() {

                  $("#experience_info").removeClass('section_normal');
                  $("#experience_info").addClass('section_highlight');
              });

            </script>
	            <div class="sectionEdit">
	                My experience
	            </div>
							<%= f.fields_for :profile do |profile_form| %>
	            <br/>
	            <%= profile_form.text_area :experience, :rows =>6, :maxlength => 500 %>
	            <br/>
	            <br/>
	            <% end %>
            <% end %>
        </div>
				<% if params[:section].present? %>
				<%= hidden_field_tag("section", params[:section]) %>
				<% end %>
        <div class="actions">
            <%= f.submit "Update" %>&nbsp;<button onclick="window.location.href='<%= user_url(@user) %>';">Cancel</button>
        </div>
				<br/>
        <% end %>
