<% content_for :title do%>
  <%= t('user.other') %>
<%end%>

<% content_for :headers do %>
  <%= javascript_include_tag 'jquery.ba-url','ajax.paginate' %>
<% end %>

<% toolbar if user_signed_in? %>

<% content_for :sidebar do %>
	<%= render :partial => "users/sidebar_index" %>
<% end %>

<%= location(image_tag("btn/btn_browse.png", :class=>"btn_config") + t('browse') +": "+
             content_tag(:b ,content_tag(:span, t('user.other'), :id=>'name_group')) + ", "+ 
             link_to(t('group.by'),groups_path))%>

<div class="space_center"></div>

<div id="my_conferences">
  <div id="contacts" class="block">
    <div class="search_field_wrapper">
      <input type="text" value="Search by name" id="search_field" class="search_input" />
      <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
    </div>
    <div class="space_center"></div>
    <div class="row" >
      <div class="center">
        <%= link_to t('user.all_n', :count => User.count), users_path %> -
        <% for u in User.distinct_initials %>
          <%= link_to u.initial,{:letter => u.initial,:page => 1},:class => "user_letter_link" %>
        <% end %>
      </div>
    </div>
    <div class="space_center"></div>
    <div id="list_users_ajax" class="tab_content block">
      <%= render :partial => "users/index"%>
    </div>
    <div class="space_center"></div>
  </div>
</div>


<div class="space_center"></div>


