<% content_for :title do %>
  <%= @user.name+" | "+t('site.name') %>
<% end %>


<% content_for :description do %>
  <% if @user.profile.description? %>
    <%= @user.profile.description%>
  <% else %>
    <%= @user.name+" "+t('profile.is_on') + " "+ t('site.name') %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @user.profile.subject.tag_list%>
<% end %>

<% sidebar %>

<%= location(link_to(t('profile.one')+": "+truncate_name(sanitize @user.name)))%>
              
<% toolbar :profile => @user %>

<br class="clearfloat" />
<div class="space_center">
</div>

<%= render :partial => "users/groups",
           :locals  => { :user => @user } %>

<%= render :partial => "activities/index",
           :locals  => { :activities => @user.wall(:profile, :for => current_subject).
                                              page(params[:page]),
                         :owner => @user } %>
