<% content_for :title do%>
  <%= t('user.other') %>
<%end%>

<section id="users">

<% if user_signed_in? %>
  <%= render partial: 'toolbar/home' %>
<% end %>

<section class="users">
  <div id="contacts" class="block">
    <div class="search_field_wrapper">
      <input type="text" value="Search by name" id="search_field" class="search_input" />
      <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
    </div>

    <div class="center">
      <%= link_to t('user.all_n', :count => User.count), users_path %> -
      <% for u in User.distinct_initials %>
        <%= link_to u.initial.capitalize,{:letter => u.initial,:page => 1},:class => "user_letter_link" %>
      <% end %>
    </div>

    <%= render :partial => "users/index"%>
  
  </div>
</section>


  <%= render partial: 'sidebar/show' %>
</section>
