<% if user_signed_in? && controller.controller_name != 'explore' %>
  <%= link_to  'javascript:void(0)', :class => 'audience' do %>
    <i class="icon_tool16-<%= activity.public? ? 'public' : 'private' %>"></i>
    <%= activity.audience_in_words(current_subject, :details => :summary) %>
  <% end %>

  <div class="audience-tooltip tooltip top fade in">
    <%= activity.audience_in_words(current_subject) %>
    <% unless activity.public? %>
    <%= link_to t('activity.audience.show'), audience_path(activity_id: activity.id), remote: true %>
      <div class="activity-audience-list-<%= activity.id %>">
      </div>
    <% end %>
  </div>
<% end %>
