<%= div_for activity, :class => "child" do %>
  <div class="avatar">
    <%= link_to image_tag(activity.sender_subject.logo.url('35'),
                          :alt => activity.sender_subject.name),
                 activity.sender_subject %>
  </div>
  <header>
    <h6>
      <%= link_to(activity.sender_subject.name, activity.sender_subject) %>
    </h6>
    <div class="objects">
      <%= render activity.activity_objects %>
    </div>
    <%= render :partial => 'activities/actions',
               :locals => { :activity => activity } %>
  </header>
<% end %>
