<% if can? :create, new_post(receiver) %>
  <div class="wall_input">
    <%= form_for Post.new(owner_id: Actor.normalize_id(receiver)), remote: true do |f| %>
      <%= f.hidden_field :owner_id %>
    
      <%= f.text_field :text, placeholder: t('post.input') %>

      <%= f.submit t('activity.share'), class: "btn" %>

      <% SocialStream.activity_forms.each do |element| %>
        <%= render partial: "#{ element.to_s.pluralize }/new_activity",
                   locals: { f: f, receiver: receiver } %>
      <% end %>

      <%= f.select "relation_ids", options_for_select(current_subject.activity_relations_for(receiver).sort.map{ |r| [ r.name, r.id ] }), {}, { multiple: true } %> 


    <% end %>
  </div>
 

  <%= javascript_tag do %>
    $(function(){  
      SocialStream.Wall.show({
        wallInput: {
          blankText: "<%= t "activity.privacy.contact.#{ receiver == current_subject ? :myself : :outside }.#{ receiver.class.to_s.underscore }", receiver: receiver.name %>"
        }
      });  
    });
  <% end %>
<% end %>
