<div class="activity_options">
    <div class="post_time_ago"><%= t('time.ago', :time => time_ago_in_words(activity.created_at)) %></div>
    <% if activity.is_root? && user_signed_in? %>
      <div class="verb_comment"> · <%= link_to t('activity.to_comment'), "#", :class => "to_comment" %> </div>
    <% end %>

    <div class="verb_like" id="like_<%= dom_id(activity) %>"> · <%= link_like(activity)%></div>

    <% if user_signed_in? %>
      ·
      <%= link_to image_tag('btn/btn_security.png', :class => 'menu_icon') + activity.audience_in_words(current_subject, :details => :summary),
                  'javascript:;',
                  :class => 'activity_audience_summary' %>
      <div class="activity_audience">
        <%= activity.audience_in_words(current_subject) %>
        <% unless activity.public? %>
          ·
          <%= link_to t('activity.audience.show'), audience_path(:activity_id => activity.id), :remote => true %>
          <div class="activity-audience-list-<%= activity.id %>">
          </div>
        <% end %>
      </div>
    <% end %>

    <% if activity.delete_object_by?(current_subject) %>
      <div class="verb_delete"> 
        · <%= link_to t('activity.delete'), activity.direct_object , :confirm => t('confirm_delete', 
                      :scope => activity.direct_object.class.to_s.underscore), :method => :delete,  
                      :remote => true %> 
      </div>
    <% end %>
</div>
