<%= div_for activity, :class => 'super_activity' do %>

  <div class="activity_content">
    <div class="activity_avatar">
    <%= link_to image_tag(activity.sender_subject.logo.url(:actor),
        :alt => activity.sender_subject.name), activity.sender_subject %>
    </div>
    <div class="data">
      <h5>
        <%= activity.title(self) %>
      </h5>
      <% if activity.direct_object && can?(:destroy, activity.direct_object) %>
      <div class="x"> 
        <%= link_to ('X'), activity.direct_object , :confirm => t('confirm_delete', 
                      :scope => activity.direct_object.class.to_s.underscore), :method => :delete,  
                      :remote => true %> 
      </div>
      <% end %>
    </div>


    <div class="activity_objects">
      <%= render activity.activity_objects %>
    </div>

    <%= render :partial => 'activities/options',
               :locals => { :activity => activity } %>

    <%= render :partial => 'activities/likes',
               :locals => { :activity => activity } %>

    <%= render :partial => 'activities/comments',
               :locals => { :activity => activity } %>

    <%= render :partial => 'comments/new',
               :locals => { :activity => activity } %>

  </div>

  
    <% if activity.activity_objects.count > 1 %>

    <%else %>

    <%end%>

<% end %>
