<%= form_for group do |f| %>
  <% if group.errors.any? %>
    <div class="error">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.full_messages.each do |msg| %>
          <li>
          <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<section>
  <%= f.label :name, t('group.new.name') %>
  <%= f.text_field :name %>
</section>
<section>
  <%= f.label :_participants, t('group.new.participants') %>
  <%= f.hidden_field :_participants, 'data-path' => contacts_path(format: :json) %>
</section>
<section>
  <%= f.label :tags_list, t('group.tags')%>
  <%= f.text_field :tag_list, 'data-path' => tags_path(format: :json) %>
</section>
<section>
  <%= f.label :description %>
  <%= f.text_area :description %>
</section>
  <%= f.submit :class => "btn" %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Group.new_(
      {
        validate: [
          {
            form: ".new_group",
            errorClass: "validation_error"

          }
        ]
      }
    );
  });
<% end %>
