<% content_for :title do %>
  <%= @group.name+" | "+t('site.name') %>
<% end %>

<% content_for :description do %>
  <% if @group.profile.description? %>
    <%= @group.profile.description%>
  <% else %>
    <%= @group.name+" "+t('profile.is_on') + " "+ t('site.name') %>
  <% end %>
<% end %>

<% content_for :keywords do %>
  <%= @group.profile.subject.tag_list%>
<% end %>

<% sidebar %>

<%= location(link_to(t('group.one')+": "+truncate_name(sanitize @group.name)))%>
                      
<% toolbar :profile => @group %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div class="space_center">
</div>

<%= render :partial => "activities/index",
           :locals  => { :activities => @group.wall(:profile, :for => current_subject).
                                               page(params[:page]),
                         :owner => @group } %>
