<div class="space_center"></div>

<div class="block">
  <div class="header">
    <%= image_tag('btn/btn_tag.png', :class => "header_icon") %>
    <div class="header_text">
      <%= t 'group.cloud' %>
    </div>
  </div>
  <div id="wordcloud" class="content"></div>
</div>

<% tags = ActivityObject.tag_counts %>

<script type="text/javascript">
  var word_list = new Array(
	<% tag_cloud(tags, %w(5 7 9 11 13 15)) do |tag, weight| %>
		{text: "<%= tag.name %>", weight: <%= weight %>, url: "?tag=<%= tag.name %>"},    
	<% end %>
	{text: "", weight:0, url:""}
  );
  $(document).ready(function() {
    $("#wordcloud").jQCloud(word_list);
  });
</script>
