<section id="groups">
  <% content_for :title do%>
    <%= t('group.other') %>
  <%end%>

  <% if user_signed_in? %>
    <%= render partial: 'toolbar/home' %>
  <% end %>


<section id="groups">
  <div id="tab" class="widget">
    <ul class="tab">
      <li>
        <%= link_to t('group.all_n', :count => Group.count), :most => nil %>
      </li>
      <li>
        <%= link_to t('group.most.followed'), :most => :followed %>
      </li>
      <li>
        <%= link_to t('group.most.liked'), :most=> :liked %>
      </li>
    </ul>
    <div id="spaces" class="tab">
      <div class="row">
        <input type="text" value="Search by name" id="search_field" class="search_input" />
        <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
      </div>

      <div class="center">
        <% for g in Group.distinct_initials %>
          <%= link_to g.initial.capitalize,{:letter => g.initial,:page => 1},:class => "user_letter_link" %>
        <% end %>
      </div>

      <div id="list_users_ajax" class="tab_content">
        <%= render :partial => "groups/index"%>
      </div>
    </div>
  </div>
</section>	

  <%= render partial: 'sidebar/groups' %>
</section>
