<% content_for :middle do %>
  <%= render :partial => 'middle' %>
<% end %>

<% content_for :right do %>
  <%= render :partial => "right" %>
<% end %>

<%= render :partial => 'home/location' %>

<br class="clearfloat" />
<div class="space_center">
</div>
<div id="my_groups">
  <%= render :partial => "users/groups" %>
</div>
<%= render :partial => "activities/activities",
           :locals => { :activities => current_user.wall.paginate,
                        :owner => current_user } %>
