<%= div_for (conversation) do %>
  <div class="actor_logo">
    <%= link_to image_tag(conversation.last_sender.logo.url(:actor),
                          :alt => conversation.subject),
                 "" %>
  </div>
  <div class="activity_content_message">
    <div class="actor_name_message">
      <%= conversation.subject %>
    </div>

  </div>
  
  <% @mails.each do |mail| %>
  	<% message= mail.mailboxer_message %>
	<b><%= message.sender.name %></b><br>
	<%= message.body %><br>
  <% end %>

<% end %>