<% content_for :sidebar do %>
  <%= render :partial => 'home/sidebar' %>
<% end %>

<% content_for :toolbar do %>
  <%= render :partial => "home/toolbar" %>
<% end %>

<%= render :partial => 'location' %>

<br class="clearfloat" />
<div class="space_center">
</div>

<div id="new_message" ><%= link_to 'New Message', "" %></div>
<div class="space_center">
</div>
<div class="space_center">
</div>
<div id="conversations">  
  <%= render :partial => 'conversations' %>
</div>
