<li>
	<%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('mailbox.mailbox'), mailbox_index_path) %>
</li>
<li>
	<ul>
		<li>
			<%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+ "New message", new_mailbox_conversation_path) %>
		</li>
		<li>
			<%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('mailbox.inbox')+" (" + @mailbox.inbox(:unread => true).count.to_s + ")", mailbox_path(:id => :inbox), :remote => true) %>
		</li>
		<li>
			<%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('mailbox.sentbox'), mailbox_path(:id => :sentbox), :remote => true) %>
		</li>
		<li>
			<%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('mailbox.trash'), mailbox_path(:id => :trash), :remote => true) %>
		</li>
	</ul>
</li>
