<% self.class.send :include, SubjectsHelper, NotificationsHelper, ActionView::Helpers::TextHelper  %>
<% locale_as @receiver.subject %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div>
      <div >
        <%= t('notification.hello', :receiver => @receiver.name)%>
      </div>
      <div style="position: static;padding: 5px; border: #2A3890 solid 2px; background-color: #E1EEF5; margin:10px; min-height: 125px; width: 500px;">
        <div style="float:left; margin-right:7px; border: thin solid #D4E4EA; background-color: white; max-height: 119px;">
          <img src="<%= root_url + @notification.notified_object.sender.logo.url(:profile)%>" alt="<%=@notification.notified_object.sender.name%>">
        </div>
        <div style=" margin: 5px 5px 5px 5px;">
          <p style="font-weight: bold; "><%= @notification.notified_object.sender.name %>
            <% if @notification.notified_object.sender.profile.organization? %>
              <br/><span style="color: #6C6D6F; font-weight: normal;"><%= @notification.notified_object.sender.profile.organization%></span>
            <% end %>
          </p>
          <p style="text-align: justify;">
            <%= render :partial => "notifications/activities/#{ @notification.notified_object.verb }", 
                       :locals =>{:activity => @notification.notified_object}%>
          </p>
        </div>
      </div>
      <div style="padding: 10px 5px 5px 5px;">    
        <p>
          <%= raw t('notification.visit', :url=> link_to(notifications_url,notifications_url))%>
        </p>
      </div>
    </div>
  </body>
</html>
