<div class="block" id="manage_settings">
  <div class="header">
    <div class="header_text">
      <%= t('settings.manage.name')%>
    </div>
    <div class="header_icon_right">
      <%= link_to (image_tag('btn/edit.png')), :controller => :settings , :action => :manage%>
    </div>
  </div>
  <div class="content" id="contact_settings_briefing">
    <div class="form_row">
      <%= t('settings.manage.briefing')%>
    </div>
  </div>
  <div class="content" id="contact_settings_content" style="display:none;">
    <div class="settings_block">
      <div class="form_row">
         <%=t('settings.manage.explanation') %>:
      </div>
      <div class="form_sub_row">
        <div id="my_conferences">
          <div id="contacts" class="block">
            <div class="search_field_wrapper">
              <input type="text" value="Search by name" id="search_field" class="search_input" />
              <%= image_tag("btn/search.png",:size=>"20x20",:id=>"search_button") %>
            </div>
            <div class="space_center"></div>
            <div class="row" >
              <div class="center">
              <%= link_to t('contact.all_n', :count => current_subject.contact_subjects(:direction => :sent).count), contacts_path %> -
              <% Actor.distinct_initials.
                 contacted_from(current_subject).
                 merge(Tie.related_by(current_subject.relation_customs.find_by_id(params[:relation]))).
                 distinct_initials.
              each do |l| %>
                <%= link_to l.initial,{:letter => l.initial,:page => 1},:class => "contact_letter_link" %>
              <% end %>
              </div>
            </div>
            <div class="space_center"></div>

            <div id="list_contacts_ajax" class="tab_content block">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
