
<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @private_message.sender %>
</p>

<p>
  <b>Receiver:</b>
  <%= @private_message.receiver %>
</p>

<p>
  <b>Text:</b>
  <%= @private_message.text %>
</p>


<%= link_to 'Edit', edit_private_message_path(@private_message) %> |
<%= link_to 'Back', private_messages_path %>
