<%= form_for @session,:url => {:action => :update}, :method => 'post' do |f| %>

  <div class="form_row">
    <%= label_tag :title %>
  </div>
  
  <div class="form_row">
    <%= f.text_field :title %>
  </div>

  <div class="form_row">
    <div class="form_label">
      <%= t('session.description')%>:
    </div>
  </div>

  <div class="form_row">
    <%= f.text_area :description, :maxlength => 100, :rows => 6, :class => "form_tag_long"  %>
  </div>

 <div class="form_row">
    <%= label_tag :start_at%>
  </div>
  
  <div class="form_row">
    <%= f.datetime_select :start_at %>
  </div>

  <div class="form_row">
    <%= label_tag :end_at%>
  </div>
  
  <div class="form_row">
    <%= f.datetime_select :end_at %>
  </div>
    <%= hidden_field_tag :id_event, @event.id %>
  <div class="form_row">
    <%= f.submit "Edit event", :class => "button" %>
  </div>

<% end %>
