<%= div_for picture, :class => 'content_size' do %>

  <div class="attachment_thumb picture_link">
    <%= link_to thumb_for(picture, 16),
        {:controller => "documents", :action => "download", :id => picture}, 
        :type => picture.type, 
		:title => picture.file_file_name,
		:path => document_path(picture) %>
  </div>
  
  <div class="attachment_text picture_summary_class picture_link">
  	<%= t('picture.msg') %><%= link_to "\""+picture.file_file_name+"\"", 
    {:controller => "documents", :action => "download", :id => picture},  
    :alt => picture.file_file_name,
 	:type => picture.type,
 	:path => document_path(picture),
    :class => "attachment_text_link" %>
  </div>
  
  <div class="picture_link picture_thumbnail_show">
    <%= link_to thumb_for(picture, 130),
        picture, 
        :type => picture.type, 
		:title => picture.file_file_name,
		:path => document_path(picture) %>
  </div>
<% end %>


<%= javascript_tag do %>
  $(document).ready(function() {
    $('.picture_thumbnail_show a').lightBox({ 
      imageLoading: 'assets/lightbox-ico-loading.gif',
      imageBtnClose: 'assets/lightbox-btn-close.gif',
      imageBtnPrev: 'assets/lightbox-btn-prev.gif',
      imageBtnNext: 'assets/lightbox-btn-next.gif',
      imageBlank: 'assets/lightbox-blank.gif'});
  })
<% end %>