<% content_for :headers do %>
  <%= stylesheet_link_tag "contacts.css", :media => "screen, projection" %>
  <%= javascript_include_tag 'ui.checkbox'%>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('input[id^="relation_custom"]').checkBox();
  })
	
  function checkBoxEnable(id) {
    $('div[contain$=' + id + ']').addClass("checked-option");

    var sphere = $("#"+id).attr("optionOf");
    $(':checkbox[optionOf$='+sphere+']:checked:not(#'+id+')').checkBox('changeCheckStatus', false);
  }

  function checkBoxDisable(id) {
    $('div[contain$='+id+']').removeClass("checked-option");
  } 
<% end %>

<div class="dialog_add_contact" id="new_contact">
  <div class="content_add_user" >
    <div class="activity_add_contact">
      
      <%= form_for @contact, :url => contact_path(@contact.to_param), :html => { :method => :put } do |f| %>  
        <%= hidden_field_tag "contact[relation_ids][]", "gotcha" %>
        	   
        <div class="block">
          <div class="form_row center">
            <h2><%= t("contact.#{ controller.action_name }.title") %></h2>
          </div>	

          <div class="two_columns_container">
            <div class="form_column_left">
              <p class="colum_field_title"><%= t('message.one') %></p>
              <%= f.text_area :message, :class =>"new_contact_text_area" %>
            </div>
          
            <div class="form_column_right">
              <div class="select_relations">	
                <div id="relationsSelect" class="dropdown">
                  <dd>
                    <ul>
                      <% @contact.sender.spheres.each do |sphere| %>
                        <li class="sphere_name"><span class="sphere_name"><%= sphere.name %></span></li>
                        <% sphere.customs.sort.each do |relation| %>
                          <li>
                            <div contain="<%= dom_id relation %>">
                              <input id="<%= dom_id relation %>" name="contact[relation_ids][]" value="<%= relation.id %>" type="checkbox" optionOf="<%= sphere.name %>" <%= raw('checked="checked"') if @contact.relation_ids.include?(relation.id) %> />
                              <label for="<%= dom_id relation %>">
                                <%= relation.name %>
                              </label>
                            </div>
                          </li>
                        <% end %>
                        </li>
                      <% end %>
                      <li class="new_sphere"><span class="sphere_name"><%= link_to t('contact.type.new'), spheres_path %></span></li>

                    </ul>

                  </dd>

                  </div>
                </div>
              </div>
            </div>
            <div class="form_bottom">
              <%= submit_tag t("contact.#{ controller.action_name }.submit"), :class => "button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
