<h2><%= t 'authorization.new.title', client: @client.name %></h2>

<%= raw t('authorization.new.permission.title', client: link_to(@client.name, @client.url)) %>

<ul>
  <li><%= t 'permission.public_info' %></li>
</ul>

<%= form_tag authorizations_path do %>
  <%= hidden_field_tag :client_id,     @client.id %>
  <%= hidden_field_tag :response_type, @response_type %>
  <%= hidden_field_tag :redirect_uri,  @redirect_uri %>
  <%= hidden_field_tag :state,         @state %>

  <%= button_tag name: "cancel" do %>
    <%= t 'authorization.form.cancel' %>
  <% end %>
  <%= button_tag name: "accept" do %>
    <%= t 'authorization.form.accept' %>
  <% end %>
<% end %>
