<%= div_for(notification, :class => read_class + ' conversation') do %>

<div class="notification"></div>
<div class="sender_photo">
  <%if notification.notified_object.nil? %>
    <%= image_tag('logos/actor/user.png',:title => "unknown", :alt => "unknown")%>
  <%else%>
    <%= link_to image_tag(notification.notified_object.sender.logo.url(:actor),
        :title => notification.notified_object.sender.name, :alt => notification.notified_object.sender.name),
        notification.notified_object.sender.subject %>
  <%end%>
</div>
<div class="content_left">
  <div class="date">
    <%= t('time.ago', :time => time_ago_in_words(notification.created_at)) %>
  </div>
</div>
<div class="content_right">
  <div class="briefing">
    <%= render :partial => "notifications/activities/#{ notification.notified_object.verb }", 
                           :locals =>{:activity => notification.notified_object} %>
  </div>
  <div class="clearfloat">
  </div>
</div>
<div class="action">  
  <% if notification.is_unread?(@actor) %>
    <%= link_to(image_tag('btn/btn_notification_read.png', :alt => t('notification.read'), 
        :title => t('notification.read')), notification_path(notification, :page => params[:page], :read => "Read"),
        :method => :put, :remote => true) %>
  <% end%>
  
  <%= link_to(image_tag('btn/btn_notification_delete.png', :alt => "Delete", :title => "Delete"),
  notification_path(notification, :page => params[:page]),
  :confirm => t('notification.destroy_sure'),
  :method => :delete, :remote => true) %>

</div>
<div class="clearfloat">
</div>
<% end %>