<div id="columns_container">

  <div id="permissions_list_block">

    <p class="sectionTitle"><%= raw t('permission.of_relation.choose', :name => h(@relation.name)) %></p>

    <div class="privacy_add_element"></div>

    <table class="tableCheckBoxOptions">
      <% default_permissions.each do |p| %>
      <tr>
        <td>
          <div contain=<%= dom_id p %> class="checkboxPermissionOptionLeft"><input id=<%= dom_id p %> optionOf="permissions" type="checkbox"/> <label for=<%= dom_id p %>><%= p.description(:brief) %></label></div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div id="privacy_rules">
    <p class="sectionTitle"><%= t 'privacy.rule.title' %></p>

    <%= raw t('privacy.intro', :relation => h(@relation.name)) %>

    <%= semantic_form_for @relation do |f| %>
      <%= f.input :permissions, :as => :check_boxes, :collection => Permission.all.each.inject({}){ |h, p| h[p.description(:detailed, @relation)] = p.id; h } %>
      <%= f.submit t('button.save'), :class => 'button' %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  $(function() {
    initPrivacyRules();
  })
<% end %>
