function getMessageFromPermission(permission){
  return permission + " just on " + "<%=params[:level]%>" + " level.";
}

function refreshPrivacyRules(){
  $("#privacy_rules_ulist").html("");

  selectedPermissions = $(":checkbox[optionOf$=permissions]:checked");

  if (selectedPermissions.length > 0){
    $.each(selectedPermissions, function(index, item) { 
        var checkboxPermissionId = item.id;
        var permission = $('label[for$='+checkboxPermissionId+']').html();
        $("#privacy_rules_ulist").append('<li>' + getMessageFromPermission(permission) +'</li>');
        });
  } else {
    $("#privacy_rules_ulist").append('<li>' + 'Select permissions to add Privacy Rules' +'</li>');
  }
}

function initPermissions(){
  var allowRead_activity_starTies = "<%=(Permission.find_by_id(@read_activity_starTies_id)!=nil)%>"
    var allowCreate_activity = "<%=(Permission.find_by_id(@create_activity_id)!=nil)%>"
    var allowDestroy_activity = "<%=(Permission.find_by_id(@destroy_activity_id)!=nil)%>"

    if(allowRead_activity_starTies=='true'){
      id="<%= @read_activity_starTies_id %>";
      $('input[permission$='+id+']').checkBox('changeCheckStatus', true);
    }

  if(allowCreate_activity=='true'){
    id="<%= @create_activity_id %>";
    $('input[permission$='+id+']').checkBox('changeCheckStatus', true);
  }

  if(allowDestroy_activity=='true'){
    id="<%= @destroy_activity_id %>";
    $('input[permission$='+id+']').checkBox('changeCheckStatus', true);	
  }

  refreshPrivacyRules();
}
