<div id="full_audio_<%= dom_id audio %>" class="audio-container jp-audio" data-url-webma="<%= audio_path(audio, :format => :webma) %>" data-url-swfplayer="<%= asset_path('Jplayer.swf') %>">
  <div id="jpId<%= dom_id audio %>" class="jpId_size0 jp-jplayer">
  </div>
  <div class="jp-audio">
    <div class="jp-type-single">
      <div id="jp_interface_<%= dom_id audio %>" class="jp-interface">
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <%= image_tag document_path(audio, format: :png, style: :waveform), class: 'waveform' %>
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-down">
          <div class="jp-current-time"></div>

          <ul class="jp-controls">
            <li>
              <a href="#" class="jp-play" tabindex="1">play</a>
            </li>
            <li>
              <a href="#" class="jp-pause" tabindex="1">pause</a>
            </li>
            <li>
              <a href="#" class="jp-mute" tabindex="1">mute</a>
            </li>
            <li>
              <a href="#" class="jp-unmute" tabindex="1">unmute</a>
            </li>
          </ul>
    
          <div class="jp-volume-bar">
            <div class="jp-volume-bar-value"></div>
          </div>
          
          <div class="jp-duration">
          </div>
        </div>
      </div>
      <div id="jp_playlist_<%= dom_id audio %>" class="jp-playlist"></div>
    </div>
  </div>
</div>
