<% if (groups = current_subject.recent_groups).any? %>
  <h2 class="content_size">
      <%=t('group.last') %> (<span class="group_count"><%= groups.count %></span>)
  </h2>
  <% if (groups.count) > 10 %>
    <div class='carousel_container'>
      <div id='left_scroll'><%=image_tag("btn/group_left.png")%></div>
      <div id='carousel_inner'>

    <% else %>
    <%end%>
    <ul id='carousel_ul' class="menu_list">
      <%= render groups %>
    </ul>
    <% if (groups.count) > 10 %>
     </div>
     <div id='right_scroll'><%=image_tag("btn/group_right.png")%></div>
    </div>
    <% end %>
<br class="clearfloat">
<% end %>