<div id="media_wall_buttons">
	<ul>
    	<li>
      		<%= link_to( image_tag("btn/btn_conference.png",
          	:media => "conference"), videos_path, :remote => true) %>
    	</li>
		<li>
	      <%= link_to( image_tag("btn/btn_gallery.png",
	            :media => "picture"), pictures_path, :remote => true, :page => 1, :per => 1) %>
	    </li>
		<li>
			<%= link_to( image_tag("btn/btn_video.png", 
			    :media => "video"), videos_path, :remote => true) %>
		</li>
		<li>
			<%= link_to( image_tag("btn/btn_audio.png",
			:media => "audio"), audios_path, :remote => true) %>
		</li>
		<li>
			<%= link_to(t('document.simple_all'), documents_path, :remote => true) %>
		</li>
	</ul>
</div>

<div id="media_wall">
	<div class="media_preview conference">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some conference</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview conference">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some conference</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview conference">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some conference</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview picture">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some picture</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview picture">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some picture</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview picture">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some picture</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview video">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some video</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview video">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some video</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview video">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some video</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview audio">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some audio</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview audio">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some audio</div>
		<div class="media_preview_detail">some detail</div>
	</div>
	
	<div class="media_preview audio">
		<img src="#" class="media_preview_image" />
		<div class="media_preview_title">Some audio</div>
		<div class="media_preview_detail">some detail</div>
	</div>
</div>

<% content_for :headers do %>
	<%= stylesheet_link_tag "documents" %>
<% end %>

<script>
	$('#media_wall div.media_preview').hide();
	$('#media_wall div.conference').show();
	
	$('#media_wall_buttons a').click(function(e){
		$('#media_wall div.media_preview').hide("fast");
	//	$('#media_wall div.'+$(this).children('img').attr('media')).show("slow");
	});
</script>