<% content_for :headers do %>
  <%= stylesheet_link_tag "addContact.css", :media => "screen, projection" %>
	<%= javascript_include_tag 'addContact'%>
<% end %> 

<% toolbar :profile => @tie.receiver_subject, :option => 'contacts' %>

<% content_for :javascript do %>
  $(document).ready(function() { 
    defaultRelations = ["friend","acquaintance","public"]
    
		relation_name = "<%=@tie.relation.name%>";
		$(".dropdown dt a span").html(relation_name);   
    $('input[name$="tie[relation_name]"]').val(relation_name);
		
	});
<% end %>

<div class="dialog_add_tie" id="new_tie">
  <div class="content_add_user" >
    <div class="activity_add_ties">
      

      <%= location(
        link_to(image_tag("btn/btn_friend.png", :class => "menu_icon")+t('tie.edit.title'), edit_tie_path,:remote => true)
      ) %>
      
      <%= form_for @tie do |f| %>  
        <%= f.hidden_field :receiver_id %>
        <%= f.hidden_field :sender_id %>
        <%= f.hidden_field :relation_name %>
             
      <div class="block">
                  
        <div class="form_row center">
         <h2> <%= t('tie.edit.title') %> </h2>
        </div>  
        <div class="two_columns_container">
          <div class="form_column_left">
           <p class="colum_field_title"><%= t('message.one') %></p>
            <%= f.text_area :message,   :class =>"new_tie_text_area" %>
          </div>
          
          <div class="form_column_right">
            <div class="select_relations">  
              <div id="relationsSelect" class="dropdown">
              <dt><a href="#"><span><%= t('tie.relation.one') %></span></a></dt>
              <dd>                
                <ul>
                <% (@tie.sender.relations.sort.map{ |r| [ r.name] }).each do |relationArray| %>
                  <li><a href="#" class="option"><%=relationArray[0]%><span class="value"><%=relationArray[0]%></span></a></li>
                <% end %>
                  <li><a href="#" class="input_link">
                   <span class="value"></span>
                   <input type="text" class="input_select"/>
                    </a></li>
                </ul>
              </dd>
                </div>
              </div>
            </div>
          </div>
          <div class="form_bottom">
            <%= submit_tag t('contact.edit.submit'), :class => "button" %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
