<div class="dialog_add_tie" id="new_tie">
    <div class="content_add_user" >
      <div class="tie_logo">
        <%= link_to image_tag(@tie.receiver_subject.logo.url(tie),
                              :size => "100x100",
                              :alt => @tie.receiver_subject.name),
                     @tie.receiver_subject %>
      </div>
      <div class="activity_add_ties">
        <div><%= t('message')+":" %><br />
         <%= form_for @tie,
                      :remote => true do |f| %>
           <%= f.hidden_field :receiver_id %>
           <%= f.hidden_field :sender_id %>
           <%= f.hidden_field :relation_name %>
           <% if @tie.relation!.granted %>
             <%= f.text_area :message,   :class =>"input_new_tie" %>
           <% end %>
           <div class="ties_btn">
             <%= submit_tag t('send', :scope => @tie.relation_name), :class => "tie_btn" %>
           </div>
         <% end %>
        </div>
      </div>
    </div>
</div>
