<div class="dialog_add_tie" id="new_tie">
    <div class="content_add_user" >
      <div class="activity_add_ties">
        <div><%= t('message.one')+":" %><br />
  
		 <%= form_for @tie do |f| %>
		  
           <%= f.hidden_field :receiver_id %>
           <%= f.hidden_field :sender_id %>
           <%= f.text_area :message,   :class =>"input_new_tie" %>

           <%= f.select :relation_name, @tie.sender.relations.sort.map{ |r| [ r.name, r.name ] } %>

           <div class="ties_btn">
             <%= submit_tag t('contact.new.submit'), :class => "tie_btn" %>
           </div>
         <% end %>
		 
		 <button id="close_add_contact" type="button">X</button>
		 
        </div>
      </div>
    </div>
</div>
