<div class="dialog_add_tie" id="new_tie">
    <div class="content_add_user" >
      <div class="activity_add_ties">
  
  	  <%= location(
		image_tag("btn/btn_friend.png", :class => "menu_icon")+t('tie.new.title')
	  ) %>
  
	  	<%= form_for @tie do |f| %>  
           	<%= f.hidden_field :receiver_id %>
           	<%= f.hidden_field :sender_id %>
        	   
			<div class="block">
				  <div class="close_add_contact">
				  	<%=link_to('X','#', :id => "close_add_contact")%>
				  </div>
				  <div class="form_row center">
				    <h2> <%= t('tie.new.title') %> </h2>
				  </div>	
					<div class="two_columns_container">
						<div class="form_column_left">
							<p class="colum_field_title"><%= t('message.one') %></p>
							<%= f.text_area :message,   :class =>"new_tie_text_area" %>
						</div>
		
						<div class="form_column_right">
							<div class="select_relations">
						  		<%= f.select :relation_name, @tie.sender.relations.sort.map{ |r| [ r.name, r.name ] } %>
							</div>
						</div>
					</div>
					<div class="form_bottom">
						<%= submit_tag t('contact.new.submit'), :class => "button" %>
					</div>
				</div>
			<% end %>
    	</div>
	</div>
</div>
