<% content_for :headers do %>
  <%= stylesheet_link_tag "addContact.css", :media => "screen, projection" %>
  <%= javascript_include_tag 'addContact'%>
	<%= javascript_include_tag 'ui.checkbox'%>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('input').checkBox();
  })
	
	function checkBoxEnable(id) {
    $('div[contain$='+id+']').addClass("checked-option");
    
		var sphere = $("#"+id).attr("optionOf");
		$(':checkbox[optionOf$='+sphere+']:checked')
		$(':checkbox[optionOf$='+sphere+']:checked:not(#'+id+')').checkBox('changeCheckStatus', false);
    var relationSelected = $('label[for$='+id+']').children()[0].text;
  }

  function checkBoxDisable(id) {
    $('div[contain$='+id+']').removeClass("checked-option");
  } 
<% end %>

<% toolbar :profile => @tie.receiver_subject, :option => 'contacts' %>

<div class="dialog_add_tie" id="new_tie">
  <div class="content_add_user" >
    <div class="activity_add_ties">
      
		  <%= location(
			  link_to(image_tag("btn/btn_friend.png", :class => "menu_icon")+t('tie.new.title'), new_tie_path("tie[sender_id]" => @tie.sender.id, "tie[receiver_id]" => @tie.receiver.id),:remote => true)
		  ) %>
      
	  	<%= form_for @tie do |f| %>  
        <%= f.hidden_field :receiver_id %>
        <%= f.hidden_field :sender_id %>
        <%= f.hidden_field :relation_name %>
        	   
			<div class="block">
        				  
			  <div class="form_row center">
			   <h2> <%= t('tie.new.title') %> </h2>
			  </div>	
			  <div class="two_columns_container">
			    <div class="form_column_left">
			     <p class="colum_field_title"><%= t('message.one') %></p>
            <%= f.text_area :message,   :class =>"new_tie_text_area" %>
				  </div>
          
					<div class="form_column_right">
					  <div class="select_relations">	
							<div id="relationsSelect" class="dropdown">
							<dt><a href="#"><span><%= t('tie.relation.one') %></span></a></dt>
							<dd>                
							  <ul>
							  	<% i = 1 %>
								<% @tie.sender.spheres.each do |sphere| %>
								  <li class="sphere_name"><span class="sphere_name"><%=sphere.name%></span></li>
								  <% sphere.customs.sort.each do |relation| %>
										<li><div contain=<%="C#{i}"%>><input id=<%="C#{i}"%> optionOf="<%=sphere.name%>" type="checkbox"/><label for=<%="C#{i}"%>><a href="#" class="option" sphere="<%=sphere.name%>"><%=relation.name%></a></label></div></li>
										<% i = i+1 %>
									<% end %>
								<% end %>
							  </ul>
							</dd>
							</div>
						</div>
					</div>
				</div>
				<div class="form_bottom">
					<%= submit_tag t('contact.new.submit'), :class => "button" %>
				</div>
				</div>
			<% end %>
    	</div>
	</div>
</div>
