<div id="tie_<%=dom_id(tie.receiver_subject)%>" class="row">
  <div class="logo">
    <%= link_to(image_tag(tie.receiver_subject.logo.url(:tie)),
                tie.receiver_subject) %>
  </div>
  <div class="sub-block">
    <div class="name">
      <%= link_to(tie.receiver_subject.name, tie.receiver_subject, :class => "tie_link") %>
    </div>
    <div class="brief">
      <%= tie_brief(tie.receiver_subject) %>
    </div>
    <div class="link" id="tie_link<%= dom_id(tie.receiver_subject)%>">
      <%= new_tie_link(tie) %>
    </div>
  </div>
  <div class="close"><%=link_to('X','#')%></div>
  <div class="space_center">
  </div>  
</div>



