<%= javascript_include_tag 'jquery.ui.widget'%>
<%= javascript_include_tag 'jquery.ui.mouse'%>
<%= javascript_include_tag 'jquery.ui.slider.js'%>

 <p class="sectionTitle"> 2. Levels on "<%=params[:context]%>" context </p>
        	
				<% context = current_subject.spheres.find_by_name(params[:context]) %>
				<% if context != nil %>
				
				<% levels = context.relations.sort.reverse %>
				<% nLevels = levels.length+2 %>
				<% nContexts = current_subject.spheres.count %>
				<% i = nContexts +1 %>		
				
				<script type="text/javascript">
				  
				   function initLevels(){
					 	 $("#new_context_input_block").hide();
				     $("#new_level_input_block").hide();
             $("#new_context_title_block").show();
             $("#new_level_title_block").show();
				     initSlider();
				   }
				  
					
					 var levels = new Array("<%=nLevels%>");
					 
				   function initSlider() {
				     
							levels[0] = "Public";
							levels["<%=nLevels%>"-1] = "Me";
							
							var i = 1;
							
							"<% levels.each_with_index do |level, index| %>"
							   levels[i++] = "<%=level.name%>";
							"<% end %>"
				
					    
					    $( "#slider-range" ).slider({
					      orientation: "vertical",
					      range: true,
					      values: [ 0, 100 ],
					      slide: function( event, ui ) {
					        var nlevel= levels.length;
					        $.each(levels, function(index, item) {  
					          if((ui.values[1]>(100/nlevel)*(index))&&(ui.values[1]<(100/nlevel)*(index+1))){
					            $( "#level" ).val(item);
					          }   
					        });      
					      }
					    });
					    $( "#level" ).val(levels[levels.length-1]);
				    }
						
						
					  function createLevel(){
					    $.ajax({
					      url: "<%= privacy_path %>",
					      context: document.body,
					      data: { level: $("#new_level_input").val() },
					      success: function(html){
					        return true;
					      }
					    }); 
					  }
				</script>
				
				
        <div class="privacy_add_element">
          <div id="new_level_title_block"> 
            <a href="#"><span id="new_level_title" class="privacy_span_new"> + New context </span></a>
          </div> 
          <div id="new_level_input_block"> 
            <p><input type="text" id="new_level_input" class="privacy_input_new"/></p>
            <button class="button" id="submit_new_level" >Save</button>
            <button class="button" id="cancel_new_level" >Cancel</button>
          </div>
        </div>
          
        <table class="tableCheckBoxOptions">  
          
        <tr><td rowspan="<%=nLevels+1%>">
          <div class="sliderDiv">
          <p>
          <input type="text" id="level" class="sliderTitle" />
          <div id="slider-range"></div>
          </p>
          </div>
        </td><td>
          &nbsp;
        </td></tr>
        <tr><td>
          <div class="checkboxOptionLeft"><label>Me</label></div>
        </td></tr>
				
				<% levels = levels.reverse %>
				<% levels.each_with_index do |level, index| %>
	        <tr><td>
	          <div contain=<%="C#{i}"%> class="checkboxOptionLeft"><input id=<%="C#{i}"%> optionOf="level" type="checkbox"/> <label for=<%="C#{i}"%>><%=level.name%></label></div>
						<%i=i+1%>
	        </td></tr>
        <% end %>
        
				<tr><td>
          <div class="checkboxOptionLeft"><label>Public</label></div>
        </td>
        </table>
				
        <% end %>