<div id="headerFront">
  <div class="banner_top">
    <div id="logo"><%= link_to(image_tag('/images/logo.png', :alt => t('socialstream')), '/'); %></div>
    <div class="div_login">
      <%= form_for User.new, :as => :user, :url => user_session_path do |f| -%>
        <span><%= f.label :email %></span>
        <%= f.email_field :email, :class => "input_username" %>
        <span><%= f.label :password %></span>
        <%= f.password_field :password, :class => "input_username" %>
        <%= f.submit t(:sign_in), :class => 'other_blue'%>
      <% end -%>
      <div class="subtexto">
        <%= link_to t('sign_up'), new_user_registration_path, :class => "register_link" %>
        <span>|</span>
        <%= link_to t('forgot_password'), new_user_password_path, :class => "register_link" %>
        <span>|</span>
        <%= link_to image_tag('/images/btn/facebook.png'), user_omniauth_authorize_path(:facebook), :class => "menu_icon" %>
     
        <%= link_to image_tag('/images/btn/linkedin.png'), user_omniauth_authorize_path(:linked_in), :class => "menu_icon" %>
      </div>
    </div>
  <br class="clearfloat" />
  </div>
</div>

