<ul class="menu">

<%= menu_options[:messages] || capture do %>
  <%= render :partial =>'subjects/toolbar_message_menu'%>
<% end %>

<%= menu_options[:contacts] || capture do %>
  <li>
    <%= link_to( image_tag("btn/btn_friend.png", :class => "menu_icon")+t('contact.other'), '#', :id => "contacts_menu") %>
    <ul>
    <% current_subject.relations.sort.each do |r| %>
      <li>
      <%= link_to image_tag("btn/btn_friend.png", :class => "menu_icon") + r.name , contacts_path(:relation => r.id) %>
      </li>
    <% end %>
    </ul>
  </li>
<% end %>

<%= menu_options[:subjects] || capture do %>
  <%= render :partial => 'subjects/toolbar_home_menu_options_subjects' %>
<% end %>

</ul>

