<div id="logo_index">
  <% if subject == current_subject %>
    <div class="center">
      <span class="title_bold" ><%= subject.name %></span>
      <div class="logo_grid logo_full">          
        <%= link_to image_tag(subject.logo.url, :alt => subject.name , :size => "119x119"), subject %>    
        <div class="logo_menu logo_caption">    
          <%= link_to t('avatar.profile_change'), avatars_path  %>
        </div>
      </div>        
    </div>        
  <% else %>
    <div class="center"><span class="title_bold" ><%= subject.name %></span></div>
    <%= link_to image_tag(subject.logo.url, :alt => subject.name , :size => "119x119"), subject %>
  <% end %>
</div>
