<%= menu_options[:like] || capture do %>
  <li>
    <%= link_to( image_tag("btn/btn_bookmark.png", :class => "menu_icon")+t('tie.add.bookmark'), '#') %>
  </li>
<% end %>
<li>
  <%= link_to( image_tag("btn/btn_friend.png", :class => "menu_icon")+t('tie.add.contact'), '#') %>
</li>

<%= menu_options[:contacts] || capture do %>
  <% if user_signed_in? %>
    <li >
      <%= link_to(image_tag("btn/btn_send.png", :class => "menu_icon")+t('message.send'), '#') %>
    </li>
  <% end %>
<% end %>


