<li>
  <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('message.other'), '#') %>
  <ul>
    <li>
      <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+ t('message.new'), new_message_path) %>
    </li>
    <li>
      <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('message.inbox')+" (" + current_subject.mailbox.inbox(:unread => true).count.to_s + ")", conversations_path, :remote => true) %>
    </li>
    <li>
      <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('message.sentbox'), conversations_path(:box => :sentbox), :remote => true) %>
    </li>
    <li>
      <%= link_to( image_tag("btn/btn_inbox.png", :class => "menu_icon")+t('message.trash'), conversations_path(:box => :trash), :remote => true) %>
    </li>
  </ul>
</li>
