<% activity = comment.post_activity %>
<%= div_for activity, :class => 'super_activity' do %>
<div class="actor_logo">
  <%= link_to image_tag(activity.sender_subject.logo.url(:actor),
  :alt => activity.sender_subject.name),
  activity.sender_subject %>
</div>
<div class="activity_content">
  <div class="actor_name">
    <%= activity.title(self) %>
  </div>
  <div class="activity_objects">
    <%= link_to comment do%>
      <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 180) || "" %>
      <% if text.length < 400 %>
        <% text = excerpt(strip_tags(comment.text),get_search_query_words.first,:radius => 540 - text.length) || "" %>
      <% end %>
      <%= highlight(text,get_search_query_words) %>
      <% end %>
  </div>
  <div class="activity_options">
    <div class="comment_time_ago">
      <%= t('time.ago', :time => time_ago_in_words(activity.created_at)) %>
    </div>
    <% if user_signed_in? %>
    ·
    <%= link_to activity.audience_in_words(current_subject, :details => :summary),
    'javascript:;',
    :class => 'activity_audience_summary' %>
    <div class="activity_audience">
      <%= activity.audience_in_words(current_subject) %>
    </div>
    <% end %>
  </div>
</div>
<% end %> 

