

<div id="welcome">
  <div id="login" class="block">
    <h2><%= t('sign_in') %></h2>
    <div class="space_center"></div>
    <div class="space_center"></div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form_row">
        <div class="form_label"><%= f.label :email %></div>
        <div class="form_field"><%= f.email_field :email %></div>
      </div>
      <div class="form_row">
        <div class="form_label"><%= f.label :password %></div>
        <div class="form_field"><%= f.password_field :password %></div>
      </div>

      <div class="form_row">
        <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
        <% end -%>
      </div>

      <div class="btn_login">
        <%= f.submit t('action.send'), :class =>"myButton" %>
      </div>
    <% end %>
  </div>
</div>
