
<% content_for :javascript do %>


$('#new_logoA_form')
    .bind("ajax:complete", function(evt, data, status, xhr){

      // Insert response partial into page below the form.
      $('#prueba').append(xhr.responseText);

    });

<%end%>


<%= form_for :logo, @logo,:url => logos_path, :html => { :multipart => true, :id=>'new_logo_form' }, :remote => false do |f| %>
  <% if @logo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
      <% @logo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.file_field :logo %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div id= "prueba"></div>
<% end %>
