<% content_for :headers do %>
	<%= javascript_include_tag 'jquery.Jcrop.min' %>
	<%= stylesheet_link_tag "jquery.Jcrop", :media => "screen, projection" %>
    <%= stylesheet_link_tag "logos", :media => "screen, projection" %>
<%end%>
<h1>Create a new logo</h1>
<% if current_subject.blank? %>
LOGUEATE
<% else %>

<% if !@logo.logo.errors['precrop'].blank? %>
	<%= render :partial => 'precrop' %>
<% else %>
	<%= render :partial => 'form' %>
<% end %>

<%= link_to 'Back', logos_path %>


<% end %>
