<div class="block" id="notifications_settings">
    <div class="header">
        <div class="header_text">
            <%= t('settings.notifications.name')%>
        </div>
        <div class="header_icon_right">
      <%= link_to (image_tag('btn/edit.png')),  "javascript:showSettings(\"notifications_settings\");" %>
        </div>
    </div>
    <div id="notifications_settings_briefing" class="settings_briefing content">        
        <div class="form_row">
            <%= t('settings.notifications.briefing')%>
        </div>
    </div>
    <div class="content settings_content" id="notifications_settings_content" style="display:none;">
        <%= form_tag update_all_settings_path, :method => :put do %>
        <ul>
        <div class="settings_block">
            <div class="form_row">
                <li><%= t('settings.notifications.by_email.name')%></li>
            </div>
            <div class="form_sub_row">
                <%= radio_button_tag :notify_by_email, 'always', current_subject.notify_by_email %> <%= t('settings.notifications.by_email.always') %>
                <%= radio_button_tag :notify_by_email, 'never', !current_subject.notify_by_email %> <%= t('settings.notifications.by_email.never') %>
            </div>
            <div class="actions center">
                <%= hidden_field_tag :settings_section, :notifications %>
                <%= submit_tag "Update Settings", :class => "button" %>
            </div>
        </div>
        </ul>
        <% end %>
    </div>
</div>