<% if document.description %>
<% end %>

<div class="first">
  <div class="view_count">
    <span class="count">views</span>
  </div>
  <div class="like_count">
    <%= document.like_count %> <span class="count">likes</span>
  </div>
</div>  

<div class="description">
  <h4>
    description
  </h4>
  <%= document.description %>
</div>

<div class="tags">
  <h4>
    tags
  </h4>
</div>

<div class="autor">
  <h4>
    autor
  </h4>
</div>

<div class="date_labels">
  <h4>
    <%= t('document.info.date.created_at') %>
  </h4>
  <div class="date">
    <%= I18n.localize document.created_at, :format => :long %>
  <h4>
    <%= t('document.info.date.updated_at') %>
  </h4>
  <div class="date">
    <%= I18n.localize document.updated_at, :format => :long %>
  </div>
  <div class="file_size">
    <h4>
      size
    </h4>
    <span class="details">
      <%= number_to_human_size document.file_file_size %>
    </span>
  </div>         
</div>
<%= render :partial => "common_documents/edit_form", :locals => {:document => document} %>

