<div id="document_info">
<div id="created_at">Created at: <%= document.created_at %></div>
<div id="updated_at">Updated at: <%= document.updated_at %></div>
<div id="like_count"><%= document.like_count %> likes</div>
<div id="actions">
  <%= link_to "Download", "javascript:;"%> - 
  <%= link_to "Edit", "javascript:;"%> - 
  <%= link_to "Delete", "javascript:;"%>
</div>
</div>
