<div id="document_info">
  <div class="left">
    <div id="created_at">
      <span class="details">Created at:</span> <%= I18n.localize document.created_at, :format => :long %>
    </div>
    <div id="updated_at">
      <span class="details">Updated at:</span> <%= I18n.localize document.updated_at, :format => :long %>
    </div>
  </div>
  <div class="right">
    <div id="like_count">
      <%= document.like_count %> <span class="details">likes</span>
    </div>
  </div>
<br class="clearfloat" />
  <div id="actions">
    <%= link_to image_tag("btn/download.png") + "Download", "javascript:;", :class => :action %>
    <%= link_to image_tag("btn/edit.png") + "Edit", "javascript:;", :class => :action %>
    <%= link_to image_tag("btn/error.png") + "Delete", "javascript:;", :class => :action %>
  </div>
</div>
