<div id="document_info">
  <% if document.description %>
  <% end %>
  <div id="document_details">
    <div class="left">
      <div id="date_labels">
        <div class="details">
          <%= t('document.info.date.created_at') %>
        </div>
        <div class="date">
          <%= I18n.localize document.created_at, :format => :long %>
        </div>
        <div id="file_size">
        <span class="details">Size </span> <%= number_to_human_size document.file_file_size %>
      </div>
    </div>         
  </div>
  <div class="right">
    <div id="document_details">
      <div class="details">
        <%= t('document.info.date.updated_at') %>
      </div>
      <div class="date">
        <%= I18n.localize document.updated_at, :format => :long %>
      </div>
    </div>
    <div id="like_count">
      <%= document.like_count %> <span class="details">likes</span>
    </div>      
  </div>
  <br class="clearfloat" />
</div>
</div>
<%= render :partial => "common_documents/edit_form", :locals => {:document => document} %> 
<div id="actions">
  <% if can? :destroy, document %>
  <%= link_to content_tag(:span,image_tag("btn/error.png"), :class => :action), document.post_activity.direct_object , :confirm => t('confirm_delete',
      :scope => document.post_activity.direct_object.class.to_s.underscore), :method => :delete %>

  <% if can? :update, document %>
  <%= link_to content_tag(:span,image_tag("btn/edit.png"), :class => :action, :id => :document_edit_action), "javascript:SocialStream.Repository.toggleDocumentMenu('edit');" %>
    <% end %>

  <%= link_to content_tag(:span,image_tag("btn/download.png"), :class => :action), download_document_path(document) %>
    <% end %>
</div>

<div class="description">
  <%= document.description %>
</div>
