<%= form_for(document) do |f| %>
  <div class="error">
    <ul>
      <% document.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= f.label :file, t('document.info.file') %>
  <%= f.file_field :file %>

  <%= f.label :title, t('document.info.title') %>
  <%= f.text_field :title %>

  <%= f.label :description, t('document.info.description') %>
  <%= f.text_area :description %>

  <%= f.label :tag_list, t('document.info.tags') %>
  <div class="fcbk">
    <%= f.select :tag_list, [] %>
  </div>

  <%= f.submit :class => "btn" %>
<% end %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Document.edit({
      tags: {
        path: "<%= tags_path %>"
      }
    })
  });
<% end %>
