<% content_for :title do %>
  <%= "#{ profile_subject && profile_subject.name + ': ' }#{ t('repository.title') }" %>
<% end %>

<% if profile_subject %>
  <% toolbar :profile, :subject => profile_subject %>
<% elsif user_signed_in? %>
  <% toolbar %>
<% end %>

<br class="clearfloat" />

<div class="document-tabs tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to t('document.scope.own'), "#document-list-own", "data-toggle" => "tab" %>
    </li>
    <li class="">
      <%= link_to t('document.scope.network'), "#document-list-net", "data-toggle" => "tab" %>
    </li>
  </ul> 
</div>
<%= render partial: 'common_documents/filter' %>
<% if user_signed_in? && profile_subject_is_current? %>
<div class="add-new">  
  <%= link_to t('document.new.link'), new_document_path %>
</div>
<% end %>

<div class="tab-content">
  <div id="document-list-own" class="tab-pane active">
    <div class="documents">
      <%= render partial: 'common_documents/list',
                 locals: { documents: collection } %>
    </div>
  </div>
  
  <div id="document-list-net" class="tab-pane">
    <%= render partial: 'common_documents/filter' %>

    <div class="documents">
    </div>
  </div>
</div>



<%= javascript_tag do %>
$(document).ready(function() {
  var last_search = "";
  
  

  $("#repository_filter_input").keyup(function() {
    var searchstring = $(this).val();
    if((searchstring=="")){
      if (last_search!=searchstring){last_search=searchstring;}
      $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
        $.ajax({
          type : "GET",
          url : "<%= polymorphic_path([ profile_subject, Document.new ], :action => :search) %>",
          success : function(html) {      
            if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
              $("#documents_grid").html(html);
            }          
          },
          error: function(){
            $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
         }
        });
    } else {
      if (last_search!=searchstring){
        last_search=searchstring;
        $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
        $.ajax({
          type : "GET",
          url : "<%= polymorphic_path([ profile_subject, Document.new ], :action => :search) %>?q=" + searchstring,
          success : function(html) {      
            if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
              $("#documents_grid").html(html);
            }          
          },
          error: function(){
            $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
         }
        });
      }
    }
    return false;
  });  
})
<% end %>
