<% content_for :title do %>
<%= profile_subject.name + ": " + t('repository.title') %>
<% end %>

<% content_for :sidebar do %>
<%= render :partial => 'home/sidebar' %>
<% end %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('repository.title'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<% toolbar :profile => profile_subject %>
<br class="clearfloat" />
<div class="space_center"></div>
<div id="repository_filter">
  <form action="<%= search_path%>" method="get" id="repository_filter">
    <%= text_field_tag :filter_query, nil,:autocomplete => :off, :id => :repository_filter_input %>
  </form>
  <div id="order_by"><%= t('repository.order.by') %>: <%= t('repository.order.last_modified') %> · <%= t('repository.order.most_popular') %>  </div>
</div>
<div class="space_center"></div>

<% @activities.each do |a| %>
<% document = a.activity_objects.first.document %>
<div class="attachment_tile">
  <div class="attachment_tile_thumb">
    <%= link_to thumb_for(document,48),
    {:controller => "documents", :action => "show", :id => document},
    :type => document.type,
    :title => document.file_file_name,
    :path => document_path(document) %>
  </div>
  <div class="attachment_tile_text">
    <%= link_to truncate_name(document.file_file_name,:length => 15),
    {:controller => "documents", :action => "show", :id => document},
    :alt => document.file_file_name,
    :type => document.type,
    :path => document_path(document) %>
  </div>
</div>
<% end %> 