<% content_for :title do %>
  <%= "#{ profile_subject && profile_subject.name + ': ' }#{ t('repository.title') }" %>
<% end %>

<% if profile_or_current_subject %>
  <%= render partial: 'toolbar/profile', locals: { :subject => profile_or_current_subject } %>
<% end %>

<%= render partial: 'common_documents/filter' %>

<%= render partial: 'common_documents/new_button',
           locals: { owner: profile_subject } %>

<section class="documents">
  <%= render partial: 'common_documents/list',
             locals: { documents: collection } %>
</section>

  
<nav class="documents">
  <%= render partial: 'layouts/more',
             locals: { path: polymorphic_path([profile_subject, Document.new ]) } %>
</nav>


<%= javascript_tag do %>
$(function() {
  SocialStream.Document.index();

  var last_search = "";
  
  

  $("#repository_filter_input").keyup(function() {
    var searchstring = $(this).val();
    if((searchstring=="")){
      if (last_search!=searchstring){last_search=searchstring;}
      $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
        $.ajax({
          type : "GET",
          url : "<%= polymorphic_path([ profile_subject, Document.new ], :action => :search) %>",
          success : function(html) {      
            if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
              $("#documents_grid").html(html);
            }          
          },
          error: function(){
            $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
         }
        });
    } else {
      if (last_search!=searchstring){
        last_search=searchstring;
        $("#documents_grid").html("<center><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></center>");
        $.ajax({
          type : "GET",
          url : "<%= polymorphic_path([ profile_subject, Document.new ], :action => :search) %>?q=" + searchstring,
          success : function(html) {      
            if ($("#repository_filter_input").val()==searchstring){ //Only show if input value is still the same
              $("#documents_grid").html(html);
            }          
          },
          error: function(){
            $("#header_search_display").html("<center><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></center>");
         }
        });
      }
    }
    return false;
  });  
})
<% end %>
