<% profile_subject ||= document.owner_subject %>

<% content_for :title do %>
<%= profile_subject.name + ": " + t('repository.title') %>
<% end %>

<% sidebar %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('repository.title'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<% toolbar :profile => profile_subject %>

<br class="clearfloat" />
<div class="space_center"></div>
<h2><%= document.title.nil? ? document.file_file_name : document.title %></h2>
<div class="space_center"></div>

<%= show_view_for document %>

<%= render :partial => "common_documents/document_info", :locals => {:document => document} %>

<div id="document_comments">
  <%= render :partial => 'activities/comments', :locals => { :activity => document.post_activity } %>
  <%= render :partial => 'comments/new', :locals => { :activity => document.post_activity } %>
</div>
