<%= render :partial => 'objects/show',
           :locals  => { :object => document } %>

<% profile_subject ||= document.owner_subject %>

<% content_for :title do %>
<%= profile_subject.name + ": " + t('repository.title') %>
<% end %>

<%if profile_subject_is_current?%>
<%= location(
  link_to(t('repository.title'), polymorphic_path(controller.controller_name),:remote => true)
  ) %>
<%else%>
<%= location(
  link_to(profile_subject.name, polymorphic_path(profile_subject),:remote => true),
  link_to(t('repository.title'), polymorphic_path([profile_subject, controller.controller_name]),:remote => true)
  ) %>
<%end%>

<br class="clearfloat" />

<div class="central">
	<h2><%= document.title.nil? ? document.file_file_name : document.title %></h2>

	<div class="picture-show">
		<%= show_view_for document %>

		<div id="actions">
  <% if can? :destroy, document %>
  <%= link_to content_tag(:span,image_tag("btn/error.png"), :class => :action), document.post_activity.direct_object , :confirm => t('confirm_delete',
      :scope => document.post_activity.direct_object.class.to_s.underscore), :method => :delete %>


		<%= link_to content_tag(:span,image_tag("btn/download.png"), :class => :action), download_document_path(document) %>
	</div>
</div>
	<div class="tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active"><a href="#" data-toggle="tab">Comentarios</a></li>
	  </ul>
	</div>
	<div id="document_comments">
	  <%= render :partial => 'activities/comments', :locals => { :activity => document.post_activity } %>
	  <%= render :partial => 'comments/new', :locals => { :activity => document.post_activity } %>
	</div>
</div>


<div id="details">
	<div class="tabbable">
    	<ul class="nav nav-tabs">
      		<li class="active">
        		<a href="#details" data-toggle="tab">Detalles</a>
      		</li>
        	<li class=""> <% if can? :update, document %>
  				<%= link_to content_tag(:span,image_tag("btn/edit.png"), :class => :action, :id => :document_edit_action), "javascript:SocialStream.Repository.toggleDocumentMenu('edit');" %>
    			<% end %>
    			<% end %>
    		</li>
    	</ul>
  	</div>

	<%= render :partial => "common_documents/document_info", :locals => {:document => document} %>
</div>
