<% @sphere ||= Sphere.new %>

<%= form_for @sphere, :remote => true do |f| %>

  <% if @sphere.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sphere.errors.count, "error") %> prohibited this sphere from being saved:</h2>

      <ul>
      <% @sphere.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.text_field :name, :class => "privacy_input_new", :size => 20 %></p>
  <%= f.submit nil, :class => "button" %>
  <button class="button" id="cancel_new_sphere" ><%= t('button.cancel') %></button>
<% end %>

<%= javascript_tag do %>
  $("#cancel_new_sphere").click(function() {   
    $("#new_sphere_input_block").hide();
    $("#new_sphere_title_block").show();
    return false;
  });
<% end %>
