<table class="tableCheckBoxOptions">
  <% list.each do |sphere| %>
    <%= raw cycle("<tr><td>", "<td>", :name => "begin_cell") %>
      <div contain="<%= dom_id(sphere) %>" class="checkboxOptionLeft">
        <input id=<%= dom_id(sphere) %> type="checkbox"/>
        <label for=<%= dom_id(sphere) %>><%=sphere.name%></label>
      </div>
    <%= raw cycle("</td>", "</td></tr>", :name => "end_cell") %>
  <% end %>

  <%= raw("</tr>") if list.size.odd? %>

</table>

<%= javascript_tag do %>
  $(function() {
    $('input[id^="sphere"]').checkBox();
  })
<% end %>
