<% content_for :headers do %>
  <%= stylesheet_link_tag "spheres.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery.ui.slider.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery.ui.slidertheme.css", :media => "screen, projection" %>
  <%= javascript_include_tag 'ui.checkbox'%>
<% end %> 

<% content_for :javascript do %>
  $("#new_context_input_block").hide();
  $("#new_level_input_block").hide();

  $("#privacy_levels").hide();
  $("#privacy_permissions").hide();

  $("#new_context_title").click(function() {
  $("#new_context_title_block").hide();
  $("#new_context_input_block").show();
  });

  $("#new_level_title").click(function() {
  $("#new_level_title_block").hide();
  $("#new_level_input_block").show();
  });


  $("#cancel_new_level").click(function() {   
  $("#new_level_input_block").hide();
  $("#new_level_title_block").show();
  });

  $("#submit_new_context").click(function() {
  if ($("#new_context_input").val().trim()==""){
  return false;
  }
  createContext();
  });

  $("#submit_new_level").click(function() {
  if ($("#new_level_input").val().trim()==""){
  return false;
  }
  createLevel();
  });
<% end %>

<% toolbar :profile => current_subject, :option => 'contacts' %>

<% javascript_tag do %>
  <%= render :partial => 'spheres/jquery' %>
<% end %>

<div id="wrapper_section">   

  <p class="pageTitle"> Privacy & context </p>

  <div id="privacy_context" class="privacy_block_section first_block_section">
    <p class="sectionTitle"> 1. Choose context </p>

    <div class="privacy_add_element">
      <div id="new_context_title_block"> 
        <a href="#"><span id="new_context_title" class="privacy_span_new"> + New context </span></a>
      </div> 
      <div id="new_context_input_block"> 
        <%= render :partial => 'spheres/form' %>
      </div>
    </div>


    <div id="spheres">
      <%= render :partial => 'spheres/index' %>
    </div>

</div>


  <div id="privacy_levels" class="privacy_block_section">
  </div>


  <div id="privacy_permissions" class="privacy_block_section">
  </div>


</div> 
