<% content_for :headers do %>
  <%= stylesheet_link_tag "spheres.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery.ui.slider.css", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery.ui.slidertheme.css", :media => "screen, projection" %>
  <%= javascript_include_tag 'ui.checkbox'%>
<% end %> 

<% toolbar :profile => current_subject, :option => 'contacts' %>

<%= javascript_tag do %>
  <%= render :partial => 'spheres/jquery' %>
<% end %>

<div id="wrapper_section">   

  <p class="pageTitle"><%= t 'sphere.title' %></p>

  <div id="spheres" class="privacy_block_section first_block_section">
    <p class="sectionTitle"><%= t 'sphere.choose' %></p>

    <div class="privacy_add_element">
      <div id="new_sphere_title_block"> 
        <a href="#"><span id="new_sphere_title" class="privacy_span_new"><%= t('sphere.new') %></span></a>
      </div> 
      <div id="new_sphere_input_block"> 
        <%= render :partial => 'spheres/form' %>
      </div>
    </div>

    <%= javascript_tag do %>
      $(function() {
        $("#new_sphere_input_block").hide();

        $("#new_sphere_title").click(function() {
          $("#new_sphere_title_block").hide();
          $("#new_sphere_input_block").show();
        });

        $("#loading").hide();

        $("#loading").ajaxStart(function(){
           $(this).show();
        });

        $("#loading").ajaxStop(function(){
           $(this).hide();
        });

      })
    <% end %>

    <div id="spheres_list">
      <%= render :partial => 'spheres/list', :object => @spheres %>
    </div>

</div>


  <div id="relations" class="privacy_block_section">
  </div>


  <div id="permissions" class="privacy_block_section">
  </div>

  <div id="loading"></div>

  <%= javascript_tag do %>
    $(function() {
      $("#relations").hide();
      $("#permissions").hide();
    })
  <% end %>
</div> 
