<div class= "block">
  <div class = "content">
  <%= form_for :logo, @avatar,:url => avatars_path, :html => { :multipart => true, :id=>'new_logo_form' }, :remote => false do |f| %>
  <% if @avatar.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this logo from being saved:</h2>
    <ul>
      <% @avatar.errors.each do |msg| %><!--.full_messages -->
      <li>
        <%= msg[1] %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form_row">
  	<%= f.label t('avatar.new') %>
  </div>
  <div class="form_row">
  	<%= f.file_field :logo, :class => "button" %>

	  <%= f.submit t('avatar.upload'), :class => "button" %>
  </div>
  <div id= "prueba">
  </div>
  <% end %>
</div></div>
