<div class= "block">
  <div class = "content">
  <%= form_for :logo, @avatar,:url => avatars_path, :html => { :multipart => true, :id=>'new_logo_form' }, :remote => false do |f| %>
  <% if @avatar.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this logo from being saved:</h2>
    <ul>
      <% @avatar.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.file_field :logo %>
  <div class="actions">
    <%= f.submit t('avatar.upload') %>
  </div>
  <div id= "prueba">
  </div>
  <% end %>
</div></div>
