<% toolbar :profile => current_subject %>

<% content_for :headers do %>
<%= stylesheet_link_tag "avatars.css", :media => "screen, projection" %>
<% end %>


<%= location("Profile (ADD LINK)","Avatars (ADD LINK)") %>

<h2><%= t('avatar.list') %></h2>

<% current_subject.avatars.each do |avatar| %>
<% unless avatar.id.blank? && (current_subject.avatars.size == 1) %>
  <% unless avatar.id.blank? %>
	<%= div_for(avatar, :class => avatar.active ? 'default' : '') do %>
	  	  <%= image_tag avatar.logo.url(:profile) %>
	  	<% unless avatar.active %>
	  		<div class="actions">
	       <%= link_to image_tag("btn/close.png"), avatar, :confirm => t('avatar.destroy_sure'), :method => :delete %>
	      <%= link_to t('avatar.set_default'), avatar, :confirm => t('avatar.set_default_sure'), :method => :put %>
	      </div>
	    <% end %>
  	<% end %>
  <%else%>
        <%= t('avatar.no_avatars') %>
  <% end %>
<% end %>
<% end %>
<br />
<%= render :partial => 'form' %>
