<% toolbar :profile => current_subject %>

<% content_for :headers do %>
<%= stylesheet_link_tag "avatars.css", :media => "screen, projection" %>
<%= javascript_include_tag 'avatars.js' %>
<% end %>

<% content_for :title do%>
  <%= current_subject.name %>
<% end%>
<% content_for :sidebar do %>
  <%= render :partial => 'home/sidebar' %>
<% end %>

<%= location(
	link_to(image_tag("btn/btn_edit.png", :class => "menu_icon")+t('profile.one'), [current_subject,:profile]),	
	link_to(image_tag("btn/edit.png", :class => "menu_icon")+t('avatar.other'), avatars_path)
) %>

<br class="clearfloat" />
<div class="space_center"></div>
<div class="space_center"></div>
<% unless(@avatars.empty? || (@avatars.first.present? && @avatars.first.id.blank?)) %>
  <h2><%=t('avatar.text.use') %></h2>
  <div class="space_center"></div>
  <div class="space_center"></div>
  <div class="avatars">
  <% @avatars.each do |avatar| %>
    <% unless avatar.id.blank? %>
  	<%= div_for(avatar) do %>
  	     <div class="boxgrid captionfull">
           <%= image_tag(avatar.logo.url(:profile), :class => avatar.active ? 'default' : 'non_default', :size => '94x94') %>
           <% if avatar.active %>    
             <div class="cover boxcaption">    
               <%= link_to "Delete avatar", avatar, :confirm => t('avatar.destroy_sure'), :method => :delete %>
             </div>  
           <% else %>
             <div class="cover boxcaption">    
               <%= link_to "Set as default", avatar, :confirm => t('avatar.set_default_sure'), :method => :put %>
               <%= link_to "Delete avatar", avatar, :confirm => t('avatar.destroy_sure'), :method => :delete %>
             </div>
           <% end %>
         </div>  	  	 
    	<% end %>
      <% end %>
  <% end %>
  </div>
  <br />
  <br class="clearfloat" />
  <div class="space_center"></div>
  <div class="space_center"></div>
  <h2><%=t('avatar.text.new') %></h2>
<% else %>
  <h2><%= t('avatar.new') %></h2>
<% end %>
<%= render :partial => 'form' %>
