<% content_for :headers do %>
	<%= javascript_include_tag 'jquery.Jcrop.min' %>
	<%= stylesheet_link_tag "jquery.Jcrop", :media => "screen, projection" %>
    <%= stylesheet_link_tag "logos", :media => "screen, projection" %>
<%end%>
<% toolbar :profile => current_subject %>
<div id="content_logo">
<% if !@avatar.logo.errors['precrop'].blank? %>
	<h1><%= t('avatar.crop_image') %></h1>
	<%= render :partial => 'precrop' %>
<% else %>
	<h1><%= t('avatar.new') %></h1>
	<%= render :partial => 'form' %>
<% end %>
</div>
<% link_to 'Back', avatars_path %>