<%= form_tag search_path, :method => :get,
                          :remote => true,
                          :id => "search_form" do %>
  <%= hidden_field_tag :type, params[:type] %>
  <div class="block">
    <div class="error" id="too_short_error" <%= 'style=display:block;' if too_short_query? %>><%= t('search.at_least') %></div>

    <div class="form_row search_row">
      <%= text_field_tag :q, params[:q], :autocomplete => :off, :id => :global_search_input %>
    </div>

    <div  id="focus_options" class="form_row search_row">
      <ul class="menu_plain_list">
        <li><%= link_to content_tag(:span,
                                    t('search.show_all'),
                                    :class => "global #{ params[:type].blank? && 'active' }"),
                        search_path(:q => params[:q]),
                                    :remote => true %></li>
        <% SocialStream::Search.keys(:extended).each do |model_sym| %>
          <li>
            <%= render :partial => 'extended_tab', :locals => { :key => model_sym } %>
          </li>
        <% end %>
      </ul>
    </div>      
  </div>
<% end %>

<%= javascript_tag do %>
  $(function() {
    SocialStream.Search.init();
  });
<% end %>
