<section id="registration"> 
  <section class="welcome">
    
  </section>

  <section class="registration">
    <h3>
      <%= t('sign_up').capitalize %>
    </h3>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    <div class="reg-labels">
      <%= f.label :name %>
      
      <%= f.text_field :name, :class =>"form_tag" %>
      
      <%= f.label :email %>
      
      <%= f.text_field :email, :class =>"form_tag" %>
      
      <%= f.label :password %>
      
      <%= f.password_field :password, :class =>"form_tag", :id => "password" %>

      <%= f.label :password_confirmation %>
      
      <%= f.password_field :password_confirmation, :class =>"form_tag"%>

      <%= f.submit t('action.accept').capitalize,:class=>"btn pull-right"%>
    </div>
    <hr class="soften">
      
    <%= render :partial => "devise/shared/links" %>
      
      <% end %>
  </section>
</section>
