<% content_for :headers do%>
  <%= render :partial => 'layouts/devise_style' %>
<%end%>

<div id="welcome">
  <div id="login" class="block">
  <h2><%= t('sign_up').capitalize %></h2>
  <div class="space_center"></div>
  <div class="space_center"></div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form_row">
      <div class="form_label"><%= f.label :name %></div>
      <div class="form_field"><%= f.text_field :name, :class =>"form_tag"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label"><%= f.label :email %></div>
      <div class="form_field"><%= f.text_field :email, :class =>"form_tag"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label"><%= f.label :password %></div>
      <div class="form_field"><%= f.password_field :password, :class =>"form_tag", :id => "password"  %></div>
    </div>
    <div class="form_row">
      <div class="form_label" id="user_password_confirmation_label">
        <%= f.label :password_confirmation %>
      </div>
      <div class="form_field"><%= f.password_field :password_confirmation, :class =>"form_tag"  %></div>
    </div>
    <div class="form_row center">
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to t('confirmation.not_received.long'), new_confirmation_path(resource_name) %><br />
      <% end -%>
    </div>
    <div id="devise_links">
      <%= render :partial => "devise/shared/links" %>
    </div>
    <div class="form_row center">
      <div class="btn_login"><%= f.submit t('action.accept').capitalize,:class=>"button storePass"%></div>
    </div>
  <% end %>
</div>


