<table class="tableCheckBoxOptions">
  <% list.each do |r| %>
    <%= raw cycle("<tr><td>", "<td>", :name => "begin_cell") %>
      <div contain="<%= dom_id(r) %>" class="checkboxOptionLeft">
        <input id=<%= dom_id(r) %> type="checkbox"/>
        <label for=<%= dom_id(r) %>><%=r.name%></label>
      </div>
    <%= raw cycle("</td>", "</td></tr>", :name => "end_cell") %>
  <% end %>

  <%= raw("</tr>") if list.size.odd? %>

</table>

<%= javascript_tag do %>
  $(function() {
    $('input[id^="relation_custom"]').checkBox();
  })
<% end %>
