<section id="confirmation">
  <header>
    <h2>Resend confirmation instructions</h2>
  </header>
  <section class="confirmation">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Resend confirmation instructions" %></div>

      <hr class="soften">
      
      <%= render "devise/shared/links" %>
    <% end %>
  </section>
</section>
