<%= div_for link do %>
  <% if link.image %>
    <div class="thumb <%= 'thumb-play' if link.callback_url %>">
      <% if link.callback_url %>
        <%= image_tag(link.image) %>
        <div class="play_over" data-url="<%= link.improved_callback_url %>" data-width="<%= link.width %>" data-height="<%= link.height %>"></div>
      <% else %>
        <%= link_to image_tag(link.image),link.url, :target => "_blank" %>
      <% end %>
    </div>
  <% end %>
  <div class="text">
    <% if link.title %>
      <h6>
        <%= link.title %>
      </h6>
    <% end %>
    <div class="url">
      <%= link_to link.url, link.url, :target => "_blank" %>
    </div>

    <%= render partial: 'objects/timeline_description',
               object: link,
               as: :obj %>
  </div>
<% end %>
