<div id="footerFront">
	<div id="footer">
    <div class="rowfooter">
      <%= link_to(image_tag('HTML5.png'), 'http://validator.w3.org/check?uri=referer') %>
      <%= link_to(image_tag('HTML5_Styling.png'),'http://jigsaw.w3.org/css-validator/check/referer') %>
      <%= link_to(image_tag('HTML5_Semantics.png'),'http://jigsaw.w3.org/css-validator/check/referer') %>
    </div>
	  <ul>
                <li><%= Date.today.year %> © </li>
		<li id="trade_mark"><%= link_to t('site.name'), 'http://social-stream.dit.upm.es/' %></li>
	  </ul>
	</div>
</div>



