<div class="dropdown">

  <%= link_to '#', class: 'dropdown-toggle', "data-toggle" => "dropdown" do %>
    <i class='icon_navbar-settings'></i> 
  <% end %>

  <ul class="dropdown-menu">
    <%= render :partial => 'layouts/header_dropdown_menu_sessions'%>

    <li class="notifications-menu">
      <%= link_to t('dropdown.notifications'), notifications_path, :id => "btn_menu_settings" %>
    </li>

    <li class="settings-menu">
      <%= link_to t('dropdown.settings'), settings_path, :id => "btn_menu_settings" %>
    </li>

    <li class="privacy-menu">
      <%= link_to t('dropdown.privacy'), relation_customs_path %>
    </li>

    <li class="divider">
    </li>
    
    <li>
      <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete  %>
    </li>
  </ul>
</div>
