<div class="dropdown">
    <%= link_to current_subject do %>
      <%= image_tag current_subject.logo.url(:small) %>
      <%= truncate_name(current_subject.name, length: 15) %>
    <% end %>
    <%= link_to '#', class: 'dropdown-toggle', "data-toggle" => "dropdown" do %>
      <b class="caret"></b>
    <% end %>

  <ol class="dropdown-menu">
    <%= render :partial => 'layouts/header_dropdown_menu_sessions'%>
    <ul>
      <%= link_to t('settings.main'), settings_path, :id => "btn_menu_settings" %>
    </ul>
    <% if SocialStream.relation_model == :custom %>
    <ul>
      <%= link_to t('account.privacy'), relation_customs_path %>
    </ul>
    <% end %>
    <ul class="divider">
    </ul>
    <ul>
      <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete  %>
    </ul>
  </ol>
</div>

