<div class="navbar navbar">
  <div class="navbar-inner">
    <%= link_to(image_tag('header-logo.png', :alt => t('site.name')), root_path, class: 'brand') %>

    <!-- FIXME: search javascript functionality in 'layouts/search' -->

    <%= form_tag search_path, method: 'get', class: "navbar-search pull-left" do %>
      <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query', placeholder: t('search.name') %>
    <% end %>

     <ul class="nav pull-right">
        
      <li><%= link_to(raw("<i class='iconnav-home'></i> "), root_path)%></li>   
      <li><%= link_to(t('profile.one'), current_subject)%></li>            
      <li>
        <%= link_to(raw("<i class='iconnav-message'></i> "), conversations_path) %> 
          <!-- <span id="header_inbox_count">
            <%= link_to(current_subject.unread_messages_count.to_s, conversations_path) %>
          </span> -->
      </li>            
      <li>
        <%= link_to(raw("<i class='iconnav-notification'></i> "), notifications_path) %>
          <!--<span id="header_notifications">
            <%= link_to( current_subject.mailbox.notifications.not_trashed.unread.count.to_s, notifications_path) %>
          </span> -->
      <li>
        <%= render partial: 'layouts/header_dropdown_menu' %>
      </li>
    </ul>
  </div>
</div>
