<div class="dropdown">

  <%= link_to '#', class: 'dropdown-toggle', "data-toggle" => "dropdown" do %>
    <i class='icon_navbar-settings'></i> 
  <% end %>

  <ul class="dropdown-menu">
    <%= render :partial => 'layouts/header_dropdown_menu_sessions'%>

    <li>
      <%= link_to t('settings.main'), settings_path, :id => "btn_menu_settings" %>
    </li>

    <% if SocialStream.relation_model == :custom %>
      <li>
        <%= link_to t('account.privacy'), relation_customs_path %>
      </li>
    <% end %>

    <li class="divider">
    </li>
    
    <li>
      <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete  %>
    </li>
  </ul>
</div>
