<div id="header_search">      
  <form action="<%=search_path%>" method="get" id="header_search_form">
    <%= text_field_tag :search_query, nil,:autocomplete => :off, :id => :header_search_input %>
  </form>
  <div id="header_search_display">
    <ul><li class="loading"><%= image_tag('loading.gif', :class => :loading) %></li></ul>
  </div>
</div>
<%= javascript_tag do %>
$(document).ready(function() {
  var last_search = "";
  
  $(document).click(function() {
    $("#header_search_display").hide();
  });
  $('#header_search_input').click(function(e) {
    e.stopPropagation();
    if($("#header_search_input").val()!=""){
      $("#header_search_display").show();      
    }
  });
  $('#header_search_display').click(function(e) {
    e.stopPropagation();
  });
  
  $("#header_search_form").submit(function(){
  	$("#header_search_display").hide();
  });
  
  $("#header_search_input").Watermark("<%= escape_javascript(I18n.t('search.name')) %>");

  $("#header_search_input").keyup(function() {
    var searchstring = $(this).val();
    if((searchstring=="")){
      if (last_search!=searchstring){last_search=searchstring;}
      $("#header_search_display").hide();
    }
    else if(searchstring.length < 2) {
      if (last_search!=searchstring){last_search=searchstring;}
      $("#header_search_display").html("<ul><li><%= escape_javascript(content_tag(:span,I18n.t('search.at_least'), :class => :warning)) %></li></ul>").show();
    } else {
      if (last_search!=searchstring){
        last_search=searchstring;
        $("#header_search_display").html("<ul><li class=\"loading\"><%= escape_javascript(image_tag('loading.gif', :class => :loading)) %></li></ul>").show();
        $.ajax({
          type : "GET",
          url : "<%= search_url %>?search_query=" + searchstring + "&mode=header_search",
          success : function(html) {      
            if ($("#header_search_input").val()==searchstring){ //Only show if input value is still the same
              $("#header_search_display").html(html);
            }          
          },
          error: function(){
            $("#header_search_display").html("<ul><li><%= escape_javascript(content_tag(:span,I18n.t('search.wrong'), :class => :warning)) %></li></ul>");
         }
        });
      }
    }
    return false;
  });  
})
<% end %>