<!-- HTML5 DOCTYPE -->
<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title).empty? ? t('site.name') : yield(:title)%></title>
    <meta name="keywords" content="<%= t('profile.tags.default') %><%= yield(:keywords) %>" >
    <meta name="description" content= "<%= yield(:description).empty? ? t('frontpage.main_title') : yield(:description) %>" >
    <meta name="generator" content="SocialStream" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= yield :headers %>

    <%= favicon_link_tag "icons/favicon.ico" %>

    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>
  </head>
  <body>
    <div class="wrapper container">
      <%= render :partial => "layouts/header" %>

      <div id="flash">
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
      </div>

      <% if content_for?(:toolbar) %>
        <nav id="toolbar">
          <%= yield :toolbar %>
        </nav>
      <% end %>

      <section id="content" class="<%= content_section_class %>">
        <%= yield %>
      </section>
  
      <% if content_for?(:sidebar) %>
        <aside id="sidebar">
          <div id="sidebarContent">
            <%= yield :sidebar %>
          </div>
        </aside>
      <% end %>
    </div>
    
    <%= render :partial => "layouts/footer" %>

  </body>
</html>
