<div class="activity_options">
  <span class="post_time_ago"><%= t('time.ago', :time => time_ago_in_words(activity.created_at)) %></span>

  <ul class="activity_options">
    <li><div class="verb_comment"><%= link_to t('activity.to_comment'), "", :class => "to_comment" %> </div></li>
    <li><div class="verb_like" id="like_<%= dom_id(activity) %>"> <%= like_activity(activity)%></div></li>
    <li><div class="verb_delete"><%= link_to t('activity.delete'), activity.direct_object , :confirm => t('activity.confirm_delete'), :method => :delete,  :remote => true %> </div></li>
  </ul>
</div>
