<%= content_for :head, stylesheet_link_tag("activities", :media => "screen, projection") %>
<%= content_for :javascript do %>
  <%= render :partial => 'activities/jquery' %>
<% end -%>

<div id="wrapper_activities">
  <div id="wrapper_activities_header">
    <div id="activities_title" class="content_size">
      <%= image_tag("buttons/btn_activities.png") %> <%=t('activity.other')%>
    </div>

    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </div>
  <div id="wall">
  <% if activities.any? %>
    <%= render activities  %>
  <% end %>
  </div>
</div>
