<% content_for :headers do %>
  <%= stylesheet_link_tag "activities", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen, projection" %>
<% end %>

<% content_for :javascript do %>
  <%= render :partial => 'activities/jquery' %>
<% end -%>

<div id="wrapper_activities">
  <div id="wrapper_activities_header">
    <div id="activities_title" class="content_size">
      <%= image_tag("btn/btn_activities.png") %> <%=t('activity.other')%>
    </div>
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </div>

  <div id="wall">
    <%= render activities  %>
    <%= will_paginate activities %>
  </div>
</div>
