<% content_for :headers do %>
  <%= stylesheet_link_tag "activities", :media => "screen, projection" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen, projection" %>
<% end %>

<% content_for :javascript do %>
  <%= render :partial => 'activities/jquery' %>
<% end -%>

<div id="wrapper_activities">
  <div id="wrapper_activities_header">
    <div id="activities_title" class="content_size">
		<% SocialStream.activity_forms.each do |element| %>
			<div id="header_<%= element %>" class="activities_title_header">
				<%= render :partial => element.to_s.pluralize+'/header' %>			    
			</div>
		<% end %> 	
    </div>
    <%= render :partial => 'activities/new', :locals => { :receiver => owner } %>
  </div>

  <div id="wall">
    <%= render activities  %>
    <%= paginate activities %>
  </div>
</div>
