<div id="activities_header" class="content_size">
  <%= form_for Post.new(:text => t('activity.input'),
                        :_activity_tie_id => current_tie.id),
                        :remote => true  do |f| %>
    <%= f.hidden_field :_activity_tie_id %>
    <%= f.text_field :text, :id => "input_activities", :size => 85 %>
    <div id="activities_share_btn">
       <%= image_submit_tag "buttons/btn_security.png" %>
       <%= image_submit_tag "buttons/btn_share.png" %>
    </div>
  <% end -%>
</div>

