<%= div_for root_activity do %>
  <div class="actor_logo">
    <%= link_to image_tag(root_activity.sender_subject.logo,
                          :size => "50x50",
                          :alt => root_activity.sender_subject.name),
                 root_activity.sender_subject %>
  </div>

  <div class="activity_content">
    <div class="actor_name">
      <%= link_to(root_activity.sender_subject.name, root_activity.sender_subject) %>
    </div>

    <div class="activity_objects">
      <%= render root_activity.activity_objects %>
    </div>

    <%= render :partial => 'activities/activity_options',
               :locals => { :activity => root_activity } %>

    <%= render :partial => 'activities/comments',
               :locals => { :activity => root_activity } %>

    <%= render :partial => 'comments/new',
               :locals => { :activity => root_activity } %>

  </div>			
  <div class="space_comments"></div>
  <div class="space_activities">
  <div class="space_sub"></div>
  </div>
<% end %>
