<%= form_for(begin; resource; rescue ActiveRecord::RecordNotFound; end || resource_class.new) do |f| %>

  <% if f.object.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this client site from being saved:</h2>

      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <section id="site_client_form">
    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="url">
      <%= f.label :url %>
      <%= f.text_area :url %>
    </div>

    <div class="callback_url">
      <%= f.label :callback_url %>
      <%= f.text_area :callback_url %>
    </div>
    <%= f.submit :class => "next-step" %>
  </section>

<% end %>
