<article class="right">
  <%= form_for @client do |f| %>

    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client site from being saved:</h2>

        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
    <% end %>
      <div class="box">

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :url %>
        <%= f.text_field :url %>

        <%= f.label :callback_url %>
        <%= f.text_field :callback_url %>

        <div class="image pull-right">
        </div>
        <a href="#" class="upload"> upload your image</a>

        <%= f.submit :class => "btn pull-right" %>
    <% end %>
      </div>
</article>



