<article>
  <%= form_for @client do |f| %>

    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client site from being saved:</h2>

        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
    <% end %>
    <article id="new_application">
      <section class="upload">
        <%= f.label :file, t('avatar.upload') %>
        <%= f.file_field :file %>
      </section>

      <section class="title">
        <%= f.label :title, t('application.info.title') %>
        <%= f.text_field :title %>
      </section>

      <section class="description">
        <%= f.label :description, t('application.info.description') %>
        <%= f.text_area :description %>
      </section>

      <section class="url">
        <%= f.label :url, t('application.info.url') %>
        <%= f.text_area :url %>
      </section>

      <section class="callback_url">
        <%= f.label :callback_url, t('application.callback_url')  %>
        <%= f.text_area :callback_url %>
      </section>
      <%= f.submit :class => "btn pull-right" %>
    </article>  
  <% end %>
</article>
