<article class="right">
  <%= form_for @client do |f| %>

    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client site from being saved:</h2>

        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
    <% end %>
    <hr class="soften">
    <a class="pull-left" href="#">
  <img class="media-object upload" data-src="holder.js/64x64" alt="market" style="width: 100px; height: 100px;" src="assets/user.png">
  upload avatsr
</a>
  <article  class="media">
    <div class="media-body">
      <div class="url">
        <h3>
           <%= f.label :name %>
        </h3>
        <div class="result">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="callback">
        <h3>
          <%= f.label :url %>
        </h3>
        <div class="result">
          <%= f.text_field :url %>
        </div>
      </div>
      <div class="id-client">
        <h3>
          <%= f.label :callback_url %>
        </h3>
        <div class="result">
          <%= f.text_field :callback_url %>
        </div>
      </div>
      <%= f.submit :class => "btn-blue pull-right" %>
    </div>
  </article>  


    <% end %>
      </div>
</article>





