<section id="site_clients" class="first-img">

  <%= render partial: 'toolbar/home' %>

  <section class="site_clients">
    <header>
      <h1 class="colorfont">
        <%= t 'site.client.added' %>
      </h1>

      <%= link_to t('site.client.new.link'), new_site_client_path, class: "new_site_client-modal-link", 'data-toggle' => 'modal'  %>

      <%= render partial: 'new.modal' %>

      <hr class="soften">
    </header>

    <%= render partial: 'list',
               object: @developer_clients %>
  </section>
</section>
