<% toolbar %>

<article class="first-img">
  <header>
    <h1>
      <%= t 'site.client.added' %>
    </h1>

    <%= button_to(t('site.client.add'), new_site_client_path,
          :method => "get", :class => "btn") %>

    <hr class="soften">
  </header>

  <% @developer_clients.each do |client| %>

    <%= image_tag client.logo.url(:small), style: "width: 40px; height: 40px;" %>

    <div class="name">
      <%= link_to client.name, client %>
    </div>
    <div class="url">
      <%= link_to client.url, client.url, target: '_blank' %>
    </div>
    <div class="users">
      <span>
        5
      </span>
      users
    </div>
  <hr class="soften">

<% end %>
