<h1><%= @client.name %></h1>

<section>
  <article  class="media box">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="market" style="width: 64px; height: 64px;" src="/user.png">
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        nombre del generic
      </h3>
      <div class="url">
        <span class="title">
          <%= Site::Client.human_attribute_name :url %>
        </span>
        <%= @client.callback_url %>
      </div>
      <div class="callback">
        <span class="title">
          <%= Site::Client.human_attribute_name :callback_url %>
        </span>
        <%= @client.callback_url %>
      </div>
      <div class="description">
        <span class="title">
          <%= Site::Client.human_attribute_name :id %>
        </span>
        <%= @client.id %>
      </div>
      <div class="description">
        <span class="title">
          <%= Site::Client.human_attribute_name :secret %>
        </span>
        <%= @client.secret %>
      </div>
    </div>
  </article>
</section>
