<section id="oauth2_server">  
  <h1>
    <%= @client.name %>
  </h1>
  <article  class="media box">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="market" style="width: 64px; height: 64px;" src="assets/user.png">
    </a>
    <div class="media-body">
      <div class="url">
        <h3>
          <%= Site::Client.human_attribute_name :url %>
        </h3>
        <div class="result">
          <%= @client.callback_url %>
        </div>
      </div>
      <div class="callback">
        <h3>
          <%= Site::Client.human_attribute_name :callback_url %>
        </h3>
        <div class="result">
          <%= @client.callback_url %>
        </div>
      </div>
      <div class="id-client">
        <h3>
          <%= Site::Client.human_attribute_name :id %>
        </h3>
        <div class="result">
          <%= @client.id %>
        </div>
      </div>
      <div class="client-secret">
        <h3>
          <%= Site::Client.human_attribute_name :secret %>
        </h3>
        <div class="result">
          <%= @client.secret %>
        </div>
      </div>
    </div>
  </article>
</section>
