<section id="site_client">
  <%= render partial: 'toolbar/home' %>

  <section class="site_client" id="<%= dom_id @client %>">
    <header>  
      <h1>
        <%= @client.name %>
        <a class="go-more" href="#">
          ir a tus demás aplicaciones
        </a>
      </h1>

      <%= image_tag('logos/app-default.png', class: "logo-app pull-right") %>

    </header>

    <div class="content">
      <div class="gereral-info">      
        <h4>
          <%= Site::Client.human_attribute_name :description %>
        </h4>
        <div class="result">
          <%= link_to @client.description, @client.description%>
        </div>

        <h4>
          <%= Site::Client.human_attribute_name :url %>
        </h4>
        <div class="result">
          <%= link_to @client.url, @client.url%>
        </div>

        <h4>
          <%= Site::Client.human_attribute_name :callback_url %>
        </h4>
        <div class="result">
          <%= @client.callback_url %>
        </div>
      </div>
        
      <div class="btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Credentials
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <h6>
            <%= Site::Client.human_attribute_name :id %>
            <a href="#" class="pull-right">refresh</a>
            </h6>
            <%= @client.id %>
          </li>

          <li>
            <h6>
              <%= Site::Client.human_attribute_name :secret %>
              <a href="#" class="pull-right">refresh</a>
            </h6>
            <%= @client.secret %>
          </li>
        </ul>  
      </div>   
    </div>
  </section>
</section>
