<section id="site_client">
  <%= render partial: 'toolbar/home' %>

  <section class="site_client" id="<%= dom_id @client %>">
    <header>  
      <h1>
        <%= @client.name %>
        <a class="go-more" href="#">
          ir a tus demás aplicaciones
        </a>
      </h1>

      <%= image_tag('logos/app-default.png', class: "logo-app pull-right") %>

    </header>

    <div class="content">
      <div class="gereral-info">      
        <h4>
          <%= Site::Client.human_attribute_name :description %>
        </h4>
        <div class="result">
          <%= @client.description%>
        </div>

        <h4>
          <%= Site::Client.human_attribute_name :url %>
        </h4>
        <div class="result">
          <%= link_to @client.url, @client.url%>
        </div>

        <% if can? :update, @client %>
          <h4>
            <%= Site::Client.human_attribute_name :callback_url %>
          </h4>
          <div class="result">
            <%= @client.callback_url %>
          </div>
        <% end %>
      </div>
        
      <% if can? :update, @client %>
        <div class="btn-group">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Credentials
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <h6>
              <%= Site::Client.human_attribute_name :id %>
              </h6>
              <p>
                <%= @client.id %>
              </p>
            </li>

            <li class="client-secret">
              <h6>
                <%= Site::Client.human_attribute_name :secret %>
                <a href="#" class="pull-right">refresh</a>
              </h6>
              <p>
                <%= @client.secret %>
              </p>
            </li>
          </ul>  
        </div>   
      <% end %>
    </div>
  </section>

  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#authorized" data-toggle="tab">Authorized</a></li>
      <li><a href="#registered" data-toggle="tab">Registered</a></li>
      <li><a href="#stats" data-toggle="tab">Stats</a></li>
    </ul>
    <div class="search-nav hidden-phone">
      <%= form_tag search_path, method: 'get', class: "navbar-search pull-left" do %>
        <%= text_field_tag :q, nil, autocomplete: :off, class: 'search-query input-small', placeholder: t('search.name'), "data-min_query" => SocialStream::Search::MIN_QUERY %>
      <% end %>
      <%= javascript_tag do %>
        $(function() {
          SocialStream.SearchHeader.show();
        });
      <% end %>

      <div class="mat">
        <%= render partial: 'layouts/loading' %>

        <div class="query_too_short">
          <%= t 'search.at_least', count: SocialStream::Search::MIN_QUERY %>
        </div>

        <div class="no_results">
          <%= t 'search.nothing' %>
        </div>

        <div class="results">
        </div>
      </div>
    </div>


    <div class="tab-content">
      <div class="tab-pane active" id="authorized">
        <%= render partial: 'contacts/contact',
                   collection: @client.sent_contacts.first(12) %>
      </div>

      <div class="tab-pane" id="registered">
      </div>

      <div class="tab-pane" id="stats">
      </div>
    </div>
  </div>

</section>
