<section id="oauth2_server">  
  <h1>
    <%= @client.name %>
  </h1>
  <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64" alt="market" style="width: 100px; height: 100px;" src="assets/user.png">
  </a>
  <article  class="media box">
    <div class="media-body">
      <h3>
        <%= Site::Client.human_attribute_name :url %>
      </h3>
      <div class="result">
      <%= @client.callback_url %>
      </div>
      <h3>
      <%= Site::Client.human_attribute_name :callback_url %>
     </h3>
     <div class="result">
      <%= @client.callback_url %>
      </div>
     <h3>
      <%= Site::Client.human_attribute_name :id %>
     </h3>
     <h3>
      <%= Site::Client.human_attribute_name :secret %>
      </h3>
      <div class="result">
      <%= @client.secret %>
      </div>
    </div>
  </article>
</section>
