<div>
  <h4><%= t('place.photo.update') %></h4>
  <%= form_for @place.photo do |f| %>
    <%= f.hidden_field :add_holder_place_id %>
    <%= f.hidden_field :owner_id %>
    <%= f.hidden_field :relation_ids, :value => Relation::Public.instance.id %>

    <%= f.file_field :file, :class => "upload-photo" %>

    <%= f.submit t('place.photo.button'), :class => "upload-photo" %>
  <% end %>
</div>
