
<div id="contacts_cheesecake"></div>
<div id="contacts_filter">
  <%= text_field_tag :filter_query, nil,:autocomplete => :off, :id => :contacts_filter_input %>    
</div>
<div id="contacts_selector_modifiers">
  <span id="contacts_selector_clear">Unselect all</span>
</div>
<div id="contacts_grid">
  <div id="contacts_grid_saving" style="display:none;">
    <%= image_tag('loading.gif') %>
  </div>
  <div id="contacts_grid_selected">
    <br class="clearfloat">
  </div>
  <div id="contacts_grid_available">
    <% @actors.each do |actor|%>
      <%= render :partial => "actors/actor_cheesecake", :locals => {:actor => actor} %>
    <% end %>
  </div>
</div>
<div id="contacts_save" style="display:none;">
  <form action="<%= update_cheesecake_path %>" method="get" data-remote="true" id="contacts_save_form">
     <input type="submit" id="contacts_save_button" value="<%= t('cheesecake.changes.save') %>">
     <input type="hidden" id="contacts_save_changes" name="contacts_save_changes">
  </form>
</div>
<div id="contacts_changes_button" style="display:none;">
  <%= t('cheesecake.changes.details') %> (<span id="contacts_changes_button_total">0</span>)
</div>
<br class="clearfloat"> 
<div id="contacts_changes">
  <div id="contacts_changes_title">
   <%= t('cheesecake.changes.details') %>
  </div>
  <div id="contacts_changes_details">

  </div>
</div>
<%= javascript_tag do %>
  $("#center_body").css("width","782px");
  $("#center_body").css("max-width","782px");
  $("#content").css("width","782px");
  $("#contacts_filter_input").Watermark("<%= escape_javascript(I18n.t('search.name')) %>");
  $("#contacts_grid_extra").click(function(){
    $("#contacts_grid").css("overflow-y","scroll");
    $("#contacts_grid").scrollTo("+=308px", 800, {axis:'y'});
    $("#contacts_grid_extra").css("opacity",0);
  });
  var unselected_actor_click = function(){
    var clone = $(this).clone();
    clone.attr("id",$(this).attr("id") + "_selected");
    $(this).slideToggle("fast",function(){
      clone.hide();
      $(this).before(clone);
      $("#contacts_grid_selected br.clearfloat").before($(this));
      $(this).off("click.unselected_actor");
      $(this).on("click.selected_actor", selected_actor_click);
      if($("#contacts_grid_selected").css("display")=="none"){
        $("#contacts_grid_selected").slideToggle("fast");
        $("#contacts_selector_modifiers").css("opacity",1);
      }
      var height = 336 - Math.ceil(($("#contacts_grid_selected").children().length - 1) / 10) * 28;
      if(height != $("#contacts_grid_available").height())
        $("#contacts_grid_available").animate({height: height});
      $(this).slideToggle("fast");
    });
  };
  var selected_actor_click = function(){
    var clone = $("#" + $(this).attr("id") + "_selected");
    $(this).slideToggle("fast",function(){
      clone.before($(this));
      $(this).off("click.selected_actor");
      $(this).on("click.unselected_actor", unselected_actor_click);
      if($("#contacts_grid_selected").children().length <= 1){
        $("#contacts_grid_selected").slideToggle("fast");
        $("#contacts_selector_modifiers").css("opacity",0);
      }
      var height = 336 - Math.ceil(($("#contacts_grid_selected").children().length - 1) / 10) * 28;
      if(height != $("#contacts_grid_available").height())
        $("#contacts_grid_available").animate({height: height});
      $(this).slideToggle("fast");
      clone.remove();
    });
  };
  $("#contacts_selector_clear").on("click",function(){
    $("#contacts_grid_selected .actor").each(function(){
      var evt = document.createEvent("MouseEvents");
      evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      var cb = $(this)[0];
      !cb.dispatchEvent(evt);
    });
  });
  $(".actor").on("click.unselected_actor",unselected_actor_click);
  $("#contacts_changes_button").click(function(){
    if($(".contacts_changes_tipsy_menu").length != 0){
      $("#contacts_changes_button").tipsy("hide");
    }else{
      $("#contacts_changes_button").tipsy("show");
      $("#contacts_changes_title").click(function(){
        $("#contacts_changes_button").tipsy("hide");
      });
    }
  });
  $("#contacts_save_form").submit(function(){
    if($(".contacts_changes_tipsy_menu").length != 0){
      $("#contacts_changes_button").tipsy("hide");
    }
    $("#contacts_grid_saving").show();
    cheese.disable();
    $("#contacts_save_button").val("<%= t('cheesecake.changes.saving') %>").attr("disabled","true");
  });
  <%= render :partial => 'cheesecake' %>
<% end %>