<div id="edit_sector_button"><%= image_tag "btn/cheese_edit.png" %></div>
<div id="contacts_cheesecake"></div>
<div id="sector_editor">
  <%= render :partial => "sector_form" %>
</div>
<div id="contacts_explorer">
  <div id="contacts_filter">
    <%= text_field_tag :filter_query, nil,:autocomplete => :off, :id => :contacts_filter_input %>    
  </div>
  <div id="contacts_selector_modifiers">
    <span id="contacts_selector_clear">Unselect all</span>
  </div>
  <div id="contacts_grid">
    <div id="contacts_grid_saving" style="display:none;">
      <%= image_tag('loading.gif') %>
    </div>
    <div id="contacts_grid_selected">
      <div id="contacts_grid_selected_hint"><%= t('cheesecake.select.hint') %></div>
      <br class="clearfloat">
    </div>
    <div id="contacts_grid_available">
      <% @actors.each do |actor|%>
        <%= render :partial => "actors/actor_cheesecake", :locals => {:actor => actor} %>
      <% end %>
    </div>
  </div>
  <div id="contacts_changes">
    <div id="contacts_changes_title">
     <%= t('cheesecake.changes.details') %>
    </div>
    <div id="contacts_changes_details">
  
    </div>
  </div>
</div>
<div id="contacts_changes_button" style="display:none;">
    <%= t('cheesecake.changes.details') %> (<span id="contacts_changes_button_total">0</span>)
  </div>
  <div id="contacts_save" style="display:none;">
    <form action="<%= update_cheesecake_path %>" method="get" data-remote="true" id="contacts_save_form">
       <input type="submit" id="contacts_save_button" value="<%= t('cheesecake.changes.save') %>">
       <input type="hidden" id="contacts_save_changes" name="contacts_save_changes">
    </form>
  </div>
  <br class="clearfloat">
<%= javascript_tag do %>
  //Tweak to remove right bar
  $("#center_body").css("width","782px");
  $("#center_body").css("max-width","782px");
  $("#content").css("width","782px");
  $("#contacts_filter_input").watermark("<%= escape_javascript(I18n.t('search.name')) %>");
  //When clicking an unselected actor
  var unselected_actor_click = function(){
    var clone = $(this).clone();
    clone.attr("id",$(this).attr("id") + "_selected");
    $(this).fadeOut("fast",function(){
      clone.hide();
      $(this).before(clone);
      $("#contacts_grid_selected_hint").before($(this));
      $(this).off("click.unselected_actor");
      $(this).on("click.selected_actor", selected_actor_click);
      if($("#contacts_grid_selected_hint").css("display")!="none"){
        $("#contacts_selector_modifiers").css("opacity",1);
        $("#contacts_grid_selected_hint").hide();
      }
      var height = 336 - Math.ceil(($("#contacts_grid_selected").children().length - 1) / 10) * 28;
      if(height != $("#contacts_grid_available").height())
        $("#contacts_grid_available").animate({height: height});
      $(this).fadeIn("fast");
    });
  };
  //When clicking an selected actor
  var selected_actor_click = function(){
    var clone = $("#" + $(this).attr("id") + "_selected");
    $(this).fadeOut("fast",function(){
      clone.before($(this));
      $(this).off("click.selected_actor");
      $(this).on("click.unselected_actor", unselected_actor_click);
      if($("#contacts_grid_selected").children().length <= 2){
        $("#contacts_selector_modifiers").css("opacity",0);
        $("#contacts_grid_selected_hint").fadeIn("fast");
      }
      var height = 336 - Math.ceil(($("#contacts_grid_selected").children().length - 1) / 10) * 28;
      if(height != $("#contacts_grid_available").height())
        $("#contacts_grid_available").animate({height: height});
      $(this).fadeIn("fast");
      clone.remove();
    });
  };
  //Unselecting all actors
  $("#contacts_selector_clear").on("click",function(){
    $("#contacts_grid_selected .actor").each(function(){
      var evt = document.createEvent("MouseEvents");
      evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
      var cb = $(this)[0];
      !cb.dispatchEvent(evt);
    });
  });
  $(".actor").on("click.unselected_actor",unselected_actor_click);
  //Detailed changes display
  $("#contacts_changes_button").click(function(){
    if($(".contacts_changes_tipsy_menu").length != 0){
      $("#contacts_changes_button").tipsy("hide");
    }else{
      $("#contacts_changes_button").tipsy("show");
      $(".contacts_changes_tipsy_menu").css({left: $("#cheesecake").offset().left + 132})
      $(window).on("resize.contacs_changes",function(){
        $(".contacts_changes_tipsy_menu").css({left: $("#cheesecake").offset().left + 132})
      });
      $("#contacts_changes_title").on("click",function(){
        $("#contacts_changes_button").tipsy("hide");
      });
    }
  });
  //Opening editing sector form
  $("#edit_sector_button").data("edit_sector_click", function(event){
    var cheese = event.data;
    $("#edit_sector_button").off("click.edit");
    $("#edit_sector_button").fadeOut("fast",function(){
      $("#edit_sector_button").html("<%= escape_javascript image_tag "btn/cheese_close_edit.png" %>");
      $("#edit_sector_button").fadeIn("fast");
    });
    $("#sector_editor").data("prepare")(cheese, null, false);
    $("#sector_editor").data("show")(function(){
      $("#edit_sector_button").on("click.close_edit", cheese, $("#edit_sector_button").data("close_edit_sector_click"));
    });
  });
  //Closing editing sector form
  $("#edit_sector_button").data("close_edit_sector_click", function(event){
    var cheese = event.data;
    $("#edit_sector_button").off("click.close_edit");
    $("#edit_sector_button").fadeOut("fast",function(){
      $("#edit_sector_button").html("<%= escape_javascript image_tag "btn/cheese_edit.png" %>");
      $("#edit_sector_button").fadeIn("fast");
    });
    $("#sector_editor").data("hide")(function(){
      $("#edit_sector_button").on("click.edit", cheese, $("#edit_sector_button").data("edit_sector_click"));
    });
  });
  <%= render :partial => 'cheesecake' %>
<% end %>
