
<div id="contacts_cheesecake"></div>
<div id="contacts_filter">
  <%= text_field_tag :filter_query, nil,:autocomplete => :off, :id => :contacts_filter_input %>    
</div>
<div id="contacts_grid">
  <div id="contacts_grid_saving" style="display:none;">
    <%= image_tag('loading.gif') %>
  </div>
  <% @actors.each do |actor|%>
    <%= render :partial => "actors/actor_cheesecake", :locals => {:actor => actor} %>
  <% end %>
</div>
<div id="contacts_grid_extra" style="opacity:0;">
  <span id="contacts_grid_extra_total"></span> <span id="contacts_grid_extra_text"></span>
</div>
<div id="contacts_save" style="display:none;">
  <form action="<%= update_cheesecake_path %>" method="get" data-remote="true" id="contacts_save_form">
     <input type="submit" id="contacts_save_button" value="<%= t('cheesecake.changes.save') %>">
     <input type="hidden" id="contacts_save_changes" name="contacts_save_changes">
  </form>
</div>
<div id="contacts_changes_button" style="display:none;">
  <%= t('cheesecake.changes.details') %> (<span id="contacts_changes_button_total">0</span>)
</div>
<br class="clearfloat"> 
<div id="contacts_changes">
  <div id="contacts_changes_title">
   <%= t('cheesecake.changes.details') %>
  </div>
  <div id="contacts_changes_details">

  </div>
</div>
<%= javascript_tag do %>
  $("#center_body").css("width","782px");
  $("#center_body").css("max-width","782px");
  $("#content").css("width","782px");
  $("#contacts_filter_input").Watermark("<%= escape_javascript(I18n.t('search.name')) %>");
  $("#contacts_grid_extra").click(function(){
    $("#contacts_grid").css("overflow-y","scroll");
    $("#contacts_grid").scrollTo("+=308px", 800, {axis:'y'});
    $("#contacts_grid_extra").css("opacity",0);
  });
  <%= render :partial => 'cheesecake' %>
<% end %>