<div id="cheesecake">
  <div id="contacts_cheesecake"></div>
  <div id="contacts_filter">
    <%= text_field_tag :filter_query, nil,:autocomplete => :off, :id => :contacts_filter_input %>    
  </div>
  <div id="contacts_grid">    
    <% @actors.each do |actor|%>
      <%= render :partial => "actors/actor_cheesecake", :locals => {:actor => actor} %>
    <% end %>
  </div>
  <div id="contacts_grid_extra">    
    Hay <span id="contacts_grid_extra_total">X</span> contactos ocultos
  </div>
  <%= javascript_tag do %>
    $("#contacts_grid_extra").click(function(){
      $("#contacts_grid").css("overflow-y","scroll");
      $("#contacts_grid_extra").hide();
    });
  <% end %>
  <br class="clearfloat">
  <%= javascript_tag do %>
  $(function(){
    $("#center_body").css("width","782px");
    $("#center_body").css("max-width","782px");
    $("#content").css("width","782px");
    $("#contacts_filter_input").Watermark("<%= escape_javascript(I18n.t('search.name')) %>");
  });
  window.onload = function() {
    var cheesecakeData = {
      container: {
        id: "contacts_cheesecake",
        width: 440,
        height: 440
      },
        grid: {
          id: "contacts_grid",
          divIdPrefix: "actor_"
      },
        rMax : 200, 
        center: {x : 220, y : 220}           
      };
      cheesecakeData.highlightedSectorCallback = function(cheesecake){
        $("#contacts_grid").css("overflow-y","hidden");   
        var sector = cheesecake.highlightedSector;
        console.log(cheesecake.grid);
        if((sector)&&(sector.actors.length > 30)){
            $("#contacts_grid_extra").show();           
        }else if ((sector==null)&&(cheesecake.grid.actors.length > 30)){
            $("#contacts_grid_extra").show();              
        }else{
            $("#contacts_grid_extra").hide();
        }   
      }
      cheesecakeData.sectors = <%= raw(current_subject.cheesecake_json) %>.sectors;
      var cheese = new socialCheesecake.Cheesecake(cheesecakeData);  
      $("#contacts_filter_input").keyup(function(){
        cheese.searchEngine.filter($("#contacts_filter_input").val());
      });
  }      
  <% end %>
</div>