<form id="sector_form">
	<div class="title">
		Editing <span id="edited_sector_name">New sector</span>
	</div>
	<div class="block">
		<div class="form_row less_padding">
			<div class="form_label">
				Name:
			</div>
			<div class="form_field">
				<input type="text" id="form_sector_name" class="form_tag" value="New sector">
			</div>
		</div>
		<div class="form_row less_padding">
			<div class="form_label">
				Color:
			</div>
			<div class="form_field">
				<div id="edited_sector_color_out">
					<div id="edited_sector_color_in"></div>
				</div>
			</div>
		</div>
		<div class="form_row less_padding" id="original_add_subsector_row" style="display:none;">
		  <div class="add_subsector">
		    +
		  </div>
		</div>
		<% for i in 0..3 do %>
		<div class="form_row less_padding">
			<div class="subsector" id="subsector_<%= i %>">
				<div class="title">
					Subsector <span class="edited_subsector_name" id="edited_subsector_name_<%= i %>">New subsector <%= i %></span>
				</div>
				<div class="content" <%= i==0 ? '' : 'style=display:none;' %>>
					<div class="form_row">
						<div class="form_label">
							Name:
						</div>
						<div class="form_field">
							<input type="text" class="form_tag" class="form_subsector_name" id="form_subsector_name_<%= i %>" value="New subsector <%= i %>">
						</div>
					</div>
					<div class="form_row less_padding">
						<div class="form_label">
							Permissions:
						</div>
					</div>
					<div class="form_row less_padding">
						<div class="form_field">
							<table class="tableCheckBoxOptions">
								<% default_permissions.each_with_index do |p, i| %>
								<tr>
									<td>
									<div contain=<%= dom_id p %> class="checkboxPermissionOptionLeft">
										<input id=<%= dom_id p %> class="permission" type="checkbox"/>
										<label for=<%= dom_id p %>><%= p.description(:brief) %></label>
										<div class="clearfloat"></div>
									</div></td>
								</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</form>

<%= javascript_tag do %>
  $(function(){
    $(".subsector .title").off("click.toggle");
    $(".subsector .title").on("click.toggle",function(){
      if(!$(this).parent().find(".content").is(':visible')){
        $(".subsector .content").each(function(){
          if($(this).parent().find(".content").is(':visible')){
            $(this).slideToggle();
          }
        });
        $(this).parent().find(".content").slideToggle();
      }
    })
  });
<% end %>
