<form id="sector_form">
	<div class="title">
		<%= t('cheesecake.form.editing')%> <div id="edited_sector_name" class="truncate">New sector</div>
	</div>
	<div class="block">
		<div class="form_row less_padding">
			<div class="form_label">
				<%= t('cheesecake.form.fields.name')%>:
			</div>
			<div class="form_field">
				<input type="text" id="form_sector_name" class="form_tag" value="New sector">
			</div>
		</div>
		<div class="form_row less_padding">
			<div class="form_label">
				<%= t('cheesecake.form.fields.color')%>:
			</div>
			<div class="form_field">
				<div id="edited_sector_color_out">
					<div id="edited_sector_color_in"></div>
				</div>
			</div>
		</div>		
		<% 3.downto(0) do |i|%>
		<div class="form_row less_padding">
			<div class="subsector" id="subsector_<%= i %>">
				<div class="title">
					<%= t('cheesecake.form.fields.subsector')%> <div class="edited_subsector_name truncate" id="edited_subsector_name_<%= i %>">New subsector <%= i %></div>
				</div>
				<div class="content" <%= i==0 ? '' : 'style=display:none;' %>>
					<div class="form_row">
						<div class="form_label">
							<%= t('cheesecake.form.fields.name')%>:
						</div>
						<div class="form_field">
							<input type="text" class="form_tag form_subsector_name" id="form_subsector_name_<%= i %>" value="New subsector <%= i %>">
						</div>
					</div>
					<div class="form_row less_padding">
						<div class="form_label">
							<%= t('cheesecake.form.fields.permissions')%>:
						</div>
					</div>
					<div class="form_row less_padding">
						<div class="form_field permissions_field">
							<% default_permissions.each_with_index do |p, j| %>
								<div contain=<%= dom_id p %> class="checkboxPermissionOptionLeft">
									<input id="form_subsector_<%= j %>_<%= dom_id p %>" class="permission <%= dom_id p %>" type="checkbox"/>
									<label for="form_subsector_<%= j %>_<%= dom_id p %>"><%= p.description(:brief, :relation => "%RELATION_NAME%", :subject => current_subject) %></label>
									<div class="clearfloat"></div>
								</div>
							<% end %>
						</div>
						<div class="permissions_explanation" style="display:none;">
						  <% default_permissions.each_with_index do |p, j| %>
                  <div class="permission <%= dom_id p %> positive edited_subsector_<%= j %>_<%= dom_id p %>">
                    <div class="positive_message">
                      <%= p.description(:detailed, :relation => "%RELATION_NAME%", :subject => current_subject, :state => "positive") %>
                    </div>
                    <div class="negative_message" style="display:none;">
                      <%= p.description(:detailed, :relation => "%RELATION_NAME%", :subject => current_subject, :state => "negative") %>
                    </div>
                  </div>
              <% end %>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="form_row less_padding">
      <div class="add_subsector" id="add_subsector_<%= i %>">
        +
      </div>
    </div>
		<% end %>
	</div>
</form>

<%= javascript_tag do %>
  $(function(){
    $(".subsector .title").off("click.toggle");
    $(".subsector .title").on("click.toggle",function(){
      if(!$(this).parent().find(".content").is(':visible')){
        $(".subsector .content").each(function(){
          if($(this).parent().find(".content").is(':visible')){
            $(this).slideToggle();
          }
        });
        $(this).parent().find(".content").slideToggle();
      }
    })
  });
  $(".permissions_field").each(function(){
    $(this).tipsy({
      delayIn: 500,
      delayOut: 200,
      gravity: 'e',
      offset: 100,
      opacity: 1,
      className: 'permissions_explanation_tipsy_menu',
      html: true,
      hoverable: true,
      title: function(){
        var html = $(this).parent().find('.permissions_explanation').html();
        var relation = $(this).parent().parent().find('.form_subsector_name').val();
        return html.replace(/%RELATION_NAME%/g, relation);
      }
    });
  });  
<% end %>
