<% content_for :headers do %>
  <%= javascript_include_tag 'hoverIntent','superfish' %>
<% end %>
<div id="headerFront">
  <div class="banner_top banner_top_height">
    <div id="header_left">
      <div id="logo_txt">
        <%= link_to(image_tag('header-logo.png', :alt => t('socialstream')), root_path) %>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <% if user_signed_in? %>
        <div class="menu_list menu_white" id="menu_home">
          <ul>
            <li class="btn_menu_home"><%= link_to t('home'), home_path %></li>
            <li class="pipe">|</li>
            <li class="btn_menu_profile"><%= link_to(t('profile.one'), current_subject)%></li>
            <li class="pipe">|</li>
            <li class="btn_menu_browse"><%=link_to(t('browse'),users_path) %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div id="header_right">
       <% if user_signed_in? %>
        <%= render :partial => 'layouts/account' %>
        <div class="menu_list menu_white" id="menu_pipe" >
          <ul>
            <li class="pipe">|</li>
          </ul>
        </div>
        <%= render :partial => 'layouts/representation' %>
        <div class="menu_list menu_white" id="menu_account">
          <ul>
            <li class="pipe">|</li>
            <li class="btn_menu_exit"><%= link_to t('sign_out'), destroy_user_session_path %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>