<div id="current_user_info">
  <%= link_to(image_tag(current_user.logo.url(:representation), :width => 20, :height => 20, :class => 'menu_icon'), current_user) %>
  <%= link_to(current_user.name, current_user) %>

  <%= t('representation.action') %>
</div>

<% representations = current_user.represented.unshift(current_user) - [current_subject] %>

<div id="representations_menu">
  <ul class="sf-menu" >
    <li id="representation_li">
      <a href="#" class="sf-with-ul" style="background: transparent url('<%= current_subject.logo.url(:representation)%>') no-repeat left top;"><%= current_subject.name %><span class="sf-sub-indicator"> »</span></a>
      <ul>
        <% representations.each do |representation| %>
        <li>
        <%= link_to representation.name, { :s => representation.slug }, { :style => "background: transparent url('#{representation.logo.url(:representation)}') no-repeat left center;margin-left:2px;" } %>
       </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
