<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= yield(:title) || t('socialstream') %></title>
    <%= stylesheet_link_tag "default/base", "default/header","default/index","default/home", "default/carousel",
                            "default/sidebar", "default/toolbar","default/activities", 'default/ui.dropdownchecklist',
                            "default/menu","default/footer", :media => "screen, projection" %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min','rails', 'jquery.livequery', 'menu', 'ui.dropdownchecklist'
                               %>
    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>
    <%= yield :headers %>
  </head>
  <body>
    <div id="wrapper">
      <%= render :partial => "layouts/header" %>
      <div id="wrapper_body">
        <div id="toolbar">
          <div id="toolbarContent">
            <div class="space_center">
            </div>
            <div class="space_center">
            </div>
            <div class="space_center">
            </div>
              <%= yield :toolbar %>
          </div>
        </div>
        <div id="content">
          <% flash.each do |name, msg| %>
            <div id="<%= name %>">
            <%= msg %>
            </div>
          <% end %>

          <%= yield %>
        </div>
        <div id="sidebar">
          <div id="sidebarContent">
              <%=  yield :sidebar %>
          </div>
        </div>
        <br class="clearfloat" />
      </div>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
