<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= yield(:title).empty? ? t('socialstream') : yield(:title)%></title>
    <%= stylesheet_link_tag "header","frontpage", "base", "footer",
                            :media => "screen, projection" %>
    <%= javascript_include_tag 'jquery', 'jquery.livequery' %>
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />
    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <%= yield :javascript%>
    });
    </script>
    <%= yield :headers %>
  </head>
  <body>
    <div id="wrapper">
      <%= render :partial => "frontpage/header" %>
      <div id="wrapper_body">
        <%= yield %>
      </div>
      <%= render :partial => "frontpage/sponsor" %>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
